<div id="deep-dive-block-1" class="deep-dive-block">
  <div class="deep-dive-module">
    <article-stack-module *ngIf="firstStackRow" [stackTop]="firstStackTop" [stackRow]="firstStackRow"></article-stack-module>
  </div>
  <div class="deep-dive-module">
    <responsive-widget [embedPlace]="widgetPlace" [displayAtRes]="640"></responsive-widget>
  </div>
  <div class="deep-dive-module">
    <tile-stack-module *ngIf = "tilestackData" [tilestackData] = "tilestackData"></tile-stack-module>
  </div>
  <div class="deep-dive-module">
    <responsive-widget [embedPlace]="widgetPlace" [displayAtRes]="1024"></responsive-widget>
  </div>
  <div class="deep-dive-module">
    <video-stack-component *ngIf="videoData" [state]="geoLocation" [page]="1" [videoData]="videoData"></video-stack-component>
  </div>
  <div class="deep-dive-module">
    <responsive-widget [embedPlace]="widgetPlace" [displayAtRes]="640"></responsive-widget>
  </div>
<div class="deep-dive-module">
  <div class="deep-dive-boxScore">
    <box-scores *ngIf="dateParam" class="box-scores" [boxScores]="currentBoxScores" [calendarParams]="dateParam" (dateEmit)="getBoxScores($event)" [maxHeight]="maxHeight" [scroll]="scroll"></box-scores>
      <box-article-component *ngIf="currentBoxScores" [boxArticleData]="currentBoxScores.aiContent"></box-article-component>
  </div>
  </div>
  <div class="deep-dive-module">
    <responsive-widget [embedPlace]="widgetPlace" [displayAtRes]="1024"></responsive-widget>
  </div>
</div>
