<div id="deep-dive-block-1" class="deep-dive-block">
  <article-stack-module *ngIf="firstStackRow" [stackTop]="firstStackTop" [stackRow]="firstStackRow"></article-stack-module>
  <tile-stack-module *ngIf = "tilestackData" [tilestackData] = "tilestackData"></tile-stack-module>
  <responsive-widget [embedPlace]="widgetPlace"></responsive-widget>
  <video-stack-module *ngIf="geoLocation" [state]="geoLocation"></video-stack-module>
  <!-- adMed HERE -->
  <responsive-widget [embedPlace]="widgetPlace" [displayAtRes]="1024"></responsive-widget>
  <div class="deep-dive-boxScore">
    <box-scores *ngIf="dateParam && maxHeight" class="box-scores" [boxScores]="currentBoxScores" [calendarParams]="dateParam" (dateEmit)="getBoxScores($event)" [maxHeight]="maxHeight" [scroll]="scroll"></box-scores>
    <!-- adSmall HERE -->
    <responsive-widget [embedPlace]="widgetPlace" [displayAtRes]="640"></responsive-widget>

    <div class="deep-dive-module">
      <box-article-component *ngIf="currentBoxScores" [boxArticleData]="currentBoxScores.aiContent"></box-article-component>
    </div>
  </div>
</div>
