<section class="header container-fluid">
  <!-- <div class="row"> -->
    <div class="header-left col-md-6">
      <a href="/" class="header-left-icon"><img src="/app/public/homeRunLoyalLogo_Small.png" /></a>
      <div class="header-tabs">
        <a class="header-tabs-tab" [routerLink]="['Home-page']">Home</a>
        <a class="header-tabs-tab" [routerLink]="['Component-page']">Scores</a>
        <a class="header-tabs-tab" [routerLink]="['MLB-page']">Stats</a>
      </div>
    </div>
    <div class="header-right col-md-6">
      <div class="header-share">
        <!-- <span class='st_sharethis_large' displayText='ShareThis'></span> -->
      </div>
      <div class="header-search">
        <!-- <search></search> -->
      </div>
    </div>
  <!-- </div> -->
</section>
