.placeholderImg{
  width: 184px;
  height: 35px;
}
.header{
  height: auto;
  min-width: 640px;
  &-top{
    height: 65px;
    background-color: @masterBrandColor;
    .flexDisplay;
    .flexJustify(space-between);
  }//header-top ends
  &-hamburger{
    width: 65px;
    height: 65px;
    cursor: pointer;
    .globalDefaultModFont(20px, 400, @highlightGrey);
    .flexDisplay;
    .flexDirection(column);
    .flexJustify(center);
    .flexAlignItems(center);
    .fa-remove{
      display: none;
    }
    &:hover{
      background-color: darken(@masterBrandColor, 10%);
      .fa-remove{
        display: block;
      }
      .fa-bars{
        display: none;
      }
    }
  }
  &-logo{
    .flexDisplay;
    .flexAlignItems(center);
    img{
      width: 184px;
      height: 35px;
    }
  }
  &-right{
    .flexDisplay;
  }
  // modify search style begins
  &-search{
    .globalDefaultModFont(20px, 400, @highlightGrey);
    .flexDisplay;
    .flexDirection(column);
    .flexAlignItems(flex-end);
    &-searchBox{
      width: 320px;
      height: 60px;
      display: none;
    }
    &-searchBtn{
      height: 65px;
      width: 65px;
      position: relative;
      cursor: pointer;
      .flexDisplay;
      .flexDirection(column);
      .flexJustify(center);
      .flexAlignItems(center);
      .fa-remove{
        display: none;
      }
      &:hover{
        .header-search-searchBox{
          display: block;
        }
        .fa-search{
          display: none;
        }
        .fa-remove{
          display: block;
        }
        background-color: darken(@masterBrandColor, 10%);
      }
    }
  }//header-search ends
  &-share{
    cursor: pointer;
    span:first-child{
        display: none;
    }
    background-color: @masterBrandColor;
    height: 65px;
    width: 65px;
    text-align: center;
    .globalDefaultModFont(20px, 400, @highlightGrey);
    .flexDisplay;
    .flexDirection(column);
    .flexJustify(center);
    &:hover{
      background-color: darken(@masterBrandColor, 10%);
    }
  }//header-share ends
}
.st_sharethis_large{
  span:first-child{
    span:first-child{
      height: 65px;
      width: 65px;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
