.articles{
  padding: 10px;
  @colorImages: @masterBrandColor !important;
  background-color: @colorImages;
  border-color: @colorImages;
  border-radius: 5px;
  font-weight: 400;
  right: 25px;
  top: 10px;
  span:first-child{
    padding-right: 5px;
  }
  b{
    font-weight: 800;
  }
}

.news{
  width: 100%;
  color: @white;
  position: relative;
  font-size: 12px;
  .circles-left, .circles-right{
    top: 37%;
  }
    &-placeholder{
      width: 100%;
      height: 350px;
      background-color: @greyDarkBackGrnd;
      background-image: url('/app/public/baseball.png');
    }
    &-text{
      .flexDisplay;
      .flexDirection(column);
      width: 77%;
      height: auto;
      margin:auto;
      padding-top: 20%;
    }//.news-text ends
    &-headline{
      overflow: hidden;
      max-height: 70px;
      line-height: 1.2em;
      // .line-clamp-2;
      // .line-clamp;
      .globalDefaultFont(2.33em, 800);
    }
    &-preview{
      overflow: hidden;
      margin: 10px 0 26px 0;
      .line-clamp-3;
      .line-clamp;
      .globalDefaultFont(1.33em, 400);
    }
    &-footer{
      .flexDisplay;
      .flexJustify(space-between);
      .flexAlignItems(baseline);
      .globalDefaultFont(1em, 400);
      &-created{
        margin-right: 200px;
      }
      &-share{
        .flexDisplay;
        .flexAlignItems(center);
      }
      .fa-share-alt{
        font-size: 1.5em;
        padding-right: 5px;
      }
    }
}//.news ends
