.articles{
  padding: 10px;
  @colorImages: @masterBrandColor !important;
  background-color: @colorImages;
  border-color: @colorImages;
  border-radius: 5px;
  font-weight: 400;
  right: 25px;
  top: 10px;
  span:first-child{
    padding-right: 5px;
  }
  b{
    font-weight: 800;
  }
}

.news{
  width: 100%;
  color: @white;
  position: relative;
  font-size: 12px;
    &-placeholder{
      width: 100%;
      height: 350px;
      background-color: @textEmphasisGrey;
      background-image: url('/app/public/baseball.png');
      position: relative;
    }
    &-text{
      .flexDisplay;
      .flexDirection(column);
      width: 77%;
      height: auto;
      margin:auto;
      padding-top: 20%;
    }//.news-text ends
    &-headline{
      overflow: hidden;
      max-height: 70px;
      line-height: 1.2em;
      // .line-clamp-2;
      // .line-clamp;
      .globalDefaultFont(28px, 800);
    }
    &-preview{
      overflow: hidden;
      margin: 10px 0 26px 0;
      line-height: 1.2em;
      .line-clamp-3;
      .line-clamp;
      .globalDefaultFont(16px, 400);
    }
    &-footer{
      .flexDisplay;
      .flexJustify(space-between);
      .flexAlignItems(baseline);
      .globalDefaultFont(12px, 400);
      .st_sharethis_large{
          cursor: pointer;
      }
      .stButton{
        span:first-child{
          display: none;
        }
      }
      &-author{
        padding-right: 10px;
      }
      &-created{
        margin-right: 150px;
      }
      &-share{
        .flexDisplay;
        .flexAlignItems(center);
      }
      .fa-share-alt{
        font-size: 1.5em;
        padding-right: 5px;
      }
    }
    .st_sharethis_large{
      .flexDisplay;
      .flexAlignItems(center);
      &:hover{
        color: @masterBrandColor;
      }
    }
}//.news ends
