.comparison-module{
  &-tiles{
    background: -webkit-linear-gradient(0deg, #3299ff 0%, #ff2232 100%);
    background: -moz-linear-gradient(0deg, #3299ff 0%, #ff2232 100%);
    background: -o-linear-gradient(0deg, #3299ff 0%, #ff2232 100%);
    background: -ms-linear-gradient(0deg, #3299ff 0%, #ff2232 100%);
    background: linear-gradient(90deg, #3299ff 0%, #ff2232 100%);
  }

  &-legend{
    padding: 20px 25px;

    li{
      display: inline-block;
      float: right;
      margin-left: 20px;
    }

    &-title{
      font-size: 18px;
    }

    &-circle{
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: @black;
      display: inline-block;
      vertical-align: middle;
      margin-right: 4px;
    }
  }

  &-bars{
    padding: 0px 25px;
  }
}

.tabs-placeholder{
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  background-color: #000;
  color: @white;
  text-align: center;
}