.comparison-module{
  &-tiles{
    background: -webkit-linear-gradient(0deg, #3299ff 0%, #ff2232 100%);
    background: -moz-linear-gradient(0deg, #3299ff 0%, #ff2232 100%);
    background: -o-linear-gradient(0deg, #3299ff 0%, #ff2232 100%);
    background: -ms-linear-gradient(0deg, #3299ff 0%, #ff2232 100%);
    background: linear-gradient(90deg, #3299ff 0%, #ff2232 100%);
    position: relative;

    &-vs{
      width: 50px;
      height: 50px;
      line-height: 47px;
      background-color: @black;
      border: 1px solid @white;
      border-radius: 50%;
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      margin: auto;
      color: @white;
      text-align: center;
      font-size: 18px;
      font-weight: 800;
    }
  }

  &-bars{
    padding: 0px 15px;
    margin-bottom: 10px;
  }
}

.tabs-placeholder{
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  background-color: #000;
  color: @white;
  text-align: center;
}