<!--image (no hover link)-->
<img *ngIf="!imageData.urlRouteArray && !textOnly"
  [src]='imageUrl'
  onerror="this.src='/app/public/no-image.png';"  alt="Team Player Logo"/>

<!--image (with hover link)-->
<a *ngIf="imageData.urlRouteArray && !textOnly"
  [routerLink]="imageData.urlRouteArray"
  class="image-round-hover">
  <img
    [src]='imageUrl'
    onerror="this.src='/app/public/no-image.png';"  alt="Team Player Logo"/>
  <div [innerHtml]="imageData.hoverText"></div>
</a>

<!--text (no image or hover link)-->
<span *ngIf="textOnly && imageData.text"
  [innerHtml]="imageData.text"></span>
