.roundImageMain(@diameter) {
  width: @diameter;
  height: @diameter;
}

.roundImageSub(@diameter) {
  img {
    width: @diameter;
    height: @diameter;
  }
}

.roundText(@widthHeight, @shadowSize, @shadowColor@bgColor, @fontSize) {
  box-shadow: 0 0 0 @shadowSize @shadowColor;
  width: @widthHeight;
  height: @widthHeight;
  background-color: @bgColor;
  font-size: @fontSize;
}

.imageShadow(@shadowSize, @shadowColor) {
  img {
    box-shadow: 0 0 0 @shadowSize @shadowColor;
    .borderRadiusPrefix(50%);
  }
}

.imageHover(@hoverColor) {
  .image-round-hover div {
    background-color: @hoverColor;
  }
}

.image-round {  
  position: relative;
  
  &-main img {
    width: 100%;
    height: 100%;
    .borderRadiusPrefix(50%);
    .backgroundClipPBoxPrefixes;
  }
  
  &-sub {
    display: inline-block;
    position: absolute;
    
    img {
      .borderRadiusPrefix(50%);
      .backgroundClipPBoxPrefixes;      
    }
    
    &-text {
      .flexDisplay;
      .flexDirection(column);
      .flexJustify(center); 
      text-align: center;
      vertical-align: center;
      .borderRadiusPrefix(50%);
      .backgroundClipPBoxPrefixes;
    }     
  }
  
  &-hover {
    position: relative;
    display: inline-block;
    
    &:hover {
      div {
        .flexDisplay;
      }
    }
    
    div {
      .flexDirection(column);
      .flexJustify(center);
      .borderRadiusPrefix(50%);
      .backgroundClipPBoxPrefixes;
      display: none;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: @masterImageHover;
      
      text-align: center;
      .globalDefaultModFont(18px, 900, @white);
    
      p {
        margin: 0px;
        line-height: 20px;
        &:first-child {
          .globalDefaultModFont(32px, 400, @white); 
          line-height: 36px;
        }
      }
    }
  }

  &-upper-right { 
    top: 0;
    right: 0;
  }

  &-upper-left {  
    top: 0;
    left: 0;
  }

  &-lower-right { 
    bottom: 0;
    right: 0;
  }

  &-lower-left {  
    bottom: 0;
    left: 0;
  }
}
