.billboard {
  width: 580px;
  height: 370px;
  font-family: @globalFont;
  box-shadow: @modBoxShadow;
  margin: 30px 0;
  &-header {
    background-color: #f2f2f2;
    width: 100%;
    height: 40px;
    &-placeholder {
      height: 40px;
      width: 60px;
      position: absolute;
      border-top: 40px solid #e1e1e1;
      border-right: 15px solid #f2f2f2;
    }
    &-name {
      font-family: inherit;
      position: relative;
      left: 65px;
      color: #000;
      font-size: 20px;
      font-weight: 700;
      line-height: 38px;
      text-align: left;
      text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.35);
    }
    &-recent {
      font-family: inherit;
      position: relative;
      color: #000;
      font-size: 16px; /* Approximation due to font substitution */
      font-weight: 700;
      text-align: left;
      line-height: 40px;
      float: right;
      margin-right: 10px;
      .fa {
        color: @masterBrandColor;
      }
    }
  }
  &-main-articles {
    width: 390px;
    height: 320px;
    float: left;
    &-top {
      width: 100%;
      height: 160px;
      &-image {
        background-color: #f2f2f2;
        width: 140px;
        height: 80px;
        position: relative;
        top: 15px;
        left: 15px;
        float: left;
      }
      &-title {
        width: 350px;
        height: 60px;
        font-family: inherit;
        color: #000;
        font-size: 18px;
        font-weight: 800;
        text-align: left;
        position: relative;
        top: 15px;
        left: 30px;
      }
      &-event {
        font-family: inherit;
        color: #999;
        font-size: 12px;
        font-weight: 400;
        text-align: left;
        position: relative;
        top: 24px;
        left: 30px;
        &-data {
          font-weight: 800;
        }
      }
      &-description {
        width: 375px;
        height: 35px;
        font-family: Georgia;
        color: #000;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
        border-left: 3px solid #f2f2f2;
        display: inline-block;
        position: relative;
        top: 25px;
        left: 15px;
        padding-left: 5px;
      }
    }
    &-bottom {
      width: 100%;
      height: 160px;
      &-image {
        background-color: #f2f2f2;
        width: 140px;
        height: 80px;
        position: relative;
        top: 15px;
        left: 15px;
        float: left;
      }
      &-title {
        width: 350px;
        height: 60px;
        font-family: inherit;
        color: #000;
        font-size: 18px;
        font-weight: 800;
        text-align: left;
        position: relative;
        top: 15px;
        left: 30px;
      }
      &-event {
        font-family: inherit;
        color: #999;
        font-size: 12px;
        font-weight: 400;
        text-align: left;
        position: relative;
        top: 24px;
        left: 30px;
        &-data {
          font-weight: 800;
        }
      }
      &-description {
        width: 375px;
        height: 35px;
        font-family: Georgia;
        color: #000;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
        border-left: 3px solid #f2f2f2;
        display: inline-block;
        position: relative;
        top: 25px;
        left: 15px;
        padding-left: 5px;
      }
    }
    &-hr {
      border-bottom: 1px solid rgba(167, 167, 167, 0.5);
      width: 370px;
      margin: 0 auto;
    }
  }
  &-news {
    width: 188px;
    height: 330px;
    float: right;
    position: relative;
    -moz-box-shadow: -10px 0 30px 0 rgba(167, 167, 167, 0.5);
    -webkit-box-shadow: -10px 0 30px 0 rgba(167, 167, 167, 0.5);
    box-shadow: -10px 0 30px 0 rgba(167, 167, 167, 0.5);
    &-profile-left {
      float: left;
      height: 74px;
      width: 94px;
      background-color: #e1e1e1;
    }
    &-profile-right {
      float: right;
      height: 74px;
      width: 94px;
      background-color: #fff;
    }
    &-notification {
      width: 100%;
      height: 30px;
      background-color: #ebebeb;
      font-family: inherit;
      color: #000;
      font-size: 11px;
      font-weight: 700;
      line-height: 30px;
      text-align: center;
      clear: both;
      .fa {
        color: @masterBrandColor;
      }
    }
    &-updates {
      width: 100%;
      height: 200px;
      &-vBar {
        background-color: #ebebeb;
        width: 5px;
        height: 140px;
        position: absolute;
        left: 31px;
        top: 130px;
      }
      &-update1 {
        height: 65px;
        &-circle1 {
          border-radius: 50%;
          border: 1px solid #ebebeb;
          background-color: #fff;
          width: 48px;
          height: 48px;
          position: relative;
          top: 10px;
          left: 10px;
          float: left;
        }
        &-title1 {
          font-family: inherit;
          color: #000000;
          font-size: 12px;
          font-weight: 400;
          text-align: left;
          float: right;
          position: relative;
          width: 120px;
          top: 10px;
        }
        &-time1 {
          font-family: inherit;
          color: #666;
          font-size: 10px;
          font-weight: 400;
          text-align: left;
          position: relative;
          top: 13px;
          left: 20px;
        }
      }
      &-update2 {
        height: 65px;
        &-circle2 {
          border-radius: 50%;
          border: 1px solid #ebebeb;
          background-color: #fff;
          width: 48px;
          height: 48px;
          position: relative;
          top: 10px;
          left: 10px;
          float: left;
        }
        &-title2 {
          font-family: inherit;
          color: #000000;
          font-size: 12px;
          font-weight: 400;
          text-align: left;
          float: right;
          position: relative;
          width: 120px;
          top: 10px;
        }
        &-time2 {
          font-family: inherit;
          color: #666;
          font-size: 10px;
          font-weight: 400;
          text-align: left;
          position: relative;
          top: 13px;
          left: 20px;
        }
      }
      &-update3 {
        height: 65px;
        &-circle3 {
          border-radius: 50%;
          border: 1px solid #ebebeb;
          background-color: #fff;
          width: 48px;
          height: 48px;
          position: relative;
          top: 10px;
          left: 10px;
          float: left;
        }
        &-title3 {
          font-family: inherit;
          color: #000000;
          font-size: 12px;
          font-weight: 400;
          text-align: left;
          float: right;
          position: relative;
          width: 120px;
          top: 10px;
        }
        &-time3 {
          font-family: inherit;
          color: #666;
          font-size: 10px;
          font-weight: 400;
          text-align: left;
          position: relative;
          top: 13px;
          left: 20px;
        }
      }
      &-load-more {
        background-color: #ebebeb;
        width: 100%;
        height: 24px;
        font-family: 'Myriad Pro';
        color: #3a3a3a;
        font-size: 12px;
        font-weight: 600;
        line-height: 24px;
        text-align: center;
        position: absolute;
        bottom: 0;
        .fa {
          color: #3a3a3a;
        }
      }
    }
  }
}