<div class="billboard">
    <div class="billboard-header">
        <div class="billboard-header-placeholder"></div>
        <span class="billboard-header-name">Profile Name</span>
        <span class="billboard-header-recent">
            <i class="fa fa-clock-o"></i> Most Recent Game: April 13, 2016
        </span>
    </div>
    <div class="billboard-main-articles">
        <div class="billboard-main-articles-top">
            <div class="billboard-main-articles-top-image"></div>
            <div class="billboard-main-articles-top-title">Herp derpsum perp dee derp, mer herderder. Sherp berp
                derpler.
            </div>
            <div class="billboard-main-articles-top-event">Last Game: <span
                    class="billboard-main-articles-top-event-data">Pro. 1 01 - Pro. 2 02</span></div>
            <div class="billboard-main-articles-top-description">Herp derpsum perp dee derp, mer herderder. Sherp berp
                derpler, herpem serp tee perper merpus terp dee.
            </div>
        </div>
        <div class="billboard-main-articles-hr"></div>

        <div class="billboard-main-articles-bottom">
            <div class="billboard-main-articles-bottom-image"></div>
            <div class="billboard-main-articles-bottom-title">Herp derpsum perp dee derp, mer herderder. Sherp berp
                derpler.
            </div>
            <div class="billboard-main-articles-bottom-event">Last Game: <span
                    class="billboard-main-articles-bottom-event-data">Pro. 1 01 - Pro. 2 02</span></div>
            <div class="billboard-main-articles-bottom-description">Herp derpsum perp dee derp, mer herderder. Sherp
                berp
                derpler, herpem serp tee perper merpus terp dee.
            </div>
        </div>
    </div>
    <div class="billboard-news">
        <div class="billboard-news-profile-left"></div>
        <div class="billboard-news-profile-right"></div>
        <div class="billboard-news-notification"><i class="fa fa-bell-o"></i> Get Real-Time Notifications</div>
        <div class="billboard-news-updates">
            <div class="billboard-news-updates-vBar"></div>
            <div class="billboard-news-updates-update1">
                <div class="billboard-news-updates-update1-circle1"></div>
                <div class="billboard-news-updates-update1-title1">Herp derpsum perp dee derp, mer sherpa derpa.</div>
                <div class="billboard-news-updates-update1-time1">10:58PM 37 minutes ago...</div>
            </div>
            <div class="billboard-news-updates-update2">
                <div class="billboard-news-updates-update2-circle2"></div>
                <div class="billboard-news-updates-update2-title2">Herp derpsum perp dee derp, mer sherpa derpa.</div>
                <div class="billboard-news-updates-update2-time2">10:58PM 37 minutes ago...</div>
            </div>
            <div class="billboard-news-updates-update3">
                <div class="billboard-news-updates-update3-circle3"></div>
                <div class="billboard-news-updates-update3-title3">Herp derpsum perp dee derp, mer sherpa derpa.</div>
                <div class="billboard-news-updates-update3-time3">10:58PM 37 minutes ago...</div>
            </div>
            <div class="billboard-news-updates-load-more"><i class="fa fa-refresh"></i> LOAD MORE</div>
        </div>
    </div>
</div>