.billboard {
  width: 520px;
  height: 399px;
  font-family: @globalFont;
  box-shadow: @modBoxShadow;
  margin: 0 auto;
  margin-bottom: 30px;
  @media @mobile-s {
    display: none;
  }
}

.billboard-320x761 {
  width: 320px;
  height: 761px;
  font-family: @globalFont;
  box-shadow: @modBoxShadow;
  margin: 0 auto;
  margin-bottom: 20px;
  @media (min-width: 640px) {
    display: none;
  }
}