
.score-transition2{
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.side_scroll{
  width:100%;
  height:auto;
  position: relative;
  margin: 10px 0 15px;
  text-align: center;
  .no-select;
  &-box{
    width:100%;
    height:160px;
    padding-left: 50px;
    overflow: hidden;
  }
  &-container{
    .flexDisplay;
    .flexDirection(row);
    .flexWrap(nowrap);
    .flexJustify(space-between);
    width:auto;
    height:100%;
    position: relative;
  }
  &-transition{
    .flexDisplay;
    .flexDirection(row);
    .flexWrap(nowrap);
    height:100%;
  }
  &-left{
    width:40px;
    height:105px;
    background-color: @black;
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    margin: auto 0;
    .globalDefaultModFont(30px, 400, @white);
    cursor: pointer;
    z-index: 10;
   & > i {
     line-height: 105px;// same as height of button
    }
  }
  &-right{
    width:40px;
    height:105px;
    background-color: @black;
    position: absolute;
    right:0;
    top:0;
    bottom:0;
    margin: auto 0;
    .globalDefaultModFont(30px, 400, @white);
    cursor: pointer;
    z-index: 10;
    & > i {
      line-height: 105px;// same as height of button
     }
  }
  .disabled{
    cursor: default;
    background-color:@strokeGrey;
    .no-select;
  }
  &-overlayright{
    width:50px;
    height:100%;
    background: linear-gradient(-90deg, @white 0%, @whiteGradient 100%);
    position: absolute;
    top:0;
    right:0;
    z-index:1;
  }
  &-overlayleft{
    width:50px;
    height:100%;
    background: linear-gradient(90deg, @white 0%, @whiteGradient 100%);
    position: absolute;
    top:0;
    left:0;
    z-index:1;
  }
}

@media @mobile{
  .side_scroll-transition{
    width:640px;
  }
}

@media @tablet{
  .side_scroll-transition{
    width:640px;
  }
}

@media @desktop-m{
  .side_scroll-transition{
    width:640px;
  }
}

@media @desktop-l{
  .side_scroll-transition{
    width:640px;
  }
}
@media @desktop-xl{
  .side_scroll-transition{
    width:1280px;
  }
}
