<div class="side_scroll">
  <div class="side_scroll-left" (click)="left()" [ngClass]="{'disabled': current <= 0}"><i class="fa fa-angle-left"></i></div>
  <div class="side_scroll-box">
    <owl-carousel *ngIf="options && data" class="side_scroll-transition ss_owl" [options]="options" (carouselCount)="counter($event)" [data]="data">
      <ng-content></ng-content>
    </owl-carousel>
  </div>
  <div class="side_scroll-overlay"></div>
  <div class="side_scroll-right" (click)="right()" [ngClass]="{'disabled': current >= maxLength}"><i class="fa fa-angle-right"></i></div>
</div>
