<div class="side_scroll">
  <div class="side_scroll-left disabled" (click)="left()"><i class="fa fa-angle-left"></i></div>
  <div class="side_scroll-box">
    <div class="side_scroll-transition">
      <!-- owl carousel for slider -->
      <div class="owl-carousel">
        <div class="owl-item">
          <ng-content></ng-content>
        </div>
      </div>
      <!-- owl carousel for slider -->
    </div>
  </div>
  <div class="side_scroll-overlay"></div>
  <div class="side_scroll-right" (click)="right()"><i class="fa fa-angle-right"></i></div>
</div>
