.season-stats{
  &-bars{
    padding: 0px 25px 20px 25px;
  }

  &-summary-placeholder{
    width: 100%;
    height: 250px;
    line-height: 250px;
    text-align: center;
    text-transform: uppercase;
    background-color: #3098FF;
    color: @white;
  }
}