<div class="module-container">
    <module-header [modHeadData]="moduleHeaderData"></module-header>

    <slider-carousel [carouselData]="carouselDataArray"></slider-carousel>

    <tabs (tabSelected)="tabSelected($event)">
      <tab *ngFor="#tab of tabs" [tabTitle]="tab.tabTitle" [active]="tab.isActive">
        <comparison-legend [comparisonLegendInput]="comparisonLegendData"></comparison-legend>
        <div class="comparison-module-bars">
          <comparison-bar *ngFor="#item of tab.barData; #i = index" [comparisonBarInput]="item" [dataIndex]="dataIndex" [index]="i"></comparison-bar>
        </div>
      </tab>
    </tabs>

    <module-footer [footerData]="footerData"></module-footer>
</div>
