<section class="stackRows row">
  <div *ngFor="let stackRow of stackRow;">
    <a class="stackSmall {{gridStackCol}}" [routerLink]="stackRow.stackRowsRoute">
        <div class="stackSmall-image">
          <rectangle-image [data]="stackRow.imageConfig"></rectangle-image>
        </div>
        <div class="stackSmall-text">
          <div class="stackSmall-text-keyword"><span [innerHTML]="stackRow.keyword | safeHtml"></span><span [innerHTML]="stackRow.publishedDate | safeHtml"></span></div>
          <div class="stackSmall-text-subHeadline" [innerHTML]="stackRow.description | safeHtml"></div>
        </div>
    </a>
    <div class="stackSmall-breakLine"></div>
  </div>
</section>
