
<div class="stack-rows-container">
  <!-- each item is a placeholder -->
  <div class="stack-rows-container-item">
    <div class="stack-rows-container-item-image"></div>
    <div class="stack-rows-container-item-text">
      <div class="stack-rows-container-item-text-details">[Keyword]<span>[Date Date Date]</span></div>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
</div>
  </div>
  <div class="stack-rows-container-item">
    <div class="stack-rows-container-item-image"></div>
    <div class="stack-rows-container-item-text">
      <div class="stack-rows-container-item-text-details">[Keyword]<span>[Date Date Date]</span></div>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
</div>
  </div>
  <div class="stack-rows-container-item">
    <div class="stack-rows-container-item-image"></div>
    <div class="stack-rows-container-item-text">
      <div class="stack-rows-container-item-text-details">[Keyword]<span>[Date Date Date]</span></div>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
  </div>
  </div>
  <div class="stack-rows-container-item">
    <div class="stack-rows-container-item-image"></div>
    <div class="stack-rows-container-item-text">
      <div class="stack-rows-container-item-text-details">[Keyword]<span>[Date Date Date]</span></div>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
</div>
  </div>
  <div class="stack-rows-container-item">
    <div class="stack-rows-container-item-image"></div>
    <div class="stack-rows-container-item-text">
      <div class="stack-rows-container-item-text-details">[Keyword]<span>[Date Date Date]</span></div>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
</div>
  </div>
  <div class="stack-rows-container-item">
    <div class="stack-rows-container-item-image"></div>
    <div class="stack-rows-container-item-text">
      <div class="stack-rows-container-item-text-details">[Keyword]<span>[Date Date Date]</span></div>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
</div>
  </div>
</div>
