.stackSmall {
    height: 75px;
    margin: 15px 0;
    .flexDisplay;
    &-image {
      width: 100px;
      height: 75px;
      background-color: @masterBackgroundColor;
      margin-right: 10px;
    }
    &-text {
      line-height: 1.2em;
      text-align: left;
      width: 180px;
      height: 64px;
      overflow: hidden;
      text-overflow: ellipsis;
      &-keyword {
         font-weight: 800;
         text-transform: uppercase;
         margin-bottom: 10px;
         .globalDefaultModFont(10px, 800, @black);
         > span:last-child{
           margin-left: 5px;
           color: @bulletGrey;
           overflow: hidden;
           height: 50px;
         }
      }
      &-subHeadline {
         .globalDefaultFont(12px, 400);
         p{
           line-height: 1.2em;
         }
      }
    }
}
@media @desktop-m {
 .stackSmall {
    &-text {
      width: 200px;
      height: 74px;
      &-keyword {
        font-size: 12px;
      }
      &-subHeadline{
        font-size: 14px;
      }
    }
  }
}

@media @desktop-xl {
  .stackRow {
    .row {
      width: 313px;
      margin-left: 20px;
    }
  }
  .stackSmall {
    width: 313px;
    &-image {
      display: none;
    }
    &-text {
      width: 313px;
    }
    &-breakLine {
      width: 315px;
      height: 1px;
      background-color: @highlightGrey;
    }
  }//stackSmall ends
}
