.stack-rows-container {
  display: flex;
  flex-wrap: wrap;
  // width:610px;
  // margin: auto;
  &-item {
    width:50%;
    height: 75px;
    display: flex;
    margin-top: 15px;
    &-image {
      width: 100px;
      height: 75px;
      background-color: @masterBackgroundColor;
      margin-right: 10px;
    }
    &-text {
      font-family: Lato;
      font-size: 10px;
      font-weight: 900;
      line-height: 1.5;
      color: #000000;
      text-align: left;
      width:179px;
      height: 60px;
     &-details {
       font-weight: bold;
       >span {
         color: @strokeGrey;
         margin-left: 3px;
       }
     }
    }
  }
}
@media (min-width: 768px) {
.stack-rows-container {
  width: 670px;
  &-item {
    &-text {
    font-size:11px;
    width:200px;
    height: 66px;
      }
    }
  }
}
@media(min-width: 1300px) {
  .stack-rows-container {
    display: block;
    width: auto;
    &-item {
      width: 313px;
      margin-left: 20px;
      border-bottom: 1px solid @strokeGrey;
      margin-top:0px;
      height:auto;

      &-image {
        display: none;
      }
      &-text {
        width: 100%;
        height: auto;
        margin: 21px 0px 21px 0px;
      }
    }
  }
}
