.stackSmall {
    width:50%;
    height: 75px;
    margin-top: 15px;
    .flexDisplay;
    &-image {
      width: 100px;
      height: 75px;
      background-color: @masterBackgroundColor;
      margin-right: 10px;
    }
    &-text {
      line-height: 1.2em;
      text-align: left;
      width: 180px;
      height: 57px;
      overflow: hidden;
      text-overflow: ellipsis;
      &-keyword {
         font-weight: 800;
         text-transform: uppercase;
         margin-bottom: 10px;
         .globalDefaultModFont(10px, 800, @black);
      }
      &-subHeadline {
         .globalDefaultFont(12px, 400);
      }
    }
}
@media @desktop-m {
 .stackSmall {
    &-text {
      width: 200px;
      height: 66px;
      &-keyword {
        font-size: 12px;
      }
      &-subHeadline{
        font-size: 14px;
      }
    }
  }
}

@media @desktop-xl {
  .stackSmall {
    &-image {
      display: none;
    }
    &-text {
      width: 313px;
    }
  }
}
