.comparison {
  width: 580px;
  height: 198px;
  font-family: @globalFont;
  @media @mobile-s {
    width: 100%;
    height: 113px;
    margin-bottom: 10px;
  }
  &-double {
    @media @mobile-s {
      margin-bottom: 30px;
      height: 110px;
    }
  }
  &-double-team {
    @media @mobile-s {
      margin-bottom: 30px;
      height: 110px;
    }
  }
  &-hr {
    background-color: @strokeGrey;
    width: 582px;
    height: 1px;
    margin: 25px 0;
    @media @mobile-s {
      margin: 10px 0 10px 0;
      width: 100%;
    }
  }

  &-single {
    width: 100%;
    height: 100%;
    &-logo {
      border-radius: 50%;
      border: 2px solid @strokeGrey;
      box-sizing: border-box;
      background-color: @white;
      width: 125px;
      height: 125px;
      display: block;
      margin: 0 auto;
      background-position: center center;
      background-size: contain;
      @media @mobile-s {
        width: 75px;
        height: 75px;
      }
    }
    &-team {
      margin-top: 5px;
      margin-left: 0;
      max-width: 100%;
      .globalDefaultFont(18px, 700);
      text-align: center;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      @media @mobile-s {
        .globalDefaultFont(12px, 700);
      }
    }
    &-record {
      margin-left: 0;
      max-width: 100%;
      .globalDefaultFont(12px, 400);
      text-align: center;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      @media @mobile-s {
        .globalDefaultFont(10px, 400);
      }
    }
  }

  &-roster {
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 10px;
    text-align: center;
    &-images {
      width: 100%;
      margin: 0 auto;
      position: relative;
    }
    &-circles {
      width: 100%;
      height: 130px;
      position: relative;
      &-player-image {
        border-radius: 50%;
        border: 2px solid @strokeGrey;
        box-sizing: border-box;
        background-color: @white;
        width: 125px;
        height: 125px;
        position: absolute;
        top: 15px;
        left: 39%;
        z-index: 1;
        background-position: center center;
        background-size: contain;
        @media @mobile-s {
          width: 75px;
          height: 75px;
          left: 50%;
          margin-right: -50%;
          transform: translate(-50%, 0%);
        }
      }
    }
    &-player {
      margin-top: 5px;
      margin-left: 0;
      max-width: 100%;
      .globalDefaultFont(18px, 700);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      position: relative;
      top: 150px;
      @media @mobile-s {
        .globalDefaultFont(12px, 700);
        top: 95px;
      }
    }
    &-position {
      margin-top: 5px;
      margin-left: 0;
      max-width: 100%;
      .globalDefaultFont(14px, 400);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      position: relative;
      top: 150px;
      line-height: 20px;
      @media @mobile-s {
        .globalDefaultFont(10px, 400);
        top: 92px;
        line-height: 10px;
      }
    }
  }

  &-upcoming {
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 10px;
    &-date {
      .globalDefaultFont(14px, 400);
      text-align: center;
      position: absolute;
      top: 45px;
      width: 100%;
      @media @mobile-s {
        .globalDefaultFont(10px, 400);
      }
    }
    &-images {
      width: 100%;
      margin: 0 auto;
      position: relative;
      @media @mobile-s {
        height: 90px;
      }
    }
    &-left {
      position: relative;
      width: 40%;
      float: left;
      left: 35px;
      @media @mobile-s {
        left: 0;
      }
      &-home-logo {
        border-radius: 50%;
        border: 2px solid @strokeGrey;
        box-sizing: border-box;
        background-color: @white;
        width: 125px;
        height: 125px;
        position: absolute;
        top: 15px;
        left: 10%;
        z-index: 1;
        background-position: center center;
        background-size: contain;
        @media @mobile-s {
          width: 75px;
          height: 75px;
          left: 50%;
          margin-right: -50%;
          transform: translate(-50%, 0%);
        }
      }
      &-home-info {
        position: relative;
        width: 75%;
        float: left;
        top: 55px;
        @media @mobile-s {
          position: relative;
          left: 0;
          width: 100%;
          top: 95px;
        }
        &-team {
          .globalDefaultFont(18px, 800);
          margin: 0 auto;
          text-align: center;
          position: relative;
          top: 90px;
          @media @mobile-s {
            .globalDefaultFont(12px, 800);
            top: 0;
          }
        }
        &-record {
          .globalDefaultFont(14px, 800);
          margin: 0 auto;
          text-align: center;
          padding-top: 5px;
          position: relative;
          top: 90px;
          @media @mobile-s {
            .globalDefaultFont(10px, 400);
            top: 0;
            padding-top: 0;
          }
        }
      }
    }
    &-right {
      position: relative;
      width: 40%;
      float: right;
      right: 35px;
      @media @mobile-s {
        right: 0;
      }
      &-away-logo {
        border: 2px solid @strokeGrey;
        border-radius: 50%;
        position: absolute;
        background-color: @white;
        width: 125px;
        height: 125px;
        z-index: 0;
        top: 15px;
        right: 10%;
        background-position: center center;
        background-size: contain;
        @media @mobile-s {
          width: 75px;
          height: 75px;
          left: 50%;
          margin-right: -50%;
          transform: translate(-50%, 0%);
        }
        &:hover {
          z-index: 1;
        }
      }
      &-away-info {
        position: relative;
        width: 75%;
        float: right;
        top: 55px;
        @media @mobile-s {
          position: relative;
          right: 0;
          width: 100%;
          top: 95px;
        }
        &-team {
          .globalDefaultFont(18px, 800);
          margin: 0 auto;
          text-align: center;
          position: relative;
          top: 90px;
          @media @mobile-s {
            .globalDefaultFont(12px, 800);
            top: 0;
          }
        }
        &-record {
          .globalDefaultFont(14px, 800);
          margin: 0 auto;
          text-align: center;
          padding-top: 5px;
          position: relative;
          top: 90px;
          @media @mobile-s {
            .globalDefaultFont(10px, 400);
            top: 0;
            padding-top: 0;
            padding-top: 0;
          }
        }
      }
    }
  }

  &-player {
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 10px;
    &-left {
      position: relative;
      width: 40%;
      float: left;
      left: 35px;
      @media @mobile-s {
        left: 25px;
      }
      &-circle {
        border-radius: 50%;
        border: 2px solid @strokeGrey;
        box-sizing: border-box;
        background-color: @white;
        width: 125px;
        height: 125px;
        position: absolute;
        top: 15px;
        left: 10%;
        z-index: 1;
        background-position: center center;
        background-size: contain;
        @media @mobile-s {
          width: 75px;
          height: 75px;
          left: 50%;
          margin-right: -50%;
          transform: translate(-50%, 0%);
        }
      }

      &-profile {
        position: relative;
        width: 75%;
        float: left;
        top: 55px;
        @media @mobile-s {
          position: relative;
          left: 0;
          width: 100%;
          top: 95px;
        }
        &-name {
          .globalDefaultFont(18px, 800);
          margin: 0 auto;
          text-align: center;
          position: relative;
          top: 90px;
          @media @mobile-s {
            .globalDefaultFont(12px, 800);
            top: 0;
          }
        }
        &-data {
          .globalDefaultFont(14px, 800);
          margin: 0 auto;
          text-align: center;
          padding-top: 5px;
          position: relative;
          top: 90px;
          @media @mobile-s {
            .globalDefaultFont(10px, 400);
            top: 0;
            padding-top: 0;
          }
        }
      }
    }
    &-vs {
      .globalDefaultFont(16px, 400);
      text-align: center;
      position: absolute;
      top: 65px;
      width: 100%;
      @media @mobile-s {
        .globalDefaultFont(12px, 400);
        top: 45px;
      }
    }
    &-right {
      position: relative;
      width: 40%;
      float: right;
      right: 35px;
      @media @mobile-s {
        right: 25px;
      }
      &-circle {
        border: 2px solid @strokeGrey;
        border-radius: 50%;
        position: absolute;
        background-color: @white;
        width: 125px;
        height: 125px;
        z-index: 0;
        top: 15px;
        right: 10%;
        background-position: center center;
        background-size: contain;
        @media @mobile-s {
          width: 75px;
          height: 75px;
          left: 50%;
          margin-right: -50%;
          transform: translate(-50%, 0%);
        }
      }
      &-profile {
        position: relative;
        width: 75%;
        float: right;
        top: 55px;
        @media @mobile-s {
          position: relative;
          right: 0;
          width: 100%;
          top: 95px;
        }
        &-name {
          .globalDefaultFont(18px, 800);
          margin: 0 auto;
          text-align: center;
          position: relative;
          top: 90px;
          @media @mobile-s {
            .globalDefaultFont(12px, 800);
            top: 0;
          }
        }
        &-data {
          .globalDefaultFont(14px, 800);
          margin: 0 auto;
          text-align: center;
          padding-top: 5px;
          position: relative;
          top: 90px;
          @media @mobile-s {
            .globalDefaultFont(10px, 400);
            top: 0;
            padding-top: 0;
          }
        }
      }
    }
  }
}