.comparison {
  width: 580px;
  height: 198px;
  font-family: @globalFont;
  &-hr {
    background-color: #cccccc;
    width: 582px;
    height: 1px;
    margin: 0 auto;
    margin: 25px 0 25px 0;
  }

  &-single {
    width: 100%;
    height: 100%;
    &-logo {
      border-radius: 50%;
      border: 2px solid #ccc;
      box-sizing: border-box;
      background-color: @white;
      width: 125px;
      height: 125px;
      top: 15px;
      left: 15px;
      margin: 0 auto;
      background-position: center center;
      background-size: contain;
    }
    &-team {
      margin-top: 5px;
      margin-left: 0;
      max-width: 100%;
      .globalDefaultFont(18px, 700);
      text-align: center;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    &-record {
      margin-top: 5px;
      margin-left: 0;
      max-width: 100%;
      .globalDefaultFont(12px, 400);
      text-align: center;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  &-double {
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 10px;
    &-circles {
      width: 100%;
      height: 130px;
      position: relative;
      &-circle1 {
        border-radius: 50%;
        border: 2px solid #ccc;
        box-sizing: border-box;
        background-color: #ffffff;
        width: 125px;
        height: 125px;
        position: absolute;
        top: 15px;
        left: 15px;
        z-index: 1;
        background-position: center center;
        background-size: contain;
      }
      &-sub-circle1 {
        border: 2px solid #ccc;
        border-radius: 50%;
        position: absolute;
        background-color: #ffffff;
        width: 125px;
        height: 125px;
        z-index: 0;
        top: 15px;
        left: 85px;
        background-position: center center;
        background-size: contain;
      }
      &-circle2 {
        border-radius: 50%;
        border: 2px solid #ccc;
        box-sizing: border-box;
        background-color: #ffffff;
        width: 125px;
        height: 125px;
        position: absolute;
        top: 15px;
        right: 85px;
        z-index: 1;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
      }
      &-sub-circle2 {
        border: 2px solid #ccc;
        border-radius: 50%;
        position: absolute;
        background-color: #ffffff;
        width: 125px;
        height: 125px;
        z-index: 0;
        top: 15px;
        right: 15px;
        background-position: center center;
        background-size: contain;
      }
      &-vs {
        .globalDefaultFont(16px, 400);
        position: relative;
        width: 10px;
        margin: 0 auto;
        top: 65px;
      }
    }
    &-profile-info-left {
      width: 34%;
      float: left;
      position: relative;
      left: 15px;
      top: 15px;
      &-profile-name1 {
        .globalDefaultFont(18px, 900);
        margin: 0 auto;
        text-align: center;
      }
      &-profile-data1 {
        .globalDefaultFont(14px, 400);
        margin: 0 auto;
        text-align: center;
        padding-top: 5px;
      }
    }
    &-profile-info-right {
      width: 34%;
      float: right;
      position: relative;
      right: 15px;
      top: 15px;
      &-profile-name2 {
        .globalDefaultFont(18px, 900);
        margin: 0 auto;
        text-align: center;
      }
      &-profile-data2 {
        .globalDefaultFont(14px, 400);
        margin: 0 auto;
        text-align: center;
        padding-top: 5px;
      }
    }
  }
}