<div *ngIf="doubleLogo" class="comparison">
    <div class="comparison-hr"></div>
    <div class="comparison-double">
        <div class="comparison-double-circles">
            <div class="comparison-double-circles-vs">VS</div>
            <div class="comparison-double-circles-circle1"></div>
            <div class="comparison-double-circles-sub-circle1"></div>
            <div class="comparison-double-circles-circle2"></div>
            <div class="comparison-double-circles-sub-circle2"></div>
        </div>
        <div class="comparison-double-profile-info-left">
            <div class="comparison-double-profile-info-left-profile-name1">Derpy derp</div>
            <div class="comparison-double-profile-info-left-profile-data1">
                2016 Derp Diderp
            </div>
        </div>
        <div class="comparison-double-profile-info-right">
            <div class="comparison-double-profile-info-right-profile-name2">Derpy derp</div>
            <div class="comparison-double-profile-info-right-profile-data2">
                2016 Derp Diderp
            </div>
        </div>
    </div>
    <div class="comparison-hr"></div>
</div>

<div *ngIf="singleLogo" class="comparison">
    <div class="comparison-single">
        <div class="comparison-single-logo"></div>
        <div class="comparison-single-team">Team Name</div>
        <div class="comparison-single-record">Record: 50-50</div>
    </div>
    <div class="comparison-hr"></div>
</div>