.right-column {
  width: 250px;
  position: absolute;
  right: 10px;
  margin-top: 10px;
  &-head {
    .globalDefaultModFont(22px, 800, @white);
    .flexDisplay;
    .flexJustify(center);
    height: 50px;
    background-color: @HeadToHeadAITitle;
    padding-top: 15px;
    > .fa-trophy {
      padding-right: 5px;
      color: #ffd700;
    }
    &-content {
      border: 1px solid #e4e4e4;
      box-sizing: border-box;
      background-color: #f2f2f2;
      width: 250px;
      height: auto;
      &-blurb {
        .globalDefaultFont(14px, 400);
        text-align: left;
        margin: 10px;
        &:hover {
          color: #bc2027;
        }
      }
      &-hr {
        border-top: 1px solid rgba(172, 172, 172, 0.5);
        width: 220px;
        position: relative;
        top: 0;
        left: 10px;
      }
    }
  }
}
