<div class="carousel-schedules">
  <circle-button></circle-button>
  <div class="schedules-display">
    <div class="schedules-display-next"><span>Next Game:</span> [DOW] [Month] [dd], [yyyy] | [Time] [AM/PM] [Zone]</div>
    <div class="schedules-display-detail">Home Stadium: [Stadium's] | <i class="fa fa-map-marker"></i> [City], [State]</div>
    <div class="schedules-display-competitors">
      <div class="competitors competitors-left">
        <div class="competitors-circle"></div>
      </div>
      <div class="competitors competitors-right">
        <div class="competitors-circle"></div>
      </div>
      <div class="schedules-display-versus">VS</div>
    </div>
  </div>
  <div class="schedules-heading">
    <div class="schedules-heading-title">
      <span>[YYYY] Season:</span><span>Upcoming Games</span>
    </div>
    <span class="schedules-heading-time">Times are displayed in ET and are subject to change</span>
  </div>
  <div class="schedules-table"> TABLE GOES HERE</div>
</div>
