<div class="carousel-schedules">
    <circle-button></circle-button>
    <img src="/app/public/placeholder_XL.png" onerror="this.src='/app/public/placeholder_XL.png'" />
    <div class="schedules-display">
      <div class="schedules-display-next"><span>Next Game:</span> [DOW] [Month] [dd], [yyyy] | [Time] [AM/PM] [Zone]</div>
      <div class="schedules-display-detail">Home Stadium: [Stadium's] | <i class="fa fa-map-marker"></i> [City], [State]</div>
      <div class="schedules-display-competitors"></div>
    </div>
</div>
