<carousel *ngIf="carouselData" [carouselData]="carouselData" (carouselDataPoint)="response($event)" [indexInput]="indexInput">
  <div class="schedules-display" *ngIf="dataPoint" [ngStyle]="dataPoint.backgroundGradient">
    <div class="schedules-display-next"><span>{{dataPoint.displayNext}}</span> {{dataPoint.displayTime}}</div>
    <div class="schedules-display-detail"><a>{{dataPoint.detail1Data}} {{dataPoint.detail1Value}}</a> <span class="pipe-seperator">|</span> <i class="fa fa-map-marker"></i> <a>{{dataPoint.detail2Value}}</a></div>
    <div class="schedules-display-competitors">
      <!---->
      <div class="competitors competitors-left">
        <div class="competitors-info">
          <div class="competitors-circle">
            <circle-image [data]="dataPoint.imageConfig1"></circle-image>
          </div>
        </div>
        <div class="competitors-info2">
          <div class="competitors-stats">
            <span *ngIf="dataPoint.teamUrl1" class="competitors-stats-team">
              <a [routerLink]="dataPoint.teamUrl1">{{dataPoint.teamName1}}</a>
            </span>
            <span *ngIf="!dataPoint.teamUrl1" class="competitors-stats-team">{{dataPoint.teamName1}}</span>
            <span class="competitors-stats-details">
              <i class="fa fa-map-marker"></i>{{dataPoint.teamLocation1}} <span class="pipe-seperator">|</span> {{dataPoint.teamRecord1}}
            </span>
          </div>
        </div>
      </div>
      <!---->
      <!---->
      <div class="competitors competitors-right">
        <div class="competitors-info">
          <div class="competitors-circle">
            <circle-image [data]="dataPoint.imageConfig2"></circle-image>
          </div>
        </div>
        <div class="competitors-info2">
          <div class="competitors-stats">
            <span class="competitors-stats-team">
              <a *ngIf="dataPoint.teamUrl2" [routerLink]="dataPoint.teamUrl2">{{dataPoint.teamName2}}</a>
            </span>
            <span *ngIf="!dataPoint.teamUrl2" class="competitors-stats-team">{{dataPoint.teamName2}}</span>
            <span class="competitors-stats-details">
              <i class="fa fa-map-marker"></i>{{dataPoint.teamLocation2}} <span class="pipe-seperator">|</span> {{dataPoint.teamRecord2}}
            </span>
          </div>
        </div>
      </div>
      <!---->
      <div class="schedules-display-versus">VS</div>
    </div>
  </div>
</carousel>
