<main class='row'>
    <section class='content-main eight-col'>
        <div class="page-container global-page">
            <backtab-component></backtab-component>
            <title-component [titleData]="titleData"></title-component>
            <div class="global-page-heading" [innerHtml]="auHeaderTitle"></div>
            <hr class="global-page-hr" />
            <div class="global-page-desc">
                <p>High Life street art selvage polaroid, mustache 90's Kickstarter brunch cold-pressed. Cliche swag freegan pour-over mixtape mustache. Art party twee asymmetrical, heirloom sustainable cray crucifix mlkshk Bushwick dreamcatcher master cleanse four dollar toast. Skateboard Pitchfork meditation Neutra wayfarers, cardigan put a bird on it blog American Apparel freegan post-ironic sartorial small batch tote bag. Pop-up art party brunch sustainable Blue Bottle, mustache salvia single-origin coffee cardigan Etsy Godard meggings lomo. Dreamcatcher 3 wolf moon High Life health goth gastropub, Echo Park raw denim try-hard. Freegan keytar fashion axe, crucifix migas tousled narwhal Brooklyn post-ironic Bushwick pug bicycle rights lo-fi cliche High Life.</p>

                <p>Art party you probably haven't heard of them Vice VHS jean shorts. Typewriter pug artisan, deep v lo-fi locavore shabby chic keytar gentrify asymmetrical PBR keffiyeh. Odd Future High Life XOXO chia, fixie paleo occupy cliche disrupt craft beer. Keytar photo booth chillwave scenester crucifix Schlitz. Paleo brunch mustache sustainable, flannel banh mi Odd Future. Seitan deep v heirloom craft beer Shoreditch lo-fi, pork belly taxidermy distillery yr letterpress ennui. Wayfarers narwhal taxidermy VHS.</p>
            </div>
            <!--Blocks Start-->
            <div class="global-page-blocks">
              <div *ngFor="#auBlock of auBlocks" class="global-page-blocks-block">
                  <span><img src="{{auBlock.iconUrl}}" onerror="this.src='app/public/profile_placeholder.png'" /></span>
                  <span>
                      <div>{{auBlock.titleText}}</div>
                      <div>{{auBlock.dataText}}</div>
                  </span>
                </div>
            </div>
            <!--Blocks End-->
        </div>

    </section>
    <div class="four-col">
        <widget-module></widget-module>
    </div>
</main>
