<section class='page-container'>
    <backtab-component></backtab-component>
    <title-component [titleData]="titleData"></title-component>
    <div class="global-page-heading" [innerHtml]="auHeaderTitle"></div>
    <hr class="global-page-hr" />
    <div class="global-page-desc">
        <p *ngFor="#paragraph of content">
            {{paragraph}}
        </p>
    </div>
    <!--Blocks Start-->
    <div class="global-page-blocks">
        <div *ngFor="#auBlock of auBlocks" class="global-page-blocks-block">
            <span><img src="{{auBlock.iconUrl}}" onerror="this.src='app/public/profile_placeholder.png'" /></span>
            <span>
                <div>{{auBlock.titleText}}</div>
                <div>{{auBlock.dataText}}</div>
            </span>
        </div>
    </div>
    <!--Blocks End-->
</section>
