.pane{
  padding: 1em;
  color: @black;
}
.nav-tabs{
  background-color: @greyBorder;
  height: 60px;
  width: 100%;
  .flexAlignItems(center);
  .flexDisplay;
  color:@greyTabText;
  li{
    height: 100%;
    .flexAlignItems(center);
    .flexDisplay;
    .flexJustify(center);
    text-align: center;
    padding: 0 15px;
    i{
      display: none;
    }
    &:hover {
      cursor: pointer;
    }
    &.active{
      i{
        display: inline-block;
        visibility: visible;
        color: @activeBlue;
        padding-right: 5px;
      }
      background-color: @white;
      font-weight: 800;
      color: @black;
      padding:0 10px;
    }
  }
}
