<footer class="footer container-fluid">
  <section class="footer-top col-xs-12">
    <!-- TODO if partner then hide the logo -->
    <a *ngIf="!partner" href="/"><img src="/app/public/homeRunLoyalLogo_Small.png" /></a>
    <div class="placeholderImg" *ngIf="partner"></div>
    <ul>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{currentUrl}}" target="_blank"><li id="share-facebook"><i class="fa fa-facebook"></i></li></a>
        <a href="https://twitter.com/home?status={{currentUrl}}" target="_blank"><li id="share-twitter"><i class="fa fa-twitter"></i></li></a>
        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{currentUrl}}" target="_blank"><li id="share-linkedin"><i class="fa fa-linkedin"></i></li></a>
        <a href="https://plus.google.com/share?url={{currentUrl}}" target="_blank"><li id="share-google"> <i class="fa fa-google-plus"></i></li></a>
    </ul>
  </section>

  <section class="footer-main col-xs-12">
    <br>
    <dropdown-directory [heading]="'Team Listings'">
      <li *ngFor="let link of teamDirectoryListings">
        <a [routerLink]='link.route'>{{link.text}}</a>
      </li>
    </dropdown-directory>
    <br>
    <dropdown-directory [heading]="'Player Listings'">
      <li *ngFor="let link of playerDirectoryListings">
        <a [routerLink]='link.route'>{{link.text}}</a>
      </li>
    </dropdown-directory>
    <br>
    <dropdown-directory [heading]="'MLB Teams'" [width]="'fullWidth'">
      <li *ngFor="let link of mlbTeamListings">
        <a [routerLink]='link.route'>{{link.text}}</a>
      </li>
    </dropdown-directory>
    <br>
    <ul>
        <li class="footer-text1"><a [routerLink]="['Home-page']"><b>{{linkName}}</b></a></li>
    </ul>
    <ul>
        <li><a [routerLink]="['Contact-us-page']">Advertise with {{pageName}}</a> <i class="fa fa-caret-right"></i></li>
        <li><a [routerLink]="['Contact-us-page']"><b>Contact Us</b></a> <i class="fa fa-caret-right"></i></li>
        <li><a [routerLink]="['Disclaimer-page']"><b>Disclaimer</b></a><i class="fa fa-caret-right"></i></li>
        <li><a [routerLink]="['About-us-page']"><b>About Us</b></a></li>
    </ul>
    <p class="footer-main-citation">Images Provided By: <em>USA Today Sports Images</em></p>
  </section>

</footer>
