.footer{
  height: auto;
  &-top{
    .flexDisplay;
    .flexJustify(space-between);
    .flexAlignItems(center);
    background-color: @mediumGrey;
    padding: 0 10%;
    img{
      margin: 9px auto;
    }
    ul{
      .flexDisplay;
      .flexJustify(space-between);
      text-align: center;
      width: 17%;
      li{
        border-radius: 50%;
        border: 1px solid @greyTextGlobal;
        color: @greyShareButton;
        font-size: 20px;
        font-weight: 400;
        height: 40px;
        width: 40px;
        i{
          padding-top: 10px;
        }//i ends
      }// ul li ends
    }// ul ends
    li:hover{
      background-color: @greySocialBarHover;
      &:first-child{
        color: @facebook;
        border-color: @facebook;
      }
      &:nth-child(2){
        color: @twitter;
        border-color: @twitter;
      }
      &:nth-child(3){
        color: @linkedin;
        border-color: @linkedin;
      }
      &:nth-child(4){
        color: @googlePlus;
        border-color: @googlePlus;
      }
    }//li:hover ends
    li:active{
      .fa{
        color: @white;
      }
      &:first-child{
        background-color: @facebook;
      }
      &:nth-child(2){
        background-color: @twitter;
      }
      &:nth-child(3){
        background-color: @linkedin;
      }
      &:nth-child(4){
        background-color: @googlePlus;
      }
    }//li:hover ends
  }// footer-top ends

  &-main{
    background-color: @listSeparatorGrey;
    height: auto;
    padding-bottom: 20px;
    .globalDefaultModFont(14px, 400, @white);
    .flexAlignItems(center);
    .flexDisplay;
    .flexDirection(column);
    h1{
      .globalDefaultModFont(30px, 900, @white);
    }// h1 ends
    ul{
      .flexDisplay;
      .flexWrap(wrap);
      .flexJustify(center);
      width: 55%;
      li{
        line-height: 25px;
        padding-right: 5px;
        i{
          padding: 5px;
        }
        &:hover{
          a{
            color: @masterBrandColor;
          }
        }
      }
    }// ul ends
    hr{
      width: 70%;
    }

  }// footer-main ends
  &-text1{
    a{
      .globalDefaultModFont(14px, 900, @masterBrandColor);
    }
  }
}
