<footer class="footer">

  <section class="footer-top">
    <a href="/"><img src="/app/public/homeRunLoyalLogo_Small.png" /></a>
    <ul>
        <li><a href="https://www.facebook.com/sharer/sharer.php?u={{currentUrl}}" target="_blank"><li><i class="fa fa-facebook "></i></li></a></li>
        <li><a href="https://twitter.com/home?status={{currentUrl}}" target="_blank"><li><i class="fa fa-twitter"></i></li></a></li>
        <li><a href="https://www.linkedin.com/shareArticle?mini=true&url={{currentUrl}}" target="_blank"><li><i class="fa fa-linkedin"></i></li></a></li>
        <li><a href="https://plus.google.com/share?url={{currentUrl}}" target="_blank"> <li><i class="fa fa-google-plus"></i></li></a></li>
    </ul>
  </section>

  <section class="footer-main">
    <h1>Major League Baseball</h1>
    <ul>
        <li>Team Listings </li>
        <!-- <li *ngFor="#listings of alphabets"><a [routerLink]='["Directory-page", {}]'>{{team.name}}</a></li> -->
        <li>A |</li>
    </ul>
    <ul>
        <li>Player Listings </li>
        <!-- <li *ngFor="#listings of alphabets"><a [routerLink]='["Directory-page", {}]'>{{player.name}}</a></li> -->
        <li>A |</li>
    </ul>
    <hr /><!--line break-->
    <ul>
      <li>MLB Teams: </li>
    </ul>
    <hr /><!--line break-->
    <ul>
      <li>You Might Like: </li>
    </ul>
    <hr /><!--line break-->
    <ul>
        <li><a href="/"><b>HomeRunLoyal.com</b></a> <i class="fa fa-caret-right"></i></li>
        <li><!--<a [routerLink]="['Contactus-page']">-->Advertise with HomeRunLoyal<!--</a>--> <i class="fa fa-caret-right"></i></li>
        <br />
        <li><!--<a [routerLink]="['Contactus-page']">--><b>Contact Us</b><!--</a>--> <i class="fa fa-caret-right"></i></li>
        <li><!--<a [routerLink]="['Disclaimer-page']">--><b>Disclaimer</b><!--</a>--> <i class="fa fa-caret-right"></i></li>
        <li><!--<a [routerLink]="['Contactus-page']">--><b>About Us</b><!--</a>--></li>
    </ul>
  </section>

</footer>
