<!--GAME info-->
<div class="game">
  <div class="game-title">
    <span>[Top of 3rd Inning]</span>
    <span>Runs</span><span>Hits</span><span>Errors</span>
  </div>
  <div class="game-box">
    <div class="game-box-main">
      <div class="game-box-main-image"></div>
      <div class="game-box-main-details">
        <span>[Home Team]</span>
        <span>Home [Record]</span>
      </div>
    </div>
    <div class="game-box-values">
      <span>2</span>
      <span>-</span>
      <span>-</span>
    </div>
  </div>
  <div class="game-box">
    <div class="game-box-main">
      <div class="game-box-main-image"></div>
      <div class="game-box-main-details">
        <span>[Home Team]</span>
        <span>Home [Record]</span>
      </div>
    </div>
    <div class="game-box-values">
      <span>2</span>
      <span>-</span>
      <span>-</span>
    </div>
  </div>
</div>
<!--GAME info END-->
