<!--GAME info-->
<div class="game" *ngIf="gameInfo">
  <div class="game-title">
    <span>{{gameInfo.inning}}</span>
    <span>Runs</span><span>Hits</span><span>Errors</span>
  </div>
  <div class="game-box">
    <div class="game-box-main">
      <div class="game-box-main-image">
        <circle-image [data]="homeInfo.homeImageConfig"></circle-image>
      </div>
      <div class="game-box-main-details">
        <span>{{homeInfo.homeTeamName}}</span>
        <span>Home {{homeInfo.homeRecord}}</span>
      </div>
    </div>
    <div class="game-box-values">
      <span>{{homeInfo.runs | statHyphenValue}}</span>
      <span>{{homeInfo.hits | statHyphenValue}}</span>
      <span>{{homeInfo.errors | statHyphenValue}}</span>
    </div>
  </div>
  <div class="game-box">
    <div class="game-box-main">
      <div class="game-box-main-image">
        <circle-image [data]="awayInfo.awayImageConfig"></circle-image>
      </div>
      <div class="game-box-main-details">
        <span>{{awayInfo.awayTeamName}}</span>
        <span>Away {{awayInfo.awayRecord}}</span>
      </div>
    </div>
    <div class="game-box-values">
      <span>{{awayInfo.runs | statHyphenValue}}</span>
      <span>{{awayInfo.hits | statHyphenValue}}</span>
      <span>{{awayInfo.errors | statHyphenValue}}</span>
    </div>
  </div>
</div>
<!--GAME info END-->
