<div *ngIf="profileHeaderData" class="page-container">
  <headline-component></headline-component>
  <profile-header [profileHeaderData]="profileHeaderData"></profile-header>
  <!-- daily update -->
  <!-- ai articles -->


  <headline-component></headline-component>
  <box-scores></box-scores>
  <schedules></schedules>
  <standings-module *ngIf="standingsData" [data]="standingsData" (tabSelected)="standingsTabSelected($event)"></standings-module>
  <!-- teamroster -->
  <team-roster-module></team-roster-module>

  <!-- playerstats -->
  <!-- transactions -->
  <draft-history *ngIf="draftHistoryData" [draftData]="draftHistoryData" [profHeader]="profileHeaderData"></draft-history>
  <!-- MVP -->
  <comparison-module></comparison-module>


  <headline-component></headline-component>
  <!-- images media -->
  <dyk-module></dyk-module>
  <faq-module></faq-module>
  <!-- lol -->
  <!-- other news you will love -->
  <news-module></news-module>

  <headline-component></headline-component>
  <twitter-module></twitter-module>
  <!--Like Us On FB Module, only display if not on partner page-->
  <!-- <section *ngIf="!partnerCheck"> -->
  <share-module *ngIf="profileHeaderData && shareModuleInput" [shareModuleInput]="shareModuleInput"></share-module>
  <like-us-module></like-us-module>
  <!-- </section> -->
  <comment-module></comment-module>
  <about-us></about-us>
</div>
