<div class="page-container">
  <headline-component></headline-component>
  <profile-header *ngIf="profileHeaderData" [profileHeaderData]="profileHeaderData"></profile-header>
  <!-- daily update -->
  <!-- ai articles -->


  <headline-component></headline-component>
  <!-- boxscores -->
  <!-- schedule -->
  <standings-module *ngIf="standingsData" [data]="standingsData"></standings-module>
  <!-- teamroster -->
  <!-- playerstats -->
  <!-- transactions -->
  <draft-history></draft-history>
  <!-- MVP -->
  <comparison-module></comparison-module>


  <headline-component></headline-component>
  <!-- images media -->
  <dyk-module></dyk-module>
  <faq-module></faq-module>
  <!-- lol -->
  <!-- other news you will love -->

  <headline-component></headline-component>
  <twitter-module></twitter-module>
  <!--Like Us On FB Module, only display if not on partner page-->
  <!-- <section *ngIf="!partnerCheck"> -->
  <share-module [shareModuleInput]="shareModuleInput"></share-module>
  <like-us-module></like-us-module>
  <!-- </section> -->
  <comment-module></comment-module>
  <!-- aboutus -->
</div>
