<div *ngIf="profileHeaderData && pageParams" class="page-container">
  <headline-component [title]="'About the ' + profileHeaderData.profileName"></headline-component>
  <profile-header [profileHeaderData]="profileHeaderData"></profile-header>
  <!-- daily update -->
  <articles-module></articles-module>

  <headline-component [title]="'Keep Up With Everything ' + profileHeaderData.profileName"></headline-component>
  <box-scores></box-scores>
  <schedules *ngIf="schedulesData" [profHeader]="profileHeaderData" [data]="schedulesData" (tabSelected)="scheduleTab($event)"></schedules>
  <standings-module *ngIf="standingsData" [data]="standingsData" (tabSelected)="standingsTabSelected($event)"></standings-module>
  <team-roster-module *ngIf="rosterData" [data]="rosterData" (tabSelected)="rosterTabSelected($event)"></team-roster-module>
  <player-stats-module *ngIf="playerStatsData" [data]="playerStatsData" (tabSelected)="playerStatsTabSelected($event)"></player-stats-module>
  <transactions *ngIf="profileHeaderData && transactionsData" [transactionsData]="transactionsData" [profHeader]="profileHeaderData" (tab)="transactionsTab($event)"></transactions>    
  <draft-history *ngIf="draftHistoryData" [draftData]="draftHistoryData" [profHeader]="profileHeaderData" (tab)="draftTab($event)"></draft-history>
  <!-- MVP -->
  <comparison-module [modelData]="comparisonModuleData" [profileName]="profileHeaderData.profileName"></comparison-module>

  <headline-component [title]="'Other MLB Content You May Love'"></headline-component>
  <images-media-carousel [imageData]="imageData" [copyright]="copyright" [profHeader]="profileHeaderData" [isProfilePage]="isProfilePage"></images-media-carousel>
  <dyk-module *ngIf="dykData" [profileName]="profileHeaderData.profileName" [dykData]="dykData"></dyk-module>
  <faq-module *ngIf="faqData" [profileName]="profileHeaderData.profileName" [faqData]="faqData"></faq-module>
  <list-of-lists  *ngIf="profileHeaderData && listOfListsData" [profileHeaderData]="profileHeaderData" [listOfListsData]="listOfListsData"></list-of-lists>
  <!-- other news you will love -->
  <news-module *ngIf="newsDataArray" [newsDataArray]="newsDataArray" [profileName]="profileHeaderData.profileName"></news-module>

  <headline-component [title]="'Interact With MLB\'s Fans'"></headline-component>
  <twitter-module *ngIf="twitterData" [profileName]="profileHeaderData.profileName" [twitterData]="twitterData"></twitter-module>
  <!--Like Us On FB Module, only display if not on partner page-->
  <!-- TODO <section *ngIf="!partnerCheck"> -->
  <share-module *ngIf="shareModuleInput" [shareModuleInput]="shareModuleInput"></share-module>
  <like-us-module></like-us-module>
  <!-- </section> -->
  <!-- TODO<section *ngIf="!partnerCheck"> also required for comment module-->
  <comment-module [profileName]="profileHeaderData.profileName"></comment-module>
  <about-us></about-us>
</div>
