.component{
  &-compbar-container{
    margin-bottom: 20px;
    width: 680px;
  }
  &-comptile-container{
    margin-bottom: 20px;
    width: 340px;
    background-color: #3098FF;
  }
  &-compmodule-container{
    margin-bottom: 20px;
    width: 680px;
  }
}