<div class="profile-container">
  <h2 style="border-bottom:3px solid #999;">Profile Header</h2>
  <div class="component-compbar-container">
    <profile-header [profileHeaderData]="teamProfileHeaderData"></profile-header>
  </div>

  <h2 style="border-bottom:3px solid #999;">Article Module</h2>
  <div class="component-compbar-container">
  <articles-module></articles-module>
  </div>

  <h2 style="border-bottom:3px solid #999;">Draft History</h2>
  <div class="component-compbar-container">
    <!-- <draft-history></draft-history> -->
    <share-module [shareModuleInput]="shareModuleInput"></share-module>
  </div>

  <h2 style="border-bottom:3px solid #999;">List of Lists Module</h2>
  <div class="component-compbar-container" *ngIf="teamProfileHeaderData && listOfListsData">
    <list-of-lists [profileHeaderData]="teamProfileHeaderData" [listOfListsData]="listOfListsData"></list-of-lists>
  </div>

  <h2 style="border-bottom:3px solid #999;">Standings Module</h2>
  <div class="component-compbar-container">
    <standings-module [data]="standingsData" (tabSelected)="standingsTabSelected($event)"></standings-module>
  </div>

  <h2 style="border-bottom:3px solid #999;">Team Roster Module</h2>
  <div class="component-compbar-container">
    <team-roster-module></team-roster-module>
  </div>

  <h2 style="border-bottom:3px solid #999;">Profile Header (player)</h2>
  <div class="component-compbar-container">
    <profile-header [profileHeaderData]="playerProfileHeaderData"></profile-header>
  </div>

  <h2 style="border-bottom:3px solid #999;">Profile Header (league)</h2>
  <div class="component-compbar-container">
    <profile-header [profileHeaderData]="leagueProfileHeaderData"></profile-header>
  </div>

  <h2 style="border-bottom:3px solid #999;">About Us Module</h2>
  <div class="component-compbar-container">
    <about-us></about-us>
  </div>

  <h2 style="border-bottom:3px solid #999;">Share Module</h2>
  <div class="component-compbar-container">
    <share-module [shareModuleInput]="shareModuleInput"></share-module>
  </div>

  <h2 style="border-bottom:3px solid #999;">Like Us Module</h2>
  <div class="component-compbar-container">
    <like-us-module></like-us-module>
  </div>

  <h2 style="border-bottom:3px solid #999;">Comment Module</h2>
  <div class="component-compbar-container">
    <comment-module></comment-module>
  </div>
</div>
