<div *ngIf="tabs" class="roster">
  <div class="roster-car">
  <slider-carousel *ngIf="carDataArray" [carouselData]="carDataArray" [footerStyle]="footerStyle"></slider-carousel>  </div>
  <tabs (tabSelected)="tabSelected($event)">
    <tab *ngFor="#tab of tabs" [tabTitle]="tab.title" [active]="tab.isActive">
      <div *ngFor="#section of tab.sections">
        <p [innerHtml]="section.groupName"></p>
        <custom-table [model]="section.tableData" (sortChanged)="updateCarousel($event)"></custom-table>
      </div>
    </tab>
  </tabs>
</div>
