.roster {
  &-car {
    &-subhdr {
      .globalDefaultModFont(12px, 400, @white);
      text-transform: uppercase;

      .fa {
        color: @masterBrandColor;
        padding-right: 5px;
      }
    }

    &-hdr {
      .globalDefaultModFont(22px, 800, @white);
      line-height: 2em;
      &:hover{
        color: @masterBrandColor;
      }
    }

    &-desc {
      .globalDefaultModFont(14px, 400, @white);
      line-height: 1.2em;
    }

    &-date {
      .globalDefaultModFont(10px, 400, @white);
      padding-top: 10px;
    }
  }
  .custom-table-row .image-column{
    max-width: 280px;
  }
}
