<div *ngIf="tabs" class="stats">
  <div class="stats-car">
    <slider-carousel *ngIf="carouselData" [carouselData]="carouselData" (indexNum)="indexNum($event)" [indexInput]="selectedIndex"></slider-carousel>
  </div>
  <tabs (tabSelected)="tabSelected($event)">
    <tab *ngFor="#tab of tabs" [tabTitle]="tab.tabTitle" [active]="tab.isActive">
      
      <div *ngIf="tab.tableData">
        <div class="stats-table-title">
          <p class="stats-season-dropdown">
            Now Viewing:<dropdown [list]="tab.seasonIds" [selectedKey]="tab.selectedSeasonId" (selectionChanged)="dropdownChanged($event)"></dropdown>
          </p>
          <h4 [innerHtml]="tab.tableData.tableName"></h4>
        </div>
        
        <div class="pane-content">
          <custom-table [model]="tab.tableData" (sortChanged)="updateCarousel($event)"></custom-table>
        </div>
      </div>
      
      <div *ngIf="showGlossary" class="stats-glossary pane-content">
        <h4 class="stats-glossary-title">Glossary</h4>
        <div class="stats-glossary-box row">
          <ul>
            <li *ngFor="#term of tab.glossary" class="col-sm-4">
              <span class="text-heavy">{{term.key}}:</span> {{term.value}}
            </li>
          </ul>
        </div>
      </div>
      
    </tab>
  </tabs>
</div>
