.ph {
  
  &-banner-image {
    background: url('/app/public/image_placeholder.png') no-repeat center rgba(0,0,0,.65);
  }

  &-hdr {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 30px;
    color: @white;
    position: relative;
    
    &-ptr {
      content: '';
      border-top: 15px solid rgba(0, 0, 0, 0.6);
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      position: absolute;
      left: 110px;
      bottom: -15px;
    }
    
    &-date {
      text-transform: uppercase;
      .globalDefaultModFont(8px, 400, @strokeGrey);
      margin-bottom: 18px;
    }
    
    &-title {
      .globalDefaultFont(48px, 400);
      margin-bottom: 18px;
    }
    
    &-datapts {
      .globalDefaultFont(14px, 400);
      margin-bottom: 14px;
      
      &-value {
        font-weight: 900;
      }
      
      &-sep {
        padding: 0 .6em;
      }
      
    }
  }
  
  &-content {
    .flexDisplay;
    padding: 30px;
    
    &-wrapper {
      margin-left: 18px;
    }
    
    &-title {
      .globalDefaultModFont(24px, 400, @white);
      line-height: 36px;
      margin-bottom: 26px;
      
      circle-image {
        float: left;
        margin-right: 12px;
      }
    }
    
    &-desc {
      .globalDefaultModFont(16px, 400, @white);
      padding-left: 15px;
      position: relative;
      
      &-border {
        position: absolute;
        top: 4px;
        left: 2px;
        height: 120px;
        border: 1px solid @strokeGrey;
        content: '';
      }
      
      &-text {
        height: 130px;
        overflow: auto;
      }
    }
  }
  
  &-datapts {
    .flexDisplay;
      
    &-pt {
      .flexGrow(1);
      padding: 18px 0;
      text-align: center;
      border-left: @strokeGrey 1px solid;
    }
    
    &-pt:first-child {
      border-left-width: 0;
    }
    
    &-label {
      .globalDefaultModFont(12px, 400, @greyTabText);      
    }
    
    &-value {
      .globalDefaultModFont(28px, 900, @black); 
      margin-top: 6px;
    }
  }
//   &-content{
//     .flexDisplay;
//     background-color: rgba(75, 75, 75, 0.2);
//     background-image: url('/app/public/drk-linen.png');
//     background-repeat: repeat;
//     /* Layer contains multiple layer styles that cannot be represented in CSS. Use the color picker or extract the layer as an image. */
//     width: 680px;
//     height: 260px;
//     color: @white;

//     &-image{
//       margin: 40px 0 auto 46px;
//     }

//     &-description{
//       width: 450px;

//       &-title{
//         .flexDisplay;
//         margin: 55px 0 10px 10px;
//         &-icon{
//           margin: 0 12px 0 0;
//           border-radius: 50%;
//           background-color: @masterBrandColor;
//           width: 40px;
//           height: 40px;
//           font-size: 22px;
//           text-align: center;
//           padding-top: 8px;
//         }
//         &-text{
//           font-size: 24px; /* Approximation due to font substitution */
//           font-weight: 300;
//           overflow: hidden;
//           text-overflow: ellipsis;
//           height: 26px;
//           margin-top: 5px;
//           width: 90%;
//         }
//       }

//       &-text{
//         border-left: solid @white 3px;
//         font-size: 16px; /* Approximation due to font substitution */
//         font-weight: 400;
//         line-height: 20px; /* Approximation due to font substitution */
//         text-align: left;
//         margin-left: 28px;
//         padding: 0px 45px 0px 12px;
//         height: 113px;
//       }
//     }
//   }
// }

// .green-text{
//   color: @masterBrandColor;
}
