.ph {
  border-bottom: 2px solid @black;
  
  &-banner-image {
    background-color: rgba(0, 0, 0, 0.65);
    background-image: url("/app/public/image_placeholder.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  }

  &-hdr {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 30px;
    color: @white;
    position: relative;
    
    &-ptr {
      content: '';
      border-top: 15px solid rgba(0, 0, 0, 0.6);
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      position: absolute;
      left: 110px;
      bottom: -15px;
    }
    
    &-date {
      text-transform: uppercase;
      .globalDefaultModFont(8px, 400, @strokeGrey);
      margin-bottom: 18px;
    }
    
    &-title {
      .globalDefaultFont(48px, 400);
      margin-bottom: 18px;
    }
    
    &-datapts {
      .globalDefaultFont(14px, 400);
      margin-bottom: 14px;
      
      &-value {
        font-weight: 900;
        padding-left: 2px;
      }
      
      a, a:hover, a:focus, a:active {
        color: @masterBrandColor;
        text-decoration: none;
      }
      
      &-sep {
        padding: 0 .6em;
      }
      
    }
  }
  
  &-content {
    .flexDisplay;
    padding: 30px;
    
    &-image {
      -webkit-flex: 1 0 auto; // makes the flex look nice on Safari
    }
    
    &-wrapper {
      margin-left: 18px;
    }
    
    &-title {
      .globalDefaultModFont(24px, 400, @white);
      line-height: 36px;
      margin-bottom: 26px;
      
      circle-image {
        float: left;
        margin-right: 12px;
      }
    }
    
    &-desc {
      .globalDefaultModFont(16px, 400, @white);
      margin-left: 16px;
    
      &-border {
        position: absolute;
        top: 6px;
        left: 2px;
        bottom: 4px;
        border: 1px solid @strokeGrey;
        content: '';
      }
      
      &-text .scrollable-item {
        height: 130px;
      }
      
      &-text .scrollable-item-content {
        position: relative;
        padding-left: 15px;
      }
    }
  }
  
  &-datapts {
    .flexDisplay;
      
    &-pt {
      .flexGrow(1);
      padding: 18px 0;
      text-align: center;
      border-left: @strokeGrey 1px solid;
    }
    
    &-pt:first-child {
      border-left-width: 0;
    }
    
    &-label {
      .globalDefaultModFont(12px, 400, @greyTabText);      
    }
    
    &-value {
      .globalDefaultModFont(28px, 900, @black); 
      margin-top: 6px;
    }
  }
}
