<div class="comparison-tile-container">
    <div class="row">
        <div class="col-xs-6 comparison-tile-dropdown">
            <select>
                <option *ngFor="#item of comparisonTileInput.dropdownOne">
                    {{item}}
                </option>
            </select>
        </div>
        <div class="col-xs-6 comparison-tile-dropdown">
            <select>
                <option *ngFor="#item of comparisonTileInput.dropdownTwo">
                    {{item}}
                </option>
            </select>
        </div>
    </div>
    <div class="comparison-tile-image">
        <circle-image [data]="comparisonTileInput.imageConfig"></circle-image>
    </div>
    <div class="comparison-tile-label">
        <span class="comparison-tile-label-line-one">{{comparisonTileInput.title}}</span>
        <span class="comparison-tile-label-line-two">
            <span *ngFor="#item of comparisonTileInput.description" [ngClass]="[item.class]">{{item.text}}</span>
        </span>
    </div>

    <div class="row comparison-tile-stats">
        <div *ngFor="#item of comparisonTileInput.data" class="col-xs-3">
           <span class="comparison-tile-stats-line-one">{{item.data}}</span>
            <span class="comparison-tile-stats-line-two">{{item.key}}</span>
        </div>
    </div>

</div>