.comparison-tile{
  &-container{
    font-family: Lato;
    padding-bottom: 16px;
  }


  &-dropdown {
    .dropdown {
      width: 100%;
      
      &-hdr {
        padding: 10px 15px;
        background-color: rgba(39, 39, 39, 0.35);
        border-right: 1px solid rgba(153, 153, 153, 0.5);
        .globalDefaultModFont(14px, 400, @white);
      }
    }
  }

  &-image{
    width: 180px;
    margin: 20px auto 15px auto;
  }

  &-label{
    color: @white;
    text-align: center;
    margin-bottom: 6px;

    &-line-one{
      font-size: 24px;
      font-weight: 800;
      display: block;
      margin-bottom: 6px;
    }
    &-line-two{
      font-size: 12px;
      font-weight: 400;
      display: block;
    }
  }

  &-stats{
    color: @white;
    text-align: center;
    padding: 0px 20px;

    &-line-one{
      font-size: 20px;
      font-weight: 800;
      display: block;
      margin-bottom: 4px;
    }
    &-line-two{
      font-size: 12px;
      font-weight: 400;
      display: block;
    }
  }
}