.comparison-tile{
  &-container{
    font-family: Lato;
    padding-bottom: 16px;
  }

  &-dropdown{
    background-color: rgba(0, 0, 0, 0.35);
    height: 35px;
    overflow: hidden;

    //&:first-child{
      border-right: 1px solid rgba(153, 153, 153, 0.5);
    //}

    &::after{
      content: "";
      width: 0px;
      height: 0px;
      border-color: @white transparent transparent transparent;
      border-style: solid;
      border-width: 6px 5px 0px 5px;
      position: absolute;
      top: 16px;
      right: 15px;
    }

    select{
      background-color: transparent;
      border: none;
      color: @white;
      height: 35px;
      width: 120%;
      margin-left: 15px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      &:focus{
        outline: none;
      }
    }
  }

  &-image{
    width: 180px;
    margin: 20px auto 15px auto;
  }

  &-label{
    color: @white;
    text-align: center;
    margin-bottom: 6px;

    &-line-one{
      font-size: 24px;
      font-weight: 800;
      display: block;
      margin-bottom: 6px;
    }
    &-line-two{
      font-size: 12px;
      font-weight: 400;
      display: block;
    }
  }

  &-stats{
    color: @white;
    text-align: center;
    padding: 0px 20px;

    &-line-one{
      font-size: 20px;
      font-weight: 800;
      display: block;
      margin-bottom: 4px;
    }
    &-line-two{
      font-size: 12px;
      font-weight: 400;
      display: block;
    }
  }
}