.side_scroll-transition{
  .flexDisplay;
  height:100%;
}
.owl-stage{
  .flexDisplay;
  height:100%;
}

@media @mobile{
  .side_scroll-transition{
    width:768px;
  }
}

@media @tablet{
  .side_scroll-transition{
    width:1440px;
  }
}

@media @desktop-m{
  .side_scroll-transition{
    width:1024px;
  }
}

@media @desktop-l{
  .side_scroll-transition{
    width:768px;
  }
}
@media @desktop-xl{
  .side_scroll-transition{
    width:1440px;
  }
}
