.standings {
  &-car {
    .scc-details-desc {
      height: 170px;
    }
  }

  .data-column-hdr, .data-column {
    width: 60px; //since it needs to include space for padding
  }

  .image-column-hdr, .image-column {
    width: 205px;
  }

  .pane {
    h4 {
      margin-top: 18px;
      margin-bottom: 10px;
      .globalDefaultFont(18px, 400);
    }

    .standings-tab-section:first-child h4 {
      margin-top: 0px;
    }
  }
}
