.comparison-legend{
    padding: 20px 25px;

    li{
      display: inline-block;
      float: right;
      margin-left: 20px;
    }

    &-title{
      font-size: 18px;
    }

    &-circle{
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: #e1e1e1;
      display: inline-block;
      vertical-align: middle;
      margin-right: 4px;
    }
}