.comparison-legend{
    padding: 10px 15px 20px 15px;

    li{
      display: inline-block;
      float: right;
      margin-left: 20px;
    }

    &-title{
      font-size: 18px;
    }

    &-circle{
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: @highlightGrey;
      display: inline-block;
      vertical-align: middle;
      margin-right: 4px;
    }
}