.disclaimer-page{
    background-color: @white;
    min-height: 1000px;
}
.disc-page-desc-headline {
  padding-bottom: 15px;
  border-bottom: 1px solid @strokeGrey;
  margin-left: -10px;
  .globalDefaultFont(18px, 700);
}
