<schedules-carousel *ngIf="carouselData" [carouselData]="carouselData"></schedules-carousel>
<tabs (tabSelected)="tabSelected($event)">
  <tab *ngFor="#tab of tabs; #i = index"[active]="i == 0" [tabTitle]="tab.display" >
    <div *ngIf="data" class="schedules-container">
      <div class="schedules-heading">
        <div class="schedules-heading-title">
            <p><span class="text-heavy"> Current Season:</span> Upcoming Games</p>
            <!--<p [innerHTML]="data.groupName"></p>-->
          <p><span class="schedules-heading-title-timestamp">Times are displayed in ET and are subject to change</span></p>
        </div>
        <div class="schedules-heading-time">Games are displayed by most recent</div>
      </div>
      <div class="schedules-table">
        <custom-table [model]="data.tableData" (sortChanged)="updateCarousel($event)"></custom-table>
      </div>
    </div>
  </tab>
</tabs>
