.schedules{
  width:auto;
  height:auto;
  &-section{
    h4{
      font-weight: 700;
      color:@black;
      font-size: 16px;
      margin:0 0 5px 0;
      padding-bottom: 9px;
      border-bottom:1px solid @strokeGrey;
    }
  }
}
.schedules-heading{
  width:100%;
  height:45px;
  background-color: @white;
  &-title{
    color:@black;
    font-size: 18px;
    float:left;
    margin:5px 0;
    & > p {
      line-height:0.8em;
      margin:0;
    }
    &-timestamp{
      width:100%;
      color:@bulletGrey;
      font-size: 10px;
      font-style: italic;
      font-weight: 400;
    }
  }
  &-time{
    width:33%;
    color:@bulletGrey;
    font-size: 12px;
    font-weight: 400;
    float: right;
    margin:7px 0;
  }
}

.schedules-table {
  .location-column, .location-column-hdr {
    width:155px;
  }
  .location-column2, .location-column2-hdr {
    width:155px;
  }
  .results-column{
    width:145px;
  }
  .wl-column{
    width:98px;
  }
  .record-column{
    width:70px;
  }
  .date-column{
    white-space: nowrap;
    sup{
      position: relative;
      top:-3px;
    }
  }

  .date-column, .date-column-hdr {
    width:67px;
    font-size:14px;
  }

  .location-column {
    overflow: auto;
    .location-wrap {
      width: 100%;
      height: 100%;
      white-space: normal;
      display: inline-block;
      position: relative;
    }
  }

  .location-column2 {
    overflow: auto;
    .location-wrap {
      width: 100%;
      height: 100%;
      white-space: normal;
      display: inline-block;
      position: relative;
    }
  }
.record-column, .wl-column, .record-column-hdr, .wl-column-hdr{
  width: 70px;
}
.results-column, .results-column-hdr{
  width: 130px;
}
.summary-column {
    font-size: 14px;
    color:@masterBrandColor;
    font-weight: 800;
    text-align: center;
    width: 145px;
    padding: 0 0 0 10px;
    i{
        margin-left: 5px;
        font-weight: 400;
        position: relative;
        top: 2px;
    }
    a:hover{
      color: @black;
    }
  }
}
