.schedules{
  width:680px;
  height:auto;
  &-container{
    margin:-15px -10px;
  }
}

.schedules-heading{
  width:100%;
  height:58px;
  background-color: @white;
  padding:15px 10px;
  &-title{
    color:@black;
    font-size: 18px;
    float:left;
    margin:5px 0;
    & > p {
      line-height:1em;
      margin:0;
      & > span:first-child{
        font-weight: 800;
      }
    }
    &-time{
      width:100%;
      color:@bulletGrey;
      font-size: 10px;
      font-style: italic;
      font-weight: 400;
    }
  }
  &-time{
    width:33%;
    color:@bulletGrey;
    font-size: 12px;
    float: right;
  }
}

.schedules-table{
  width:100%;
  height:385px;
  padding:0 10px;
}

.competitors{
  width:50%;
  height:auto;
  &-left{
    padding-left: 34px;
    float:left;
  }
  &-right{
    padding-right: 34px;
    float:right;
  }
  &-info{
    width:145px;
    height:auto;
    margin:0 auto;
  }
  &-stats{
    color:@white;
    text-align: center;
    margin-top:15px;
    & > span:first-child{
      display:inline-block;
      font-size: 20px;
      line-height: 1.1em;
      font-weight: 800;
      white-space: nowrap;
    }
    & > span:nth-child(2){
      display:inline-block;
      font-size: 12px;
      white-space: nowrap;
      & > i{
        margin-right: 5px;
      }
    }
  }
}
