<div class="content-container" *ngFor="let content of articleData?.article; let i=index; let last=last; let odd=odd;">
    <p *ngIf="i==0" class="content-first" [innerHTML]="content | safeHtml"></p>
    <profileData-component *ngIf="odd && articleType == 'playerRoster'" [articleType]="articleType"
                           [articleData]="articleData" [index]="i" [imageLinks]="imageLinks"></profileData-component>
    <profileData-component *ngIf="i==1 && articleType == 'gameModule'" [articleType]="articleType"
                           [articleData]="articleData" [index]="i" [imageLinks]="imageLinks"></profileData-component>
    <billboard-component *ngIf="i == 2 && articleType == 'gameReport'" [teamId]="teamId" [partnerId]="partnerId" class="large"></billboard-component>
    <profileData-component *ngIf="i==2 && articleType == 'playerComparison'" [articleType]="articleType"
                           [articleSubType]="articleSubType" [articleData]="articleData"
                           [imageLinks]="imageLinks"></profileData-component>
    <profileData-component *ngIf="i==2 && articleType == 'teamRecord' && articleSubType == 'about'" [index]="'1'"
                           [articleSubType]="articleSubType" [articleType]="articleType"
                           [articleData]="articleData" [imageLinks]="imageLinks"></profileData-component>
    <profileData-component *ngIf="i==2 && articleType == 'teamRecord' && articleSubType == 'history'" [index]="'1'"
                           [articleSubType]="articleSubType" [articleType]="articleType"
                           [articleData]="articleData" [imageLinks]="imageLinks"></profileData-component>
    <profileData-component *ngIf="i==4 && articleType == 'teamRecord' && articleSubType == 'last'" [index]="'1'"
                           [articleSubType]="articleSubType" [articleType]="articleType"
                           [articleData]="articleData" [imageLinks]="imageLinks"></profileData-component>
    <p *ngIf="i!=0 && !content.playerComparisonModule && !content.teamRecordModule && !content.playerRosterModule && !content.gameModule"
       class="content" [innerHTML]="content | safeHtml"></p>
    <profileData-component *ngIf="i==4 && articleType == 'teamRecord' && articleSubType == 'about'" [index]="'2'"
                           [articleSubType]="articleSubType" [articleType]="articleType"
                           [articleData]="articleData" [imageLinks]="imageLinks"></profileData-component>
    <profileData-component *ngIf="i==3 && articleType == 'teamRecord' && articleSubType == 'history'" [index]="'2'"
                           [articleSubType]="articleSubType" [articleType]="articleType"
                           [articleData]="articleData" [imageLinks]="imageLinks"></profileData-component>
    <profileData-component *ngIf="i==5 && articleType == 'gameModule' && content.gameModule" [articleType]="articleType"
                           [articleData]="articleData" [index]="i" [imageLinks]="imageLinks"></profileData-component>
    <profileData-component *ngIf="i==6 && articleType == 'teamRecord' && articleSubType == 'last'" [index]="'2'"
                           [articleSubType]="articleSubType" [articleType]="articleType"
                           [articleData]="articleData" [imageLinks]="imageLinks"></profileData-component>
    <div *ngIf="last && (articleType == 'playerRoster' || articleType == 'teamRecord' || articleType == 'gameModule' || articleType == 'playerComparison')"
         class="comparison-hr large"></div>
    <billboard-component *ngIf="last && articleType != 'gameReport'" [teamId]="teamId" [partnerId]="partnerId"></billboard-component>
    <billboard-component *ngIf="last && articleType == 'gameReport'" [teamId]="teamId" [partnerId]="partnerId" class="small"></billboard-component>
</div>