.content-container {
  text-align: left;
  width: 580px;
}

.content-first {
  font-family: @globalFont;
  font-size: 16px;
  font-weight: 400;
  &:first-letter {
    font-family: @globalFont;
    float: left;
    color: #000000;
    font-size: 120px;
    font-weight: 800;
    line-height: 80px;
    padding-top: 10px;
    padding-right: 25px;
    font-style: italic;
  }
}

.content {
  font-family: @globalFont;
  font-size: 16px;
  font-weight: 400;
}
