.content-container {
  text-align: left;
  width: 580px;
}

.content-first {
  .globalDefaultFont(16px, 400);
  &:first-letter {
    .globalDefaultFont(120px, 800);
    float: left;
    line-height: 80px;
    padding-top: 10px;
    padding-right: 25px;
    font-style: italic;
  }
}

.content {
  .globalDefaultFont(16px, 400);
}
