.no-data{
  background-color: @backgroundGrey;
  width:100%;
  height:85px;
  padding:25px 0;
  &-icon{
    width:10%;
    height:100%;
    font-size: 32px;
    color:@masterBrandColor;
    text-align: center;
    float:left;
  }
  &-message{
    width:90%;
    height:100%;
    color:@black;
    font-size: 16px;
    text-align: left;
    float:left;
    display: inline-block;
  }
}
