<div class="art-hdr">
        <!-- using third party sharethis -->
        <div class='st_sharethis_large' (mouseover)="locateShareThis()" data-toggle="tooltip title="><i class='fa fa-share-alt'></i> <span>Share This</span></div>
        <div class="st_sharethis_large shareOptions" (mouseover)="locateShareThis()" data-toggle="tooltip title=">
          <i class="fa fa-facebook"></i>
          <i class="fa fa-twitter"></i>
          <i class="fa fa-linkedin"></i>
          <i class="fa fa-google-plus"></i>
        </div>
</div>
