.art-hdr {
  margin-top: 20px;
  padding-bottom: 20px;

  .st_sharethis_large {
    cursor: pointer;
    span:first-child {
      display: none;
    }
  }

  .globalDefaultModFont(18px, 400, #5ab53f);
  .flexDisplay;
  .flexAlignItems(center);
}


