.art-hdr {
  width: 920px;
  margin-top: 29px;
  padding-bottom: 29px;

  &-links {
    width: 125px;
    height: 18px;
    float: left;

    i {
      font-size: 18px;
      float: left;
      cursor: pointer;
    }
  }

  &-txt {
    font-size: 40px;
    font-weight: 800;
    color: @black;
    float: left;
  }
}
