<div class="page-container">
  <profile-header [profileHeaderData]="profileHeaderData"></profile-header>
  <standings-module [data]="standingsData"></standings-module>
  <comparison-module></comparison-module>
  <dyk-module></dyk-module>
  <comment-module></comment-module>
  <faq-module></faq-module>
  <twitter-module></twitter-module>
  <!--Like Us On FB Module, only display if not on partner page-->
  <!-- <section *ngIf="!partnerCheck"> -->
  <like-us-module></like-us-module>
  <share-module [shareModuleInput]="shareModuleInput"></share-module>
  <!-- </section> -->
</div>
