<div class="module-container mvp-batter">
  <module-header [modHeadData]="modHeadData"></module-header>
  <slider-carousel *ngIf="carouselDataArray" [carouselData]="carouselDataArray"></slider-carousel>
  <tabs *ngIf="dataArray" (tabSelected)='selectedTab($event)'>
    <tab *ngFor="#data of dataArray; #i = index" [active]="i == 0" [tabTitle]="data.tabDisplay">
      <div class="mvp-batter-container">
        <detailed-list-item *ngIf="detailedDataArray" [detailedItemData] = 'detailedDataArray'></detailed-list-item>
        <no-data-box *ngIf="!detailedDataArray && errorData" [data]="errorData.data" [icon]="errorData.icon"></no-data-box>
      </div>
    </tab>
  </tabs>
  <module-footer [footerData] = 'footerData'></module-footer>
</div>
