<div *ngIf="profileHeaderData && pageParams" class="page-container">
    <headline-component></headline-component>
    <profile-header *ngIf="profileHeaderData" [profileHeaderData]="profileHeaderData"></profile-header>
    <!-- daily update -->


    <headline-component></headline-component>
    <box-scores></box-scores>
    <schedules></schedules>
    <standings-module *ngIf="standingsData" [data]="standingsData"
                      (tabSelected)="standingsTabSelected($event)"></standings-module>
    <!-- season stats -->
    <comparison-module></comparison-module>


    <headline-component></headline-component>
    <images-media-carousel [imageData]="imageData" [copyright]="copyright" [profileName]="profileName" [isProfilePage]="isProfilePage"></images-media-carousel>
    <dyk-module *ngIf="dykData" [profileName]="profileHeaderData.profileName" [dykData]="dykData"></dyk-module>
    <faq-module *ngIf="faqData" [profileName]="profileHeaderData.profileName" [faqData]="faqData"></faq-module>

    <!-- lol lists -->
    <!-- other news -->
    <news-module *ngIf="newsDataArray" [newsDataArray]="newsDataArray" [profileName]="profileHeaderData.profileName"></news-module>

    <headline-component></headline-component>

    <comment-module [profileTitle]="pageParams.playerName"></comment-module>
    <twitter-module [profileName]="pageParams.playerName"></twitter-module>
    <!--Like Us On FB Module, only display if not on partner page-->
    <!-- <section *ngIf="!partnerCheck"> -->
    <share-module *ngIf="shareModuleInput" [shareModuleInput]="shareModuleInput"></share-module>
    <like-us-module></like-us-module>
    <!-- </section> -->
    <about-us></about-us>
</div>
