.comparison-bar{
  &-container{
    border-top: 1px solid @highlightGrey;
    font-family: Lato;
    padding: 10px 20px;

    &.background-even {
      background-color: @backgroundGrey;
    }
  }

  &-title{
    font-size: 16px;
  }

  &-capsule{
    background-color: @highlightGrey;
    border: 1px solid #d7d7d7;
    border-radius: 15px;
    height: 15px;
    margin-top: 2px;
    margin-bottom: 15px;
    position: relative;

    &-stroke{
      width: 0%;
      border-radius: 15px;
      bottom: 0px;
      height: 100%;
      left: 0px;
      position: absolute;
      transition: 1s width;
      -webkit-transition: 1s width;
      border-right: 1px solid #d7d7d7;

      &.stroke-top{
        z-index: 5;
      }
    }

    &-label{
      top: 16px;
      font-size: 14px;
      font-weight: 700;
      position: absolute;
      right: 0px;
      opacity: 1;
      transition: 1s top, 1s right, 1s bottom;
      -webkit-transition: 1s top, 1s right, 1s bottom;

      &.label-top{
        top: -17px;
        .flexDisplay;
        .flexDirection(row);
      }//.label-top ends
    }
  }
}
.infobox{
  &-values{
    .flexDisplay;
    .flexDirection(column);
    .flexAlignItems(flex-end);
  }
  &-display{
    .fa{
      font-size: 10px;
      color: @masterBrandColor;
      padding-left: 5px;
    }

  }//fa-info-circle ends
  &-box{
    width: 226px;
    min-height: 64px;
    max-height: 194px;
    overflow: scroll;
    background-color: @white;
    border: 1px solid @greyBorder;
    display: none;
    z-index: 1;
  }
  &-list{
    height: 65px;
    border-bottom: 1px solid @greyBorder;

  }
}
