<div class="comparison-bar-container odd">
    <label class="comparison-bar-title">
        Home Runs
    </label>
    <div class="comparison-bar-capsule">
        <div class="comparison-bar-capsule-stroke stroke-top" style="background-color: #3098FF; width: 45%">
            <label class="comparison-bar-capsule-label" style="color: #3098FF">
                45
            </label>
        </div>
        <div class="comparison-bar-capsule-stroke" style="background-color: #FF3846; width: 70%">
            <label class="comparison-bar-capsule-label" style="color: #FF3846">
                70
            </label>
        </div>
        <label class="comparison-bar-capsule-label">
            100
        </label>
    </div>
</div>