.tr{
  &-sort{
    height: 30px;
    width: 100%;
    .flexDisplay;
    .flexJustify(space-between);
    &-box{
      height: 100%;
      border: 1px solid @greyBorderBox;
      font-size: 12px;
      .flexDisplay;
      .flexAlignItems(center);
      .flexJustify(center);
    }
  }
  &-details{
    margin-top: 10px;
    width: 100%;
    height: 70px;
    background-color: #f2f2f2;
  }
}
