.tr{
  &-sort{
    background-color: @black;
    .flexDisplay;
    height: 30px;
    width: 100%;
  }
  &-details{
    margin-top: 10px;
    width: 100%;
    height: 70px;
    background-color: #f2f2f2;
  }
}
