<div class="module-container tr">
  <module-header [moduleTitle]="moduleTitle"></module-header>
  <slider-carousel></slider-carousel>
  <tabs *ngIf="tabs.length > 0">
    <tab [tabTitle]="tabs[0].title">
      <custom-table [columns]="columnData" [rows]="tabs[0].tableData"></custom-table>
    </tab>
    <tab *ngIf="tabs.length > 1" [tabTitle]="tabs[1].title">
      <custom-table [columns]="columnData" [rows]="tabs[1].tableData"></custom-table>
    </tab>
    <tab *ngIf="tabs.length > 2" [tabTitle]="tabs[2].title">
      <custom-table [columns]="columnData" [rows]="tabs[2].tableData"></custom-table>
    </tab>
  </tabs>
  <module-footer [footerHeadline]="footerHeadline" [footerButton]="footerButton"></module-footer>
</div>
