<section *ngIf="profileHeaderData" class='page-container'>
    <loading-component *ngIf="!detailedDataArray && !isError"></loading-component>
    <error-component *ngIf="isError"></error-component>
    <backtab-component></backtab-component>
    <title-component *ngIf="profileHeaderData" [titleData]="profileHeaderData"></title-component>
    <div class="module-container list-page">
      <slider-carousel *ngIf="carouselDataArray" [carouselData]="carouselDataArray" [footerStyle]="footerStyle"></slider-carousel>
      <detailed-list-item *ngIf="detailedDataArray" [detailedItemData] = 'detailedDataArray'></detailed-list-item>
      <pagination-footer [paginationParameters]="paginationParameters"></pagination-footer>
    </div>
</section>
