.list-footer{
  background-color: @backgroundTransparent;
  color:@white;
  padding: 20px 20px !important;
  height: 75px !important;
  &-btn{
    background-color: @masterBrandColor;
    color:@white;
  }
}
