<section *ngIf="dataArray" class='page-container'>
    <loading-component *ngIf="!listData && !isError"></loading-component>
    <error-component *ngIf="isError"></error-component>
    <backtab-component></backtab-component>
    <title-component></title-component>
    <div class="module-container list-page">
      <slider-carousel *ngIf="carouselDataArray" [carouselData]="carouselDataArray" [footerStyle]="footerStyle"></slider-carousel>
      <span *ngFor="#data of dataArray">
        <detailed-list-item *ngIf="data.data" [detailedItemData] = 'data.data'></detailed-list-item>
      </span>
    </div>
</section>
