<loading-component *ngIf="!profileHeaderData && !isError"></loading-component>
<error-component *ngIf="isError"></error-component>
<section *ngIf="profileHeaderData" class='page-container module-container'>
  <backtab-component></backtab-component>
  <title-component [titleData]="profileHeaderData"></title-component>
  <div class="list-page">
    <slider-carousel *ngIf="carouselDataArray" [carouselData]="pageNumber != null ? carouselDataArray[pageNumber-1] : carouselDataArray" [footerStyle]="footerStyle"></slider-carousel>
    <detailed-list-item *ngIf="detailedDataArray" [detailedItemData] = 'pageNumber != null ? detailedDataArray[pageNumber-1] : detailedDataArray'></detailed-list-item>
    <pagination-footer [paginationParameters]="paginationParameters" (newIndex)="newIndex($event)"></pagination-footer>
  </div>
</section>
