<div class="stacktop">
  <div class="stacktop-title">
    <div class="stacktop-title-date" [innerHTML]="dataPoint.date"></div>
    <div class="stacktop-title-headline" [innerHTML]="dataPoint.headline"></div>
  </div>
  <div class="stacktop-titleinfo">
    <span class="stacktop-titleinfo-provider" [innerHTML]="dataPoint.provider1"></span>
    <span class="stacktop-titleinfo-provider" [innerHTML]="dataPoint.provider2"></span>
  </div>
  <div class="stacktop-image">
    <rectangle-image [data]="dataPoint.imageConfig"></rectangle-image>
  </div>
  <div class="stacktop-desc" [innerHTML]="dataPoint.description"></div>
</div>
