<a class="stacktop" [routerLink]="stackTopData.articleStackRoute">
  <div class="stacktop-title">
    <div class="stacktop-title-date">
      <span [innerHTML]="stackTopData.keyword | safeHtml"></span>
      <span  [innerHTML]="stackTopData.date"></span>
    </div>
    <div class="stacktop-title-headline" [innerHTML]="stackTopData.headline | safeHtml"></div>
  </div>
  <div class="stacktop-titleinfo">
    <span class="stacktop-titleinfo-provider" [innerHTML]="stackTopData.provider1 | safeHtml"></span>
    <span class="stacktop-titleinfo-provider-pub" [innerHTML]="stackTopData.provider2 | safeHtml"></span>
  </div>
  <div class="stacktop-image">
    <rectangle-image [data]="stackTopData.imageConfig"></rectangle-image>
  </div>
  <div class="stacktop-desc" [innerHTML]="stackTopData.description | safeHtml"></div>
</a>
