<div class="syndicated-articles-page">
    <div class="syndicated-articles-page-content">
        <div *ngIf="error">
            <div class="loading-container">
                <span class="loading-text">The syndicated-article you are trying to reach is unavailable. You will be redirected to your previous page shortly.</span>
            </div>
        </div>

    <span *ngIf="articleData">
        <shareLinks-component></shareLinks-component>
        <div class="syndicated-articles-page-title" >{{articleData.title}}</div>
        <sidekick-wrapper-ai [aiSidekick]="aiSidekick">
            <span >
                <div class="carousel-container">
                  <images-media-carousel [imageData]="imageData" [copyright]="'copyright'"
                                         [imageTitle]="'imageTitle'"></images-media-carousel>
                </div>
            </span>
            <div class="arpt">
                <span class="arpt-author" >Written By: <b>{{articleData.publisher}}</b></span>
                <span class="arpt-date">Posted: on {{articleData.publishedDate}}</span>
            </div>
            <div class="content-exerpt"  [innerHTML]="articleData.teaser">
            </div>
            <div class="bottom-shader"></div>
            <a class="readMore mod-page-btn" [href]="articleData.articleUrl">Read the Full Article <i class="fa fa-arrow-right"></i></a>

            <recommendations-component></recommendations-component>
            <responsive-widget [embedPlace]="widgetPlace"></responsive-widget>
            <disqus-component ></disqus-component>
            <syndicated-trending-component></syndicated-trending-component>
        </sidekick-wrapper-ai>
    </span>
    </div>
</div>
