.ss_container{
  background-color: @white;
  height: auto;
  width: 100%;
  padding: 15px 15px 0;//15px 0 0;
}
.ss_title{
  height: 40px;//25px;
  width: 100%;
  &-1{
    background-color: @black;
    border-radius: 3px;
    display: inline-block;
    height: 100%;//25px;
    line-height: 40px;//25px;
    width: 62px;//45px;
    text-align: center;
    .globalDefaultModFont(18px, 800, @white);//14px
  }
  &-2{
    margin-left: 12px;//10px;
    .globalDefaultModFont(24px, 400, @black);//18px
  }
}
@media @tablet {
  .ss_container{
    padding: 15px 15px 0;
  }

  .ss_title{
    height: 40px;
    &-1{
      font-size: 18px;
      line-height: 40px;
      height: 100%;
      width: 62px;
    }
    &-2{
      font-size: 24px;
      margin-left: 12px;
    }
  }
}
