.ss_container{
  background-color: @white;
  height: auto;
  width: 100%;
  padding: 10px 0 0;
}
.ss_title{
  height: 25px;
  width: 100%;
  margin-left: 10px;
  &-1{
    background-color: @black;
    border-radius: 3px;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    width: 45px;
    text-align: center;
    .globalDefaultModFont(14px, 800, @white);
  }
  &-2{
    margin-left: 10px;
    .globalDefaultModFont(18px, 400, @black);
  }
}
@media @tablet {
  .ss_container{
    padding: 15px 0 0;
  }

  .ss_title{
    height: 40px;
    margin-left: 0;
    &-1{
      font-size: 18px;
      line-height: 40px;
      height: 100%;
      width: 62px;
    }
    &-2{
      font-size: 24px;
      margin-left: 12px;
    }
  }
}
@media @desktop-m {
  .ss_title{
    margin-left: 45px;
  }
}
@media @desktop-l {
  .ss_title{
    margin-left: 15px;
  }
}
