<div class="articles-page">
    <div class="articles-page-content">
        <div *ngIf="error">
            <div class="loading-container">
                <span class="loading-text">The article you are trying to reach is unavailable. You will be redirected to your previous page shortly.</span>
            </div>
        </div>
        <loading-component *ngIf="!articleData && !error"></loading-component>
    <span *ngIf="articleData">
        <shareLinks-component id="titleShare"></shareLinks-component>
        <h1 class="articles-page-title">{{articleData.title}}</h1>
        <sidekick-wrapper-ai [aiSidekick]="aiSidekick">
            <span *ngIf="articleData['images']['imageData']">
                <div class="carousel-container">
                    <images-media-carousel [imageData]="articleData['images']['imageData']"
                                           [copyright]="articleData['images']['copyright']"
                                           [imageTitle]="articleData['images']['imageTitle']"></images-media-carousel>
                </div>
            </span>
            <div class="arpt">
                <!--<div class="arpt-author">-->
                <!--<div class="arpt-author-image"></div>-->
                <!--<div class="arpt-author-text">-->
                <!--By <span class="arpt-author-text-name">Hoopsloyal Columnist</span>-->
                <!--</div>-->
                <!--</div>-->
                <div class="arpt-date">{{date}}</div>
            </div>
            <article-content-component [articleType]="articleData.articleType"
                                       [articleSubType]="articleData.articleSubType"
                                       [articleData]="articleData['articleContent']"
                                       [teamId]="articleData.teamId"
                                       [imageLinks]="articleData.imageLinks"
                                       [partnerId]="partnerId"
                                       [scope]="scope"
            ></article-content-component>
            <disqus-component [comment]="comment" *ngIf="!checkPartner"></disqus-component>
            <sidekick-container-component></sidekick-container-component>
            <recommendations-component [randomHeadlines]="randomHeadlines"
                                       [images]="images"></recommendations-component>
            <trending-component [scope]="scope"
                                [currentArticleId]="eventID"
                                [eventType]="eventType"
                                [geoLocation]="geoLocation"
                                [showLoading]="showLoading"
                                [trendingData]="trendingData"
                                (window:scroll)="trendingScroll($event)">
            </trending-component>
        </sidekick-wrapper-ai>
    </span>
    </div>
</div>
