<div class="artcom">
    <div class="artcom-header">
        <i class="fa fa-comments-o artcom-header-icon"></i><span class="artcom-header-text">Comments</span>
    </div>
    <!-- <div class="artcom-tags">
      <div class="artcom-tags-sport tag"><span class="space">&nbsp;&nbsp;</span><div class="artcom-tags-sport-text">{{sport}}</div><span class="space">&nbsp;&nbsp;</span></div>
      <div class="artcom-tags-team1 tag"><span class="space">&nbsp;&nbsp;</span><div class="artcom-tags-team1-text">{{team1name}}</div><span class="space">&nbsp;&nbsp;</span></div>
      <div class="artcom-tags-team2 tag"><span class="space">&nbsp;&nbsp;</span><div class="artcom-tags-team2-text">{{team2name}}</div><span class="space">&nbsp;&nbsp;</span></div>
    </div> -->
    <!--Header text-->
    <div class="artcom-hdr">{{comment}}</div>
    <!--Disqus container-->
    <div class="artcom-dsqs" id="disqus_thread"></div>
    <!--<script>-->
        <!--/**-->
         <!--* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.-->
         <!--* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables-->
         <!--*/-->
        <!--/*-->
         <!--var disqus_config = function () {-->
         <!--this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable-->
         <!--this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable-->
         <!--};-->
         <!--*/-->
        <!--(function () { // DON'T EDIT BELOW THIS LINE-->
            <!--var d = document, s = d.createElement('script');-->

            <!--s.src = "//homerunloyal.disqus.com/embed.js";-->

            <!--s.setAttribute('data-timestamp', +new Date());-->
            <!--(d.head || d.body).appendChild(s);-->
        <!--})();-->
    <!--</script>-->
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments
        powered by Disqus.</a></noscript>
    <!--<script id="dsq-count-scr" src="//homerunloyal.disqus.com/embed.js" async></script>-->
</div>
