<!-- check if data is available and/or valid -->
<div class="scc">
  <!-- slider carousel component placeholder section -->
  <div class="scc-placeholder" style="background-image: url({{carouselData.backgroundImage}});">
    <!-- slider next/previous buttons -->
    <!-- center section where images and descriptions details display -->
    <div class="scc-details">
        <!-- main round image -->
        <div class="scc-details-mainImg">
          <!-- image component place here -->
          <div>
              <circle-image [data]="carouselData.imageData"></circle-image>
          </div>
          <!-- image component ends -->
      </div>
      <!-- round main image ends -->
      <!-- carousel description -->
      <div class="scc-details-desc">
        <span *ngFor="#description of carouselData.description" [innerHTML]="description"></span>
      </div>
      <!-- desc ends -->
    </div>
    <!-- center details ends -->
  </div>
  <!-- placeholder ends -->
</div>
