.scc{
  width:100%;
  height:auto;
  position: relative;
    &-placeholder{
      width: 100%;
      height: auto;
    }//.scc-placeholder ends
    &-details{
      .flexDisplay;
      .flexDirection(row);
      width: 80%;
      height: auto;
      margin:auto;
      padding-top: 7%;
      padding-bottom:7%;
      &-mainImg{
        width: 40%;
        .flexDisplay;
        .flexDirection(column);
        .flexAlignItems(center);
      }//.scc-details-mainImg ends
      &-desc{
        width:55%;
        height:auto;
        .flexAlignItems(flex-start);
        .globalDefaultModFont(16px, 400, @white);
        padding:20px 0;
        & p {
          line-height: 1.2em;
          margin:0;
        }
      }//.scc-details-desc ends
    }//.scc-details ends
}//.scc ends
