.deep-dive{
  width: 100%;
  height:auto;
  margin:0;
  padding:0;
  .deep-dive-content-container{
    // width: calc(100% - 310px);
    // left:0;
    width: 78%;
  }
.header{
    width:100%;
    height:65px;
    background-color:@masterBrandColor;
  }

.navigation{
    width:100%;
    height:44px;
    background-color: @textEmphasisGrey;
  }

  .newsCarousel{
    width:100%;
    height:420px;
    background: @bulletGrey;
  }

  .container2{
    //width:100%;
  //  height:260px;
    background: @white;
  }
  .container3{
    min-height:300px;
    background: @white;
    .flexDisplay;
    .flexDirection(row);
    .flexWrap(wrap);
    .flexJustify(space-around);
    .box-scores{
      display:block;
      width:640px;
      margin:0 auto;
    }
    .module-container{
      box-shadow: none;
      border: 1px solid @strokeGrey;
    }
    .box-widget{
      width:300px;
      height: auto;
    }
    .box_articles{
      .flexDisplay;
      .flexDirection(row);
      .flexWrap(wrap);
      .flexJustify(space-around);
      &-item{
        color: @black;
      }
      .article-image{
        width:100%;
        height:180px;
        background-color: @bulletGrey;
      }
      .article-text{
        font-weight: 800px;
      }

    }
  }
  .footer{
    width:100%;
    height:200px;
    background-color: @bulletGrey;
  }
  // .widget_wrapper{
  //   width: 300px;
  //   float: right;
  //   margin-right: 20px;
  // }
  .horizontal_widget{
    // width: 650px;
    width: 100%;
    height: 250px;
    margin: auto;
    background-color: @sntMediaBlue;
    &-large{
      width: 650px;
      height: 250px;
      background-color: @homeRunLoyalRed;
      margin: auto;
    }
    &-small{
      width: 300px;
      height: 250px;
      background-color: @homeRunLoyalRed;
      margin: auto;
    }
  }
}
.widget_wrapper{
  width: 300px;
  right: 0;
  margin-right: 20px;
  position: absolute;
}

@media @desktop-xl{
  // .deep-dive-content-container{
  //   width: calc(100% - 300px);
  //   float:left;
  // }
  .container3{
    width:1100px;
    .box-scores{
      margin:0;
    }
    .box_articles{
      width:425px;
      margin:0;
      &-item{
        width:100%;
        height:247px;
      }
    }
  }
  .horizontal_widget{
    display: none;
  }
}
@media @desktop-l{
  .container3{
    width:700px;
    .box_articles{
      width:100%;
      margin:30px 0px 25px 0;
      &-item{
        width:320px;
        height:313px;
      }
    }
  }
  .widget_wrapper{
    display: none;
  }
  .horizontal_widget{
    display: block;
  }
  .horizontal_widget-large{
    display: block;
  }
}

@media @desktop{
  .container3{
    width:680px;
    .box_articles{
      width:100%;
      margin:30px 0px 25px 0;
      &-item{
        width:320px;
        height:313px;
      }
    }
  }
  .widget_wrapper{
    display: none;
  }
  .horizontal_widget{
    display: block;
  }
  .horizontal_widget-large{
    display: block;
  }
}

@media @tablet{
  .container3{
    width:640px;
    .box_articles{
      width:100%;
      margin:30px 0px 25px 0;
      &-item{
        width:288px;
        height:247px;
      }
    }
  }
  .widget_wrapper{
    display: none;
  }
  .horizontal_widget-large{
    display: none;
  }
  .horizontal_widget-small{
    display: block;
  }
  .container3{
    width:640px;
  }
}
@media @mobile{
  .container3{
    width:100%;
    .box_articles{
      width:100%;
      margin:30px 0px 25px 0;
      &-item{
        width:288px;
        height:247px;
      }
    }
  }
  .widget_wrapper{
    display: none;
  }
  .horizontal_widget-large{
    display: none;
  }
  .horizontal_widget-small{
    display: block;
  }
  .container3{
    width:640px;
  }
}
