.deep-dive{
  width: 100%;
  height:auto;
  margin:0;
  padding:0;

.header{
    width:100%;
    height:65px;
    background-color:@masterBrandColor;
  }

.navigation{
    width:100%;
    height:44px;
    background-color: @textEmphasisGrey;
  }

  .newsCarousel{
    width:100%;
    height:420px;
    background: @bulletGrey;
  }

  .container2{
    //width:100%;
  //  height:260px;
    background: @white;
  }
  .container3{
    width:100%;
    height:220px;
    background: @backgroundGrey;
  }
  .container4{
    width:100%;
    height:300px;
    background: @black;
  }
  .container5{
    width:100%;
    min-height:300px;
    background: @white;
  }
  .footer{
    width:100%;
    height:200px;
    background-color: @bulletGrey;
  }
}
