<section *ngIf="!isHomeRunZone" class="deep-dive container-fluid">
  <div class="deep-dive-container1">
    <carousel-dive-module *ngIf = "carouselData" [carouselData] = "carouselData"></carousel-dive-module>
  </div>
  <section class="deep-dive-container2">
    <div class="deep-dive-container2a">
      <div class="deep-dive-module">
        <side-scroll-schedules *ngIf="sideScrollData" [sideScrollData]="sideScrollData" (count)="scrollCheck($event)" [scrollLength]="scrollLength"></side-scroll-schedules>
      </div>

      <deep-dive-block-1 *ngIf="dateParam" [geoLocation]="geoLocation" [profileName]="profileName" [maxHeight]="maxHeight"></deep-dive-block-1>

      <deep-dive-block-2 *ngIf="dateParam" [geoLocation]="geoLocation" [profileName]="profileName" [maxHeight]="maxHeight"></deep-dive-block-2>

      <deep-dive-block-3 *ngIf="dateParam" [geoLocation]="geoLocation" [profileName]="profileName" [maxHeight]="maxHeight"></deep-dive-block-3>

      <deep-dive-block-4 *ngIf="dateParam" [geoLocation]="geoLocation" [profileName]="profileName" [maxHeight]="maxHeight"></deep-dive-block-4>
    </div>

    <div class="deep-dive-container2b">

      <div class="widget_wrapper"><widget-carousel-module></widget-carousel-module></div>
    </div>
  </section>
</section>
<Partner-home-page *ngIf="isHomeRunZone"></Partner-home-page>
