.deep-dive{
  width: 100%;
  height:auto;
  margin:0;
  padding:0;

.header{
    width:100%;
    height:65px;
    background-color:@masterBrandColor;
  }

.navigation{
    width:100%;
    height:44px;
    background-color: @textEmphasisGrey;
  }

  .newsCarousel{
    width:100%;
    height:420px;
    background: @bulletGrey;
  }

  .container2{
    //width:100%;
  //  height:260px;
    background: @white;
  }
  .container3{
    width:100%;
    height:220px;
    background: @backgroundGrey;
  }
  .container4{
    width:100%;
    height:300px;
    background: @black;
  }
  .container5{
    width:700px;
    min-height:300px;
    background: @white;
    .flexDisplay;
    .flexDirection(row);
    .flexWrap(wrap);
    .flexJustify(space-around);
    .box-scores{
      display:block;
      width:640px;
      margin:0 auto;
    }
    .box-widget{
      width:300px;
      height: auto;
    }
    .box_articles{
      .flexDisplay;
      .flexDirection(row);
      .flexWrap(wrap);
      .flexJustify(space-around);
      &-item{
        background-color: @black;
      }
    }
  }
  .footer{
    width:100%;
    height:200px;
    background-color: @bulletGrey;
  }
  // .widget_wrapper{
  //   width: 300px;
  //   float: right;
  //   margin-right: 20px;
  // }
  .horizontal_widget{
    width: 650px;
    height: 250px;
    margin: auto;
    background-color: @sntMediaBlue;
    &-large{
      width: 650px;
      height: 250px;
      background-color: @homeRunLoyalRed;
      margin: auto;
    }
    &-small{
      width: 300px;
      height: 250px;
      background-color: @homeRunLoyalRed;
      margin: auto;
    }
  }
}
.widget_wrapper{
  width: 300px;
  float: right;
  margin-right: 20px;
}

@media(min-width: 1440px){
  .container5{
    width:1100px !important;
    .box-scores{
      margin:0 !important;
    }
    .box_articles{
      width:425px;
      margin:0;
      &-item{
        width:100%;
        height:247px;
      }
    }
  }
  .horizontal_widget{
    display: none;
  }
}
@media(max-width: 1024px){
  .container5{
    width:685px !important;
    .box_articles{
      width:100%;
      margin:30px 0px 25px 0;
      &-item{
        width:320px;
        height:313px;
      }
    }
  }
  .widget_wrapper{
    display: none;
  }
  .horizontal_widget{
    display: block;
  }
  .horizontal_widget-large{
    display: block;
  }
}
@media(min-width: 1025px){
  .box_articles{
    width:100%;
    margin:30px 0px 25px 0;
    &-item{
      width:320px;
      height:247px;
    }
  }
  .horizontal_widget{
    display: none;
  }
}
@media(max-width: 785px){
  .box_articles{
    width:100%;
    margin:30px 0px 25px 0;
    &-item{
      width:288px;
      height:247px;
    }
  }
  .horizontal_widget-large{
    display: none;
  }
  .horizontal_widget-small{
    display: block;
  }
}
@media(min-width: 786){
  .horizontal_widget-small{
    display: none;
  }
  .container5{
    width:640px;
  }
}
