<div class="schedule_box"><!--become a component <schedule-box>-->
  <div class="schedule_box-date" [innerHTML]="boxData.date">
  </div>
  <div class="schedule_box-versus">
    <div class="schedule_box-team">
      <div class="schedule_box-image">
        Image Here
      </div>
      <span class="schedule_box-text">
        {{boxData.awayTeamName}}
      </span>
    </div>
    <div class="schedule_box-team">
      <div class="schedule_box-image">
        Image Here
      </div>
      <span class="schedule_box-text">
        {{boxData.homeTeamName}}
      </span>
    </div>
    <a href="{{boxData.reportLink}}">
      <div class="schedule_box-linkbox">
        {{boxData.reportDisplay}}
      </div>
    </a>
  </div>
</div><!--</schedule-box>-->
