<div class="schedule_box {{boxData.isLive}}"><!--become a component <schedule-box>-->
  <div class="schedule_box-date" *ngIf="boxData.isLive != 'schedule-live'" [innerHTML]="boxData.date | safeHtml">
  </div>
  <div class="schedule_box-date live" *ngIf="boxData.isLive == 'schedule-live'">
    <span class="innings">Inning:<span class="innings-text" [innerHTML]="boxData.inning"></span></span>
    <span class="liveText"><i class="fa fa-circle"></i> LIVE</span></div>
  <div class="schedule_box-versus">
    <!-- away data below -->
    <div class="schedule_box-team">
      <div class="schedule_box-image">
        <circle-image [data]="boxData.awayImageConfig"></circle-image>
      </div>
      <a [routerLink]="boxData.awayLink">
        <span class="schedule_box-text">
          {{boxData.awayTeamName}}
        </span>
      </a>
    </div>
    <!-- home data below -->
    <div class="schedule_box-team">
      <div class="schedule_box-image">
        <circle-image [data]="boxData.homeImageConfig"></circle-image>
      </div>
      <a [routerLink]="boxData.homeLink">
        <span class="schedule_box-text">
          {{boxData.homeTeamName}}
        </span>
      </a>
    </div>
    <a [routerLink]="boxData.reportLink">
      <div *ngIf="boxData.isLive != 'schedule-live'" class="schedule_box-linkbox">
        <span>{{boxData.reportDisplay}}</span>
      </div>
      <div *ngIf="boxData.isLive == 'schedule-live'" class="schedule_box-linkbox-live">
        <span><i class="fa fa-circle"></i> LIVE GAME REPORT</span>
      </div>
    </a>
  </div>
</div><!--</schedule-box>-->
