transactions{
  .image-round, .image-round-sub{
    background: @white;
  }
}
.center-vertically{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.transactions-li-timeline{
  display: block;
  position: absolute;
  width: 20px;
  height: 100%;
  left: 142px;
  .transactions-li-timeline-line {
    display: block;
    width: 3px;
    height: 100%;
    position: absolute;
    left:7.5px;
    background-color: @masterBrandColor;
    &-first{
      top: 50%;
    }
  }
  .transactions-li-timeline-circle{
    .center-vertically;
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
    box-shadow: inset 0 0 0 2px @white, 0 0 0 1px @masterBrandColor;
    background-color: @masterBrandColor;
    border-radius: 50%;
    z-index: 1;
  }
}

.transactions-li-container{
  height: 70px;
  width:100%;
  position: relative;
  .dataBox{
    width:100%;
    height: 70px;
    color:@black;
    margin: 0;
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
    .clearfix;
    .data-hover{//hover states
      text-decoration: none;
      color: @black;
      a{
        &:hover{
          text-decoration: none;
          color:@masterBrandColor;
          cursor: pointer;
        }
      }
    }
    &-img{
      .center-vertically;
      position: absolute;
      left: 176px;
    }
    &-text{
      &-left{
        .center-vertically;
        position: absolute;
        left: 20px;
        font-size: 14px;
        width: 106px;
        text-align: center;
      }
      &-right{
        .center-vertically;
        position: absolute;
        left: 242px;
        font-size: 16px;
        width: 418px;

        a:hover {
          color: @masterBrandColor;
        }
      }
    }
    &-info{
      font-size: 14px;
      width: 100%;
      display: inline-block;
      &.detail-small{
        font-size: 10px;
        font-weight: 600;
        line-height: 1.3em;
        & > i{
          color:@masterBrandColor;
        }
      }
      &.detail-large{
        font-size: 20px;
        font-weight: 800;
        line-height: 1.2em;
      }
      &.detail-medium{
        font-size: 14px;
        line-height: 1.3em;
        & > i{
          float:left;
          color:@masterBrandColor;
          padding-right:.2em;
          padding-top:2px;
        }
      }
      &-text{
          display: inline;
          width:62%;
          float: left;
          text-align: left;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        &-right{
          display: inline;
          width:33%;
          float: right;
          text-align: right;
        }
      }//END OF a tag css modifier
    }//END OF <div> tag css modifier
  }
}
