<div class="main-article">
    <span *ngIf="mainPageIndex">
        <a [routerLink]="[mainPageIndex, {eventID: mainEventID}]">
            <span class="articleBoxLarge">
                <img src="{{images}}"/>
                <div>
                    <p>View this Article</p>
                </div>
            </span>
            <div class="main-article-container">
                <div class="main-article-container-title" style="{{titleFontSize}}">
                    {{mainTitle}}
                </div>
                <div class="main-article-container-content">
                    {{mainContent}}
                </div>
                <!--<div class="main-article-container-source">By&nbsp;-->
                <!--<span class="main-article-container-source-b"> Hoopsloyal Columnist</span>-->
                <!--</div>-->
            </div>
        </a>
    </span>
</div>