<div class="main-article">
    <a href="">
        <span class="articleBoxLarge">
            <img src="{{image}}"/>
            <div>
                <p>View this Article</p>
            </div>
        </span>
        <div class="main-article-container">
            <div class="main-article-container-title">
                {{headline}}
            </div>
            <div class="main-article-container-content">
                {{content}}
            </div>
            <div class="main-article-container-source">By&nbsp;
                <span class="main-article-container-source-b"> Hoopsloyal Columnist</span>
            </div>
        </div>
    </a>
</div>