.video-stacktop {
  width: 640px;
  display: flex;

  &-video {
    background-color: @googlePlus;
    width: 300px;
    height: 193px;
    margin: 0 15px 0 15px;

  }
  &-right {
    background-color: grey;
    width: 294px;
    height: auto;
    margin-right:15px;
    &-title {
      font-family: Lato;
      color: #000000;
      display: block
      >.video-title-top {

      }
      >.video-title-mid {

      }
      >.video-title-bottom {

      }
    }

  }
}
