<div class="video-stacktop" *ngFor="let item of articleData; let rowIndex = index">
  <a [routerLink]="['Syndicated-article-page', {eventID:item.id, articleType:'video'}]">
  <div class="video-stacktop-video"><div class="playCircle"><i class="fa fa-play"></i></div></div>
  </a>
  <div class="video-stacktop-right">
    <div class="video-stacktop-right-title">
      <span class="video-title-top"><span>{{formatDate(item.pubDate)}}</span></span>
      <a [routerLink]="['Syndicated-article-page', {eventID:item.id, articleType:'video'}]">
      <span class="video-title-mid" [innerHTML]="item.title"></span>
      </a>
      </div>
      <div class="video-stacktop-right-text" [innerHTML]="item.description">
      </div>
    </div>
  </div>
