.video-stacktop {
  min-width: 320px;
  width: 100%;
  margin: 5px auto;
  .flexDisplay;
  .flexDirection(column);
  &-video {
    background-color: @strokeGrey;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 56vw;
    .greyout {
      position: relative;
      width:100%;
      height:100%;
      background-color: rgba(0,0,0,0.3);
      .playCircle {
        position:relative;
        height: 70px;
        width: 70px;
        left: ~"calc(50% - 35px)";
        top: ~"calc(50% - 35px)";
        background-color: rgba(30, 185, 227, 0.9);
        padding: 20px 22px;
        border-radius:70px;
        .globalDefaultModFont(30px, 400, @white);
      }
    }
  }
  .overlay {
    width:100%;
    height:100%;
    background-color: @homeRunLoyalImageHover;
    position: relative;
    display: none;
    div {
      color: @white;
      position: absolute;
      border: 1px solid @white;
      font-size: 16px;
      padding:10px;
      height:40px;
      width: 120px;
      left: ~"calc(50% - 60px)";
      top: ~"calc(50% - 20px)";
      text-align: center;
    }
  }
  &-right {
    width: 294px;
    height: auto;
    margin-right:15px;
    &-title {
      color: @black;
      .video-title-top {
        font-size:10px;
        text-transform: uppercase;
        display: block;
        margin: 5px auto 0 10px;
        span {
          .globalDefaultModFont(10px, 800, @strokeGrey);
        }
      }
      .video-title-mid {
        display: block;
        margin: 5px 0px 8px 10px;
        .globalDefaultFont(10px, 800);
      }
      .video-title-bottom {
        font-size:12px;
        display: block;
        color:@strokeGrey;
        margin-bottom: 5px;
      }
    }
    &-text {
      display: none;
    }
  }
}
.video-stacktop:hover {
  .video-title-mid {
    color: @homeRunLoyalRed;
  }
  .video-stacktop-video {
    .overlay {
      display: block!important;
    }
    .greyout {
      display:none!important;
    }
  }
}
@media @tablet {
  .video-stacktop {
    width: 640px;
    margin-bottom: 20px;
    .flexDirection(row);
    &-video {
      width: 300px;
      height: 193px;
      margin-right: 15px;
    }
    &-right {
      &-title {
        .video-title-mid {
          font-size: 22px;
        }
      }
      &-text {
        width: 100%;
        font-size:12px;
        height: auto;
        line-height: 1.5;
        height: 125px;
        overflow:hidden;
      }
    }
  }
}
@media @desktop-m {
  .video-stacktop {
    width: 768px;
    &-right {
      width: 352px;
    }
  }
}
@media @desktop-l {
  .video-stacktop:first-of-type {
    margin-top: 0;
  }
  .video-stacktop {
    width: 685px;
    float: right;
    &-video {
      width: 320px;
      height: 206px;
      margin-left: 15px;
    }
    &-right {
      width: 50%;
      height: 190px;
      margin-right:0;
    }
  }
}
