<section class="home container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <header-component></header-component>
      <div class="row">
        <div class="home-hero col-md-12">
          <img class="home-hero-img" src='{{imgHero1}}' />
          <div class="home-hero-info">
            <h1>{{homeHeading1}}</h1>
            <h4>{{homeHeading2}}</h4>
            <div class="home-hero-info-search col-md-4">
              <search [placeholderText]="placeholderText"></search>
            </div>
          </div>
        </div>
      </div>
      <div class="home-main col-md-offset-1 col-md-10">
        <h2><span [innerHTML]="homeHeading3"></span></h2>
        <div class="home-league">
          <h3><span [innerHTML]="leagueHeading"></span></h3>

          <section class="row">
            <div class="col-md-4" *ngFor="#dataItem of teamData">
              <h4>{{dataItem.divisionName}}</h4>
              <div class="home-team">
                <div>
                    <circle-image [data]="dataItem.imageData"></circle-image>
                </div>
                <div class="home-team-name">{{dataItem.location}} <p>{{dataItem.teamName}}</p></div>
              </div>
            </div>
          </section>
          <!-- divisions end -->
        </div>
        <!-- homne league ends -->
      </div>
      <!-- home main ends -->
    </div>
  </div>

  <div class="home-slider col-md-12">
  </div>

  <div class="home-features">
      <div class="home-features-title"><img src='{{imgIcon1}}' /><h2 [innerHTML]="homeFeatures"></h2></div>
      <div></div>
  </div>

  <footer-component></footer-component>
</section>
