.home{
  b{
    font-weight: 900;
  }
  h1{
    .globalDefaultFont(5em, 900);
  }
  h2{
    .globalDefaultFont(3em, 400);
  }
  h3{
    .globalDefaultFont(2.67em, 400);
  }
  h4{
    .globalDefaultFont(2em, 400);
  }
  h5{
    .globalDefaultFont(1.33em, 400);
  }

  background-color: @white;
  height: auto;
  &-hero{
    height: 475px;
    width: 100%;
    position: relative;
    &-img{
      height: 100%;
      width: 100%;
      position: absolute;
    }//home-hero-img ends
    &-info{
      color: @white;
      margin-top: 10%;
      position: absolute;
      width: 100%;
      .flexDisplay;
      .flexDirection(column);
      .flexAlignItems(center);
      h1{
        margin: 0;
      }
      h4{
        margin: 1em;
      }
      &-search{
        background-color: @masterBrandColor;
        border-radius: 5px;
        color: @black;
        font-size: 24px;
        height: 50px;
        width: 600px;
      }//home-hero-info-search ends
    }//home-hero-info ends
  }//home-hero ends
  &-main{
    padding-left: 55px;
    h2{
      padding: 20px;
      text-align: center;
      span{
        border-bottom: 1px solid @black;
        border-top: 1px solid @black;
        padding: 20px;
      }
    }//home-main h2 ends
  }//home-main ends

  &-league{
    h4{
      margin: 0 0 2em 0;
      color: @greyTabText;
    }
  }
  &-team{
    width: 100%;
    margin-bottom: 25px;
    .flexDisplay;
    .flexAlignItems(center);
    &-name{
      margin-left: 15px;
      .globalDefaultFont(18px, 400);
      p{
        line-height: 0;
        .globalDefaultFont(24px, 900);
      }
    }//home-team-name ends
  }//home-team end
  &-slider{
    background-image: url('/app/public/homePage_hero2.png');
    color: @white;
    height: 449px;
    .backgroundSize(cover);
    .flexDisplay;
    .flexAlignItems(center);
    &-news{
      h3{
        margin-bottom: 12px;
      }
      h5{
        line-height: 1.2em;
        margin: 20px 0 70px 0;
      }
      hr{
        border-width: 4px;
        margin: 0 50% 0 0;
      }
      div:first-child{
        background-color: @masterBrandColor;
        border-radius: 3px;
        height: 25px;
        width: 53px;
        text-align: center;
        padding: 7px;
        .globalDefaultFont(1em, 900);
      }
    }
  }//home-slider ends
  &-features{
    text-align: center;
    height: auto;
    &-title{
      .flexDisplay;
      .flexJustify(center);
      .flexAlignItems(center);
      img{
        margin-right: 18px;
        height: 40px;
        width: 45px;
      }
    }
  }
}//home ends
