<section *ngIf="data" class="module-container daily-update">
  <module-header [modHeadData]="headerInfo"></module-header>
  <div *ngIf="data.hasError" class="daily-update-no-data">
    <no-data-box [data]="noDataMessage" [icon]="'fa fa-remove'"></no-data-box>
  </div>
  <div *ngIf="!data.hasError">
    <div class="daily-update-hero" style="background: url('{{backgroundImage}}') top center no-repeat;">
      <h3 class="daily-update-hero-title">{{profileName}}'s Daily Update</h3>
    </div>
    <div class="container-fluid">
      <div class="row stat-wrapper">
        <div class="stat-wrapper-table">
          <h3 class="stat-wrapper-table-title"><span class="fs-18">{{profileName}}'s</span><br />
          <span class="text-heavy">Current Season</span> Stats</h3>
          <p class="stat-wrapper-table-subtitle">Last Updated: {{data.lastUpdateDate}}</p>
          <div class="datapoints">
            <p *ngFor="#item of data.seasonStats" class="datapoints-item">
              <span class="pull-left"><i class="fa {{item.icon}}"></i>{{item.name}}</span>
              <span class="pull-right"><span class="text-heavy">{{item.value}}</span></span>
            </p>
          </div>
        </div>
        <div *ngIf="data.chart" class="stat-wrapper-charts">
          <div class="stat-wrapper-charts-key">
            <h4 class="pull-left">{{data.type}}'s Previous {{comparisonCount}} {{comparisonCount == 1 ? 'Game' : 'Games'}}:</h4>
            <span class="stat-wrapper-charts-key-item stat-wrapper-charts-key-secondary pull-right">{{data.chart.dataSeries[1].name}}</span>
            <span class="stat-wrapper-charts-key-item stat-wrapper-charts-key-primary pull-right">{{data.chart.dataSeries[0].name}}</span>
          </div>
          <bar-chart *ngIf="chartOptions" [options]="chartOptions"></bar-chart>
        </div>
      </div>
    </div>
    <div class="article-teaser container-fluid">
      <circle-image class="pull-left" *ngIf="imageConfig" [data]="imageConfig"></circle-image>
      <div class="article-teaser-text pull-right">
        <h4 class="article-teaser-text-title"><a [routerLink]="data.postGameArticle.url">{{data.postGameArticle.text[0]}}</a></h4>
        <p class="article-teaser-text-subtitle"><i class="fa fa-calendar-o"></i> {{data.postGameArticle.pubDate}}</p>
        <p class="article-teaser-text-body">{{data.postGameArticle.headline}}</p>
        <div><a class="article-teaser-text-cta" [routerLink]="data.postGameArticle.url">Continue Reading <i class="fa fa-angle-right"></i></a></div>
      </div>
    </div>
  </div>
</section>
