.fs-18{
  font-size:18px;
}

/* Mixin */
.vertical-align{
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.daily-update{
  &-hero{
    display:block;
    width: 100%;
    min-height: 198px;
    position: relative;
    &:before{
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.5);
      left: 0;
      right: 0;
      top: 0;
      position: absolute;
    }

    &-title{
      display: block;
      width: 100%;
      min-height: 78px;
      margin: auto;
      font-weight: 400;
      text-align: center;

      .vertical-align;
      background: @masterBrandColor;
      color: @white;
      font-size: 30px;
      line-height:78px;
    }

  }
  .stat-wrapper{
    border-bottom: 1px solid @strokeGrey;
    .clearfix;
    &-table{
      display: block;
      width: 280px;
      float: left;
      padding: 0 22px 5px 15px;
      border-right: 1px solid @strokeGrey;
      margin-right: -1px;
      &-title{
        margin: 15px 0 0 0;
        .globalDefaultFont(20px, 400);
        line-height: 24px;
        b{
          font-weight: 800;
        }
      }
      &-subtitle{
        margin: 0;
        .globalDefaultModFont(10px, 700, @bulletGrey);
        line-height: 16px;
        padding-bottom:9px;
        border-bottom: 1px solid @strokeGrey;
      }
      .datapoints{
        &-item{
          .clearfix;
          padding: 0 10px;
          font-size: 12px;
          line-height: 25px;
          margin: 0;
          .fa{
            margin-right: 12px;
          }
          b{
            font-weight: 800;
          }
        }
      }
    }
    &-charts{
      display: block;
      width: 400px;
      float: left;
      border-left: 1px solid @strokeGrey;
      &-key{
        line-height:14px;
        .clearfix;
        padding: 10px 20px 10px 10px;
        h4{
          margin: 0;
          .globalDefaultModFont(14px, 400, @textEmphasisGrey);
        }
        &-item{
          .globalDefaultModFont(10px, 800, @textEmphasisGrey);
          &:before {
            content: "";
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-right: 6px;
            border-radius: 2px;
            vertical-align: middle;
          }
        }
        &-primary{
          &:before{
            background-color: @textEmphasisGrey;
          }
        }
        &-secondary{
          &:before{
            margin-left: 20px;
            background-color: @masterBrandColor;
          }
        }

      }
    }
  }
  .article-teaser{
    .clearfix;

    circle-image{
      padding: 22px;
    }
    &-text{
      display: block;
      width: 495px;
      padding-right: 20px;
    }
  }
}