<section *ngIf="data && !data.hasError" class="module-container daily-update">
  <module-header [modHeadData]="headerInfo"></module-header>
    <div class="daily-update-hero" [style.background-image]="backgroundImage">
      <h3 class="daily-update-hero-title">{{profileName | possessive}} Daily Update</h3>
    </div>
    <div class="container-fluid">
      <div class="row stat-wrapper">
        <div class="stat-wrapper-table">
          <h3 class="stat-wrapper-table-title"><span class="fs-18">{{profileName | possessive}}</span><br />
          <span class="text-heavy">{{seasonId}} Season</span> Stats</h3>
          <p class="stat-wrapper-table-subtitle">Last Updated: {{data.lastUpdateDate}}</p>
          <div class="datapoints">
            <p *ngFor="let item of data.seasonStats" class="datapoints-item">
              <span class="pull-left"><i class="fa {{item.icon}}"></i>{{item.name}}</span>
              <span class="pull-right"><span class="text-heavy">{{item.value}}</span></span>
            </p>
          </div>
        </div>
        <div *ngIf="data.chart" class="stat-wrapper-charts" [ngStyle]="data.wrapperStyle">
          <div class="stat-wrapper-charts-key">
            <h4 class="pull-left">{{data.type | possessive}} Previous {{comparisonCount}} {{comparisonCount == 1 ? 'Game' : 'Games'}}:</h4>
            <span class="stat-wrapper-charts-key-item stat-wrapper-charts-key-secondary pull-right">{{data.chart.dataSeries[1].name}}</span>
            <span class="stat-wrapper-charts-key-item stat-wrapper-charts-key-primary pull-right">{{data.chart.dataSeries[0].name}}</span>
          </div>
          <bar-chart *ngIf="chartOptions" [options]="chartOptions"></bar-chart>
        </div>
      </div>
    </div>
    <div class="article-teaser container-fluid" *ngIf="data.postGameArticle && data.postGameArticle.text && data.postGameArticle.text.length > 0">
      <circle-image class="pull-left" *ngIf="imageConfig" [data]="imageConfig"></circle-image>
      <div class="article-teaser-text pull-right">
        <h4 class="article-teaser-text-title">
          <a *ngIf="data.postGameArticle.url && data.postGameArticle.type != 'player'" [routerLink]="data.postGameArticle.url">{{profileName | possessive}} Most Recent Game</a>
          <span *ngIf="data.postGameArticle.type == 'player'">{{profileName | possessive}} Most Recent Game</span>
        </h4>
        <p *ngIf="data.postGameArticle.pubDate" class="article-teaser-text-subtitle"><i class="fa fa-calendar-o"></i> {{data.postGameArticle.pubDate}}</p>
        <p *ngIf="data.postGameArticle.text.length > 0" class="article-teaser-text-body" [innerHtml]="data.postGameArticle.text[0] | safeHtml"></p>
        <p class="article-teaser-text-cta"><a *ngIf="data.postGameArticle.url && data.postGameArticle.type != 'player'" class="article-teaser-text-cta-link" [routerLink]="data.postGameArticle.url">Continue Reading <i class="fa fa-angle-right"></i></a></p>
      </div>
    </div>
</section>
