<div *ngIf="footerData && footerStyle" class="module-footer {{footerStyle.ctaBoxClass}}">
  <span class="mf-text">{{footerData.infoDesc}}</span>
  <span class="list-button">
    <!--button component goes here-->
    <!--put inside button when ready [routerLink]="footerData.url"-->
    <!-- <button [routerLink]="footerData.url" class="{{footerStyle.ctaBtnClass}}"> -->
    <button class="{{footerStyle.ctaBtnClass}}">
      <span *ngIf="footerStyle.hasIcon" class="module-footer-icon"></span>
      <span class="module-footer-text">{{footerData.text}}</span>
      <i class="fa fa-angle-right"></i>
    </button>
    <!--button component goes here-->
  </span>
</div>
