.sidekick-container {
  display: none;
  @media (max-width: 1023px) {
    display: block;
    .flexDisplay;
    .flexDirection(column);
    .flexAlignItems(center);
  }
  width: 640px;
  height: 280px;
  background-color: @highlightGrey;
  margin: 20 0 20 -30;
}

.sidekick-ai {
  height: 250px !important;
}