<div (window:resize)="onResize($event)">
    <div *ngIf="!isSmall" class="sidekick-container sidekick-ai">
        <iframe frameborder="0" scrolling="no" allowtransparency="true" src="/app/ads/responsive-aiSidekick.html"
                [ngStyle]="{'display': 'block', 'height': '250px','width': '640px','margin': '0px','border': '0px','overflow': 'hidden','z-index': '0'}"></iframe>
    </div>
    <div *ngIf="isSmall" class="sidekick-container">
        <iframe frameborder="0" scrolling="no" allowtransparency="true" src="/app/ads/widget2.html"
                [ngStyle]="{'display': 'block', 'height': '250px','width': '300px','margin-top': '15px','border': '0px','overflow': 'hidden','z-index': '0'}"></iframe>
    </div>
</div>