.sidekick-container {
  display: none;
  @media (max-width: 1023px) {
    display: block;
  }
  width: 640px;
  height: 280px;
  background-color: @highlightGrey;
  box-shadow: inset 0px -1px 0 0 @strokeGrey, inset 0px 1px 0 0 @strokeGrey;
  margin: 20 0 20 -20;
}