.tile-stack {
  width: 610px;
  height: 141px;
  margin-bottom: 10px;
  &-item {
    height: 100%;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    border-right: 1px solid;
    &:hover{
      box-shadow: inset 0 0 0 1000px rgba(188, 32, 39, 0.75);
    }

    &-text {
      .globalDefaultModFont(18px, 400, @white);
      text-align: center;
      position: relative;
      top:50%;
      transform: translate(0,-50%);
      margin: 0px 10px;
    }
  }
}
@media @desktop-m {
  .tile-stack {
    width: 670px;
    &-item {
      &-text {
        font-size:20px;
      }
    }
  }
}

@media @desktop-xl {
  .tile-stack {
    width: 1086px;
    height: 220px;
  }
}
