.tile-stack {
  width: 610px;
  height: 141px;
  &-item {
    height: 100%;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    border-right: 1px solid;

    &-text {
      .globalDefaultModFont(20px, 400, @white);
      text-align: center;
      position: relative;
      top:50%;
      transform: translate(0,-50%);
      margin: 0px 10px 0px 10px;
    }
  }
}
@media @desktop-m {
  .tile-stack {
    width: 670px;
  }
}

@media @desktop-xl {
  .tile-stack {
    width: 1086px;
    height: 220px;
  }
}
