<!--for calendar-->
<div class="calendar">
  <div class="calendar-carousel">
    <div class="calendar-circles"><i class="fa fa-angle-left"></i></div>
    <div class="calendar-dates">

      <div class="calendar-dates-select">
        <span>Mar.</span><span>27<sup>th</sup></span><span>Sun.</span>
      </div>
      <div class="calendar-dates-select">
        <span>Mar.</span><span>28<sup>th</sup></span><span>Mon.</span>
      </div>
      <div class="calendar-dates-select">
        <span>Mar.</span><span>29<sup>th</sup></span><span>Tues.</span>
      </div>
      <div class="calendar-dates-select">
        <span>Mar.</span><span>30<sup>th</sup></span><span>Wed.</span>
      </div>
      <div class="calendar-dates-select">
        <span>Apr.</span><span>1<sup>st</sup></span><span>Thurs.</span>
      </div>
      <div class="calendar-dates-select">
        <span>Apr.</span><span>2<sup>nd</sup></span><span>Fri.</span>
      </div>
      <div class="calendar-dates-select">
        <span>Apr.</span><span>3<sup>rd</sup></span><span>Sat.</span>
      </div>

    </div>
    <div class="calendar-circles"><i class="fa fa-angle-right"></i></div>
  </div>
  <div class="calendar-selection"><i class="fa fa-calendar"></i></div>
</div>
<!--for calendar-->
