@media (min-width:1024px) {
  .widgetBorder {
  display:none;
  }
}
.module-container .widgetBorder {
  display:none;
}
.widgetWrapper {
  width: 100%;
  height: 280px;
  background-color: @highlightGrey;
  padding: 15px 0;
  position:relative;
  .adSquare {
    width:300px;
    height:250px;
    background-color:red;
    text-align: center;
    margin: 0 auto;
  }
}
