<ul class="share-buttons">
  <li><a href="https://www.facebook.com/sharer/sharer.php?u=&t=" title="Share on Facebook" target="_blank"><img src="app/public/socialIcons/Facebook.png" alt="Facebook Logo"></a></li>
  <li><a href="https://twitter.com/intent/tweet?source=&text=:%20" target="_blank" title="Tweet"><img src="app/public/socialIcons/Twitter.png" alt="Twitter Logo"></a></li>
  <li><a href="https://plus.google.com/share?url=" target="_blank" title="Share on Google+"><img src="app/public/socialIcons/Google+.png" alt="Google+ Logo"></a></li>
  <li><a href="http://pinterest.com/pin/create/button/?url=&description=" target="_blank" title="Pin it"><img src="app/public/socialIcons/Pinterest.png" alt="Pintrest Logo"></a></li>
  <li><a href="http://www.reddit.com/submit?url=&title=" target="_blank" title="Submit to Reddit"><img src="app/public/socialIcons/Reddit.png" alt="Reddit Logo"></a></li>
  <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=&source=" target="_blank" title="Share on LinkedIn"><img src="app/public/socialIcons/LinkedIn.png" alt="LinkedIn Logo"></a></li>
  <li><a href="https://pinboard.in/popup_login/?url=&title=&description=" target="_blank" title="Save to Pinboard"><img src="app/public/socialIcons/Pinboard.png" alt="Pinboard Logo"></a></li>
</ul>
