<section class="page-container">
  <backtab-component></backtab-component>
  <title-component [titleData]="titleData"></title-component>
  <slider-carousel (indexNum)="indexNum($event)" *ngIf="carDataArray" [carouselData]="carDataArray" [footerStyle]="footerStyle"></slider-carousel>
  <tabs (tabSelected)="tabSelected($event)">
    <tab *ngFor="#tab of tabs" [tabTitle]="tab.title" [active]="tab.isActive">
      <custom-table [model]="tab.tableData" (sortChanged)="updateCarousel($event)"></custom-table>
    </tab>
  </tabs>
</section>
