<section class="page-container team-roster-page">
  <backtab-component></backtab-component>
  <title-component *ngIf="titleData" [titleData]="titleData"></title-component>
  <roster-component *ngIf="tabs" [tabs]="tabs" (tabSelected)="standingsTabSelected($event)"></roster-component>
  
  <!--<slider-carousel (indexNum)="indexNum($event)" *ngIf="carDataArray" [carouselData]="carDataArray" [footerStyle]="footerStyle"></slider-carousel>
  <tabs *ngIf="tabs" (tabSelected)="tabSelected($event)">
    <tab *ngFor="#tab of tabs" [tabTitle]="tab.title" [active]="tab.isActive">
      <custom-table [model]="tab.tableData" (sortChanged)="updateCarousel($event)"></custom-table>
    </tab>
    <div>
      <no-data-box *ngIf="!carDataCheck" [data]="errorData.data" [icon]="errorData.icon"></no-data-box>
    </div>
  </tabs>-->
</section>
