<section *ngIf="tabs" class="page-container">
  <backtab-component></backtab-component>
  <title-component [titleData]="titleData"></title-component>
  <slider-carousel (indexNum)="indexNum($event)" *ngIf="carDataArray" [carouselData]="carDataArray" [footerStyle]="footerStyle" [footerInfo]="footerInfo"></slider-carousel>
  <tabs *ngIf="tabs" (tabSelected)="tabSelected($event)">
    <tab *ngFor="#tab of tabs" [tabTitle]="tab.title" [active]="tab.isActive">
      <custom-table [model]="tab.tableData" (sortChanged)="updateCarousel($event)"></custom-table>
      <no-data-box *ngIf="!tab" [data]="errorData.data" [icon]="errorData.icon"></no-data-box>
    </tab>
  </tabs>
</section>
