.sliders{
  @media (max-width: 641px){
    font-size: 100px;
    top: 38%;
  }
  font-size: 8.333em;
  font-weight: 400;
  color: @white;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top:35%;
  .no-select;
  &-right {
    right: 0;
  }

  &-left {
    left: 0;
  }
  &:hover{
    color: @masterBrandColor;
    border-color: @masterBrandColor;
  }
}
