.sliders{
  font-size: 8.33em;
  font-weight: 400;
  color: @white;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top:35%;
  .no-select;
  &-right {
    right: 60px;
  }

  &-left {
    left: 60px;
  }
  &:hover{
    color: @masterBrandColor;
    border-color: @masterBrandColor;
  }
}
