.trending {
  width: 580px;
  font-family: @globalFont;
  &-hr {
    background-color: #cccccc;
    width: 582px;
    height: 1px;
    margin: 0 auto;
  }
  &-main-title {
    font-family: inherit;
    color: #272727;
    font-size: 24px;
    font-weight: 900;
    line-height: 25px;
    text-align: center;
    border-bottom: solid @masterBrandColor 4px;
    width: 245px;
    margin: 25px auto;
    padding-bottom: 3px;
  }
  &-article-title {
    font-family: inherit;
    color: #000;
    font-size: 32px;
    font-weight: 900;
    text-align: left;
  }
  &-article-content {
    font-family: inherit;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    line-height: 20px;
    &:first-letter {
      font-family: @globalFont;
      float: left;
      color: #000000;
      font-size: 120px;
      font-weight: 900;
      line-height: 80px;
      padding-top: 10px;
      padding-right: 25px;
      font-style: italic;
    }
  }
  &-read-more {
    font-family: inherit;
    color: @masterBrandColor;
    font-size: 16px;
    font-weight: 900;
    line-height: 35px;
    text-align: left;
    margin: 10px 0 25px;
  }
}