  <loading-component *ngIf="isLoading && !isError" ></loading-component>

  <error-component *ngIf="isError"></error-component>

  <div *ngIf="!isLoading && !isError" class="directory-container">

      <!-- Title and Path Name -->
      <header class="directory-header">
          <div class="directory-header-location">
              <i class="fa fa-map-marker"></i>
              <span *ngFor="#link of data.breadcrumbList; #isList = last">
                <a *ngIf="link.route" [routerLink]="[link.page, link.pageParams]">{{link.text}}</a>
                <span *ngIf="!link.route">{{link.text}}</span>
                <i *ngIf="isLast" class="fa fa-angle-right"></i>                
              </span>
          </div>
          <div class="directory-header-title">
              {{data.directoryListTitle}}
          </div>
      </header>

      <!-- Navigation Links to Sub Directories -->
      <div *ngIf="data.navigationData" class="directory-nav">
          <div class="directory-nav-title">
              {{data.navigationData.title}}
          </div>
          <div class="directory-nav-links">
              <span *ngFor="#item of data.navigationData.links; #isLast = last">
                <a [routerLink]="[item.page, item.pageParams]" >
                    {{item.text}}
                </a>
                <span class="directory-nav-separator" *ngIf="!isLast">|</span>
              </span>
              <span *ngIf="data.navigationData.moreLink">
                <span class="directory-nav-separator">|</span>
                <a [routerLink]="[data.navigationData.moreLink.page, data.navigationData.moreLink.pageParams]" class="directory-nav-links-more">
                    {{data.navigationData.moreLink.text}}
                </a>
              </span>
          </div>
      </div>

      <directory-pagination *ngIf="data.hasListings" [data]="pagingDescription" [nextLink]="nextLink" [prevLink]="prevLink"></directory-pagination>
      
      <!-- Directory List Data -->
      <ul *ngIf="data.hasListings && data.listingItems" class="directory-list">
          <li *ngFor="#item of data.listingItems.items" class="directory-list-item">
              <div *ngIf="item.lastUpdated" class="directory-list-item-small">
                  Last updated: {{item.lastUpdated | dateTimeStamp}}
              </div>
              <div class="directory-list-item-line">
                <span *ngFor="#link of item.mainDescription; #isLast = last">
                  <a *ngIf="link.page" [routerLink]="[link.page, link.pageParams]" [innerHtml]="link.text">
                  </a>
                  <span *ngIf="!link.page" [innerHtml]="link.text"></span>
                  <span *ngIf="!isLast" class="directory-list-item-separator">|</span>
                </span>
              </div>
              <div class="directory-list-item-line">
                <span *ngFor="#text of item.subDescription; #isLast = last">
                  <span [innerHtml]="text"></span>
                  <i *ngIf="!isLast" class="fa fa-angle-right"></i>
                </span>
              </div>
          </li>
      </ul>

      <div *ngIf="!data.hasListings" class="directory-pagination">
        {{data.noResultsMessage}}
      </div>

      <directory-pagination *ngIf="data.hasListings" [data]="pagingDescription" [nextLink]="nextLink" [prevLink]="prevLink"></directory-pagination>
      
  </div>
