<div *ngIf="data" class="dir-pag row">
  <div class="col-sm-6 dir-pag-text">
    <span class="dir-pag-text-lbl">Showing:</span> 
    <span class="text-heavy">{{data.rangeText}}</span> of 
    <span class="text-heavy">{{data.totalItems}}</span> 
    {{data.description}}
  </div>
  <div class="col-sm-6 dir-pag-buttons">
    <a [routerLink]="prevLink.route" class="dir-pag-button dir-pag-button-l"
     [class.dir-pag-button-active]="enablePrev"
     [class.dir-pag-button-disabled]="!enablePrev">
        <i class="fa fa-angle-left"></i> {{prevLink.text}}
    </a>
    <a [routerLink]="nextLink.route" class="dir-pag-button dir-pag-button-r"
     [class.dir-pag-button-active]="enableNext"
     [class.dir-pag-button-disabled]="!enableNext">
        {{nextLink.text}} <i class="fa fa-angle-right"></i>
    </a>
  </div>
</div>