.directory{
  &-container {
    max-width: 1000px; 
    border: 1px solid @greyBorder;
    background-color: @white;
    margin: 20px auto;
    padding: 20px;
    font-family: @globalFont;
    box-shadow: @modBoxShadow;
  }

  &-header{
    border-bottom: 1px solid @strokeGrey;

    &-location{
      font-size: 12px;
      margin-bottom: 8px;

      .fa-map-marker{
        margin-right: 5px;
        color: @masterBrandColor;
      }

      a{
        color: @black;

        &:hover{
          color: @masterBrandColor;
        }
      }
    }

    &-title{
      font-size: 22px;
      font-weight: 900;
      margin-bottom: 14px;
    }
  }

  &-nav{
    padding: 12px 0px;
    border-bottom: 1px solid @strokeGrey;

    &-title{
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 4px;
    }

    &-links{
      line-height: 20px;
      font-size: 14px;

      a{
        color: @black;

        &:hover{
          color: @masterBrandColor;
        }
      }

      &-more{
        color: @masterBrandColor !important;
        font-weight: 900;
      }
    }
    
    &-separator {
      color: @listSeparatorGrey;
    }
  }

  &-pagination{
    margin: 0 10px;
    padding: 8px 0px;
    
    &-text {
      margin-bottom: 4px;
    }
    
    &-buttons {
      text-align: right;
    }

    &-button{
      display: inline-block;
      width: 140px;
      height: 35px;
      line-height: 35px;
      border-radius: 5px;
      border: none;
      color: @white;
      margin-left: 20px;
      background-color: @bulletGrey;
      text-align: center;
      text-transform: uppercase;

      .fa{
        font-size: 20px;
      }
      .fa-angle-left{
        margin-right: 4px;
      }
      .fa-angle-right{
        margin-left: 4px;
      }

      &.active {
        background-color: @masterBrandColor;
      }

      &:focus {
        color: @black;
        text-decoration: none;
      }
    }
  }

  &-list{
    margin: 0 10px;
    border-top: 1px solid @strokeGrey;
    padding: 0px;

    &-item{
      width: inherit;
      height: auto;
      border-bottom: 1px solid @strokeGrey;
      border-left: 5px solid @listgreyborder;
      padding: 12px 14px;
      background-color: @backgroundGrey;
      line-height: 18px;

      &-small {
        font-size: 12px;
      }
      
      &-line {
        font-size: 14px;
      }
      
      &-separator, .fa-angle-right {
        margin-right: 6px;
        margin-left: 6px;
      }
      
      a {
        color: @masterBrandColor;
      }
    }

    li:nth-child(even){
      background-color: @white;
    }
  }
}