.tweet{
  height: 532px;
  &-embedded{
    text-align: center;
    padding-top: 13px;
  }
}
#twitter-widget-0 {
  border: 1px solid #f2f2f2 !important;
  width: 559px !important;
  height: 458px !important;
}
