.tweet{
  height: 532px;
  &-embedded{
    text-align: center;
    padding-top: 13px;
  }
}
#twitter-widget-0 {
  border: 1px solid @backgroundGrey !important;
  border-radius: 6px 6px 0 0 !important;
  width: 559px !important;
  height: 458px !important;
}
