<table class="custom-table">
  <thead>
    <tr>
      <th *ngFor="#hdr of columns; #i = index">
        <custom-table-header
          [headerData]="hdr"
          [headerIndex]="i"
          (sortSwitched)="setSortColumn($event)">
        </custom-table-header>
      </th>
    </tr>
  </thead>

  <tbody class="{{bodyClass}}">
    <tr *ngFor="#row of rows; #isOdd = odd"
      [class.custom-table-row-selected]="row.isSelected"
      [class.custom-table-row-odd]="isOdd">
      <td *ngFor="#hdr of columns" class="{{bodyClass}}-{{hdr.columnClass}} {{bodyClass}}-cell">
        <circle-image *ngIf="row.cells[hdr.key].profileImageConfig" [data]="row.cells[hdr.key].profileImageConfig"></circle-image>
        <span [innerHtml]="row.cells[hdr.key].displayHtml"></span>
      </td>
    </tr>
  </tbody>

  <tfoot *ngIf="footer" class="custom-table-footer {{bodyClass}}">
    <tr>
      <td *ngFor="#hdr of columns" [innerHtml]="footer[hdr.key]" class="{{bodyClass}}-cell"></td>
    </tr>
  </tfoot>
</table>