.custom-table {
  width: 100%;
  // table-layout: fixed;

  &-header {
    position: relative;
    padding: 8px;
    text-align: center;
    .globalDefaultFont(12px, 400);
    border: @strokeGrey 1px solid;

    margin-right: 4px;
    margin-bottom: 10px;

    &:hover {
      border-color: @masterBrandColor;
      cursor: pointer;
    }

    &-name {
      text-transform: uppercase;
    }
  }

  &-sort {
    float: right;
  }

  th:last-of-type &-header {
    margin-right: 0px;
  }

  /** regular body and cell definitions **/
  &-body {
    tr {
      height: 70px;
    }

    td {
      position: relative;
    }

    &-cell {
      .globalDefaultFont(16px, 400);
      padding: 6px;
    }
  }

  /** compact body and cell definitions **/
  &-compact {
    tr {
      height: 50px;
    }

    &-cell {
      .globalDefaultFont(12px, 400);
      padding: 10px 6px;
    }
  }

  /** row definitions **/
  &-row {

    .bold-column {
      font-weight: 800;
      color: @masterBrandColor;
      text-align: center;
    }

    .image-column {
      font-weight: 800;
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 275px;


      .image-round {
        margin-right: 10px;
        margin-left: 5px;
        display: inline-block;
      }

      a:hover {
        color: @masterBrandColor;
        text-decoration: none;
        .image-round-hover {
          div {
            .flexDisplay;
          }
        }
      }

      a:focus {
        color: @masterBrandColor;
        text-decoration: none;
      }
    }

    .location-column{
      width:168px;
    }

    .date-column {
      width:70px;
      text-align: center;
    }

    .data-column {
      text-align: center;
    }

    .summary-column{
      font-size: 16px;
      color:@masterBrandColor;
      font-weight: 800;
      text-align: center;
      i{
          font-weight: 400;
      }
    }

    .highlight-box, .highlight-box {
      width: 5px;
      top: 0px;
      bottom: 0px;
      left: 0px;
      position: absolute;
    }

    &-even {
      background: @backgroundGrey;
    }

    &-selected,
    &-selected .custom-table-compact-bold-column,
    &-selected .custom-table-body-bold-column {
      background-color: @lightMasterBrandColor;
      border-color: @masterBrandColor;
    }

    &-selected .highlight-box {
      background-color: @masterBrandColor;
    }
  }

  /** footer definitions **/
  &-footer {
    td {
      .globalDefaultFont(12px, 800);
      text-align: center;
    }

    background: @backgroundGrey;
  }
}
