<table *ngIf="model" class="custom-table">
  <thead>
    <tr>
      <th *ngFor="#hdr of model.columns; #i = index" class="{{hdr.columnClass}}-hdr">
        <custom-table-header
          [headerData]="hdr"
          [headerIndex]="i"
          (sortSwitched)="setSortColumn($event)">
        </custom-table-header>
      </th>
    </tr>
  </thead>
  <tbody class="{{bodyClass}}">
    <tr *ngFor="#item of model.rows; #isEven = even; #rowIndex = index"
      class="custom-table-row"
      [class.custom-table-row-selected]="model.isRowSelected(item, rowIndex)"
      [class.custom-table-row-even]="isEven"
      [class.custom-table-row-odd]="!isEven">
      <td *ngFor="#hdr of model.columns; #i = index" class="">
        <div class="{{hdr.columnClass}} {{bodyClass}}-cell">
          <table-cell [cell]="model.getCellData(item, hdr)" [index]="i"></table-cell>
        </div>
      </td>
    </tr>
  </tbody>

  <tfoot *ngIf="model.footer" class="custom-table-footer {{bodyClass}}">
    <tr>
      <td *ngFor="#hdr of model.columns" [innerHtml]="model.footer[hdr.key]" class="{{bodyClass}}-cell"></td>
    </tr>
  </tfoot>
</table>