.custom-table {
  width: 100%;
  
  &-header {
    position: relative;
    padding: 6px; //30px
    text-align: center;
    .globalDefaultFont(12px, 400);
    border: @strokeGrey 1px solid;    
        
    margin-right: 4px;
    margin-bottom: 6px;        
    
    &:hover {
      border-color: @masterBrandColor;
      cursor: pointer;
    }
    
    &-name {
      text-transform: uppercase;
    }
  }
          
  &-sort {
    float: right;
    
    &-dropdown {
      box-sizing: border-box;
      background-color: @white;
      border: @masterBrandColor 1px solid;
      width: 146px;
      
      position: absolute;
      top: 34;
      right: -1;
    
      &-option {
        height: auto;
        text-align: left;
        .globalDefaultFont(12px, 400);
        padding: 10px 8px;
        
        &:hover {
          cursor: pointer;
          background-color: @masterBrandColor;
          color: @white;
          
          .caret-top::after {
            border-bottom-color: @masterBrandColor;
          }
        }
      }
      
      hr {
        color: @strokeGrey;
        height: 1px;
        margin: 0 5px;
      }

      .caret-top {
        content: '';
        position: absolute;
        top: -6px;
        right: 10px;
        border-bottom: 6px solid @masterBrandColor;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;

        &::after {
          content: '';
          position: absolute;
          top: 1px;
          left: -4px;
          border-bottom: 5px solid @white;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
        }
      }
    }
  }
    
  th:last-of-type &-header {
    margin-right: 0px;
  }
  
  /** regular body and cell definitions **/
  &-body {   
    tr {
      height: 70px;
    }
    
    &-cell {
      padding: 6px;
    }
    
    &-bold-column {
      .globalDefaultModFont(16px, 900, @masterBrandColor);
      text-align: center;
    }
    
    &-image-column {
      .globalDefaultFont(16px, 900);
      text-align: left;   
      
      .image-round {
        margin-right: 10px;
        margin-left: 4px;
        display: inline-block;
      }
    }

    &-data-column {
      .globalDefaultFont(16px, 400);
      text-align: center;    
    }
  }
  
  /** compact body and cell definitions **/
  &-compact {   
    tr {
      height: 50px;
    }
    
    &-cell {
      padding: 0 6px;
    }
    
    &-bold-column {
      .globalDefaultModFont(12px, 900, @masterBrandColor);
      text-align: center;
    }
    
    &-image-column {
      .globalDefaultFont(12px, 900);
      text-align: left;   
      
      .image-round {
        margin-right: 1em;
        margin-left: 4px;
        display: inline-block;
      }
    }

    &-data-column {
      .globalDefaultFont(12px, 400);
      text-align: center;    
    }
  }
  
  /** row definitions **/
  &-row {    
    &-even {
      background: @backgroundGrey;
    }
    
    &-selected,
    &-selected .custom-table-compact-bold-column,
    &-selected .custom-table-body-bold-column {
      color: @white;
      background-color: @masterBrandColor;
      border-color: @masterBrandColor;
    }
  } 
  
  /** footer definitions **/
  &-footer {
    td {
      .globalDefaultFont(12px, 900);
      text-align: center;
    }
    
    background: @backgroundGrey;
  }
}