.custom-table {            
  &-sort-dropdown {
    box-sizing: border-box;
    background-color: @white;
    border: @masterBrandColor 1px solid;
    width: 146px;
    
    position: absolute;
    top: 34;
    right: -1;
  
    &-option {
      height: auto;
      text-align: left;
      .globalDefaultFont(12px, 400);
      padding: 10px 8px;
      
      &:hover {
        cursor: pointer;
        background-color: @masterBrandColor;
        color: @white;
        
        .caret-top::after {
          border-bottom-color: @masterBrandColor;
        }
      }
    }
    
    hr {
      color: @strokeGrey;
      height: 1px;
      margin: 0 5px;
    }

    .caret-top {
      content: '';
      position: absolute;
      top: -6px;
      right: 10px;
      border-bottom: 6px solid @masterBrandColor;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;

      &::after {
        content: '';
        position: absolute;
        top: 1px;
        left: -4px;
        border-bottom: 5px solid @white;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
      }
    }
  }
}