<div class="container-fluid vertical">
  <div class="row">
    <div class="col-xs-12">
      <header-component
          *ngIf="!hideHeader"
          [partnerID]="partnerID"
          [partnerScript] ="partnerScript"
          [iframeMaxHeight] ="iframeMaxHeight"
          (scrollPadding)="setScrollPadding($event)">
      </header-component>
      <div class='web-container container-fluid' [style.padding-top]="scrollPadding">
        <router-outlet></router-outlet>
        <footer-component *ngIf="!hideHeader" [partner]="partnerID"></footer-component>
      </div>
    </div>
  </div>
</div>
