<div *ngIf="!league" class="schedule">
    <div class="schedule-next">
        <div class="schedule-next {{defaultGradient}}" [ngStyle]="gradient">
        </div>
        <span *ngFor="let away of awayData">
            <div class="schedule-next-team schedule-next-team-left">
                <a *ngIf="away.url" [routerLink]="away.url">
                    <div class="schedule-next-team-left-url">
                        <span class="schedule-next-team-name">{{away.awayLocation}}<span
                                class="schedule-next-team-name-bold"> {{away.awayName}}</span></span>
                    </div>
                </a>
                <div *ngIf="!away.url" class="schedule-next-team-left">
                        <span class="schedule-next-team-name">{{away.awayLocation}}<span
                                class="schedule-next-team-name-bold"> {{away.awayName}}</span></span>
                </div>
                <div class="schedule-next-team-record">Record: <span class="schedule-next-team-record-bold">{{away.awayWins}} - {{away.awayLosses}}</span>
                </div>
            </div>
            <circle-image *ngIf="away.awayLogo" class="schedule-next-circle schedule-next-circle-left"
                          [data]="away.awayLogo"></circle-image>
        </span>
        <div class="schedule-next-vs">
            vs.
        </div>
        <span *ngFor="let home of homeData">
            <circle-image *ngIf="home.homeLogo" class="schedule-next-circle schedule-next-circle-right"
                          [data]="home.homeLogo"></circle-image>
            <div class="schedule-next-team schedule-next-team-right">
                <a *ngIf="home.url" [routerLink]="home.url">
                    <div class="schedule-next-team-right-url">
                        <span class="schedule-next-team-name">{{home.homeLocation}}<span
                                class="schedule-next-team-name-bold"> {{home.homeName}}</span></span>
                    </div>
                </a>
                <div *ngIf="!home.url" class="schedule-next-team-right">
                        <span class="schedule-next-team-name">{{home.homeLocation}}<span
                                class="schedule-next-team-name-bold"> {{home.homeName}}</span></span>
                </div>
                <div class="schedule-next-team-record">Record: <span class="schedule-next-team-record-bold">{{home.homeWins}} - {{home.homeLosses}}</span>
                </div>
            </div>
        </span>
    </div>
</div>
