.default-gradient {
  height: 100px;
  width: 640px;
  position: relative;
  //background-image: url(/public/BG-dark.png);
  background-size: 640px 310px;
  background: -webkit-linear-gradient(0deg, rgba(0, 34, 180, 0.75) 0%, rgba(45, 45, 45, 0.75) 50%, rgba(246, 176, 0, 0.75) 100%);
  background: -moz-linear-gradient(0deg, rgba(0, 34, 180, 0.75) 0%, rgba(45, 45, 45, 0.75) 50%, rgba(246, 176, 0, 0.75) 100%);
  background: -o-linear-gradient(0deg, rgba(0, 34, 180, 0.75) 0%, rgba(45, 45, 45, 0.75) 50%, rgba(246, 176, 0, 0.75) 100%);
  background: -ms-linear-gradient(0deg, rgba(0, 34, 180, 0.75) 0%, rgba(45, 45, 45, 0.75) 50%, rgba(246, 176, 0, 0.75) 100%);
  background: linear-gradient(90deg, rgba(0, 34, 180, 0.75) 0%, rgba(45, 45, 45, 0.75) 50%, rgba(246, 176, 0, 0.75) 100%);
  background-color: #363636;
}

.schedule {
  width: 100%;
  height: 100px;
  background-color: @fontIconGrey;
  position: relative;
  &-next {
    height: 100px;
    width: 640px;
    position: relative;
    &-circle {
      height: 72px;
      width: 72px;
      border-radius: 50%;
      border: 2px solid @strokeGrey;
      background-size: contain !important;
      background-position: center center !important;
      background-repeat: no-repeat;
      background-clip: padding-box;
      position: absolute;
      top: 15px;
      &-left {
        left: 220px;
      }
      &-right {
        right: 220px;
      }
    }
    &-team {
      font-size: 1em;
      position: absolute;
      width: 205px;
      height: 55px;
      line-height: 14px;
      text-overflow: ellipsis;
      overflow: hidden;
      color: @white;
      &-left {
        left: 0px;
        text-align: right;
        z-index: 1;
        top: 30px;
        &-url {
          color: @white;
          display: inline-block;
          &:hover {
            color: @masterBrandColor;
          }
        }
      }
      &-right {
        right: 0;
        text-align: left;
        z-index: 1;
        top: 30px;
        &-url {
          color: @white;
          display: inline-block;
          &:hover {
            color: @masterBrandColor;
          }
        }
      }
      &-name {
        .globalDefaultFont(16px, 400);
        line-height: 22px;
        width: 125px;
        text-overflow: ellipsis;
        overflow: hidden;
        &-bold {
          font-weight: 800;
        }
      }
      &-record {
        font-weight: 400;
        &-bold {
          font-weight: 800;
        }
      }
    }
    &-vs {
      .globalDefaultModFont(20px, 800, @white);
      position: absolute;
      top: 40px;
      left: 48.7%;
      text-align: center;
      line-height: 10px;
    }
  }
}
