.au {
  min-height: 900px;
  
  &-heading{
    .globalDefaultFont(18px, 400);
    position: relative;
    border-top: 1px solid @strokeGrey;
    padding: 15px;
  }
  
  &-hr {
    border: none;
    color: @strokeGrey;
    background-color: @strokeGrey;
  }
  
  &-content {    
    border-top: 1px solid @strokeGrey;
    margin: 0 15px;
  }
  
  &-desc{
    .globalDefaultFont(14px, 400);
    line-height: 20px;
    padding: 0 9px;
    margin-bottom: 33px;
    
    &-headline{
      .globalDefaultFont(18px, 900);
      padding-bottom: 10px;
      border-bottom: 1px solid @strokeGrey;
    }
  }
  
  &-blocks{
    padding-left: 6px;
    .flexDisplay;
    .flexWrap(wrap);
    
    &-block{      
      border: solid 1px @strokeGrey;
      border-left: solid 5px @highlightGrey;
      box-sizing: border-box;
      background-color: @backgroundGrey;
      width: 310px;
      height: 70px;
      margin: 10px;
      .flexDisplay;
      .flexDirection(row);
      
      &-content {
        float: right;
        padding-top: 14px;
      }
      
      &-title {        
        .globalDefaultModFont(12px, 900, @greyTextGlobal);
      }
      
      &-data {
        .globalDefaultModFont(24px, 900, @black);        
      }
      
      &-image {
        margin: 9px 33px 0 29px;
      }
    
      &-icon {
        width: 30px;
        height: 30px;
        margin: 20px 45px 0 45px;
      }
    }
  }//Blocks End
}
