<div class="row">
    <section class='page-container col-md-8'>
        <backtab-component></backtab-component>
        <title-component [titleData]="titleData"></title-component>
        <div class="au-heading" [innerHtml]="auHeaderTitle"></div>
        <div class="au-content">
            <div class="au-desc">
                <p *ngFor="#paragraph of auContent" [innerHtml]="paragraph">
                    
                </p>
            </div>
        </div>
        <!--Blocks Start-->
        <div class="au-blocks">
            <div *ngFor="#auBlock of auBlocks" class="au-blocks-block">
                <div *ngIf="auBlock.iconUrl" class="au-blocks-block-icon">
                    <img src="{{auBlock.iconUrl}}" onerror="this.src='app/public/profile_placeholder.png'" />
                </div>
                <div *ngIf="auBlock.imageConfig" class="au-blocks-block-image">
                    <circle-image [data]="auBlock.imageConfig"></circle-image>
                </div>
                <div class="au-blocks-block-content">
                    <div class="au-blocks-block-title">{{auBlock.titleText}}</div>
                    <div class="au-blocks-block-data">{{auBlock.dataText}}</div>
                </div>
            </div>
        </div>
        <!--Blocks End-->
    </section>
</div>