<div id="deep-dive-block-3" class="deep-dive-block">
  <div class="deep-dive-module">
    <article-stack-module *ngIf="thirdStackRow" [stackTop]="thirdStackTop" [stackRow]="thirdStackRow"></article-stack-module>
  </div>
  <div class="deep-dive-module deep-dive-recommendations">
    <recommendations-component *ngIf="recommendationData" [randomHeadlines]="recommendationData" [isDeepDive]="true"></recommendations-component>
  </div>
  <div class="deep-dive-module">
    <video-stack-component [state]="geoLocation" [page]="3" [videoData]="videoData"></video-stack-component>
  </div>
  <div class="deep-dive-module">
    <responsive-widget [embedPlace]="widgetPlace"></responsive-widget>
  </div>
</div>
