<div class="module-container"> <!--global class for all modules-->
  <div class="dli-container">
    <!---->
    <div class="dli-container-left">
      <!--put in image component-->
    </div>
    <div class="dli-container-right">
      <!--put in right box styles-->
      <div class="dataBox">
        <div class="dataBox-dataleft">
          <span>Data Point1</span>
          <span>Data Point2</span>
          <span>Data Point3</span>
        </div>
        <div class="dataBox-dataright">
          <span>Value Point1</span>
          <span>Value Point2</span>
          <span>Value Point3</span>
        </div>
      </div>
      <!--cta container-->
      <div class="cta-container">
        <span>Want more information about this {profile}?</span>
        <button>
          <span></span>
          <span>View Profile</span>
          <i class="fa fa-angle-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>
