<!--ngFor loop here and add background color class within dli-container-->
  <div *ngFor="#details of detailedItemData; #i = odd" class="dli-container" [ngClass]="{'odd': i == true}">
    <div class="dli-container-left">
      <circle-image [data]="details.imageConfig"></circle-image>
    </div>
    <div class="dli-container-right">
      <!--put in right box styles-->
      <div class="dataBox">
        <div *ngFor="#data of details.dataPoints" [ngClass]="data.style">
          <i class="{{data.icon}}"></i>
          <span><a *ngIf="data?.url" [routerLink]="data.url" [ngClass]="{'data-hover': data.url != ''}" [innerHTML]="data.data"></a></span>
          <span [innerHTML]="data.value"></span>
        </div>
      </div>
      <!--cta container-->
      <div class="cta-container">
        <span [innerHTML]="details.ctaDesc"></span>
        <span>
          <!--button component goes here-->
          <button>
            <span class="dli-icon module-footer-icon"></span>
            <span [innerHTML]="details.ctaText"></span>
            <i class="fa fa-angle-right"></i>
          </button>
          <!--button component goes here-->
        </span>
      </div>
    </div>
  </div>
