.dli-icon{
    float:left;
    position: absolute;
    left:10px;
    top:5px !important;
}

.dli-container{
  width:100%;
  height:155px;
  border-bottom: 1px solid @greyBorder;
  &.odd{
    background-color: @backgroundGrey;
  }
  &.even{
    background-color: @white;
  }
  &-left{
    float:left;
    width:22.8%;
    height:100%;
    padding:15px 15px 15px 20px;
  }
  &-right{
    float:right;
    width:77.2%;
    height:100%;
    padding: 10px 20px 0 0;
    .dataBox{
      width:100%;
      height:auto;
      color:@black;
      margin: 10px 0;
      .inlineFlexDisplay;
      .flexDirection(column);
      .flexJustify(space-between);
      .data-hover{//hover states
        text-decoration: none;
        color: @black;
        a{
          &:hover{
            text-decoration: none;
            color:@masterBrandColor;
            cursor: pointer;
          }
        }
      }
      &-info{
        font-size: 14px;
        width: 100%;
        display: inline-block;
        &.detail-small{
          font-size: 10px;
          font-weight: 600;
          line-height: 1.3em;
          & > i{
            color:@masterBrandColor;
          }
        }
        &.detail-large{
          font-size: 20px;
          font-weight: 800;
          line-height: 1.2em;
        }
        &.detail-medium{
          font-size: 14px;
          line-height: 1.3em;
          & > i{
            float:left;
            color:@masterBrandColor;
            padding-right:.2em;
          }
        }
        &-text{
            display: inline;
            width:62%;
            float: left;
            text-align: left;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          &-right{
            display: inline;
            width:33%;
            float: right;
            text-align: right;
          }
        }//END OF a tag css modifier
      }//END OF <div> tag css modifier
    }
    .cta-container{
      width:100%;
      height:45px;
      border: 1px solid @greyBorder;
      background-color: @white;
      line-height: 2em;
      padding: 4px 4px 4px 19px;
      & > span:first-child{
        display: inline-block;
        width:65%;
        color:@black;
        font-size: 14px;
        text-align: left;
        float: left;
        margin: 3px 0 3px 5px;
      }
      & > span:last-child{
        display: inline-block;
        width:33.5%;
        float:right;
      }
      & a{
        font-size: 14px;
        width:160px;
        height:35px;
        background-color:@masterBrandColor;
        color:@white;
        border:none;
        line-height: 2.5em;
        border-radius: 5px;
        position: relative;
        display:block;
        text-align: center;
        &:focus{
          outline: 0;
        }
        &:hover{
          background-color: @black;
        }
        & > span:first-child{
          width:25px;
          height:25px;
          border-radius: 50%;
          background-image: url(@homeRunLoyalIcon);
          background-position: center;
          background-repeat: no-repeat;
        }
        & > i{
          margin-left: 5px;
        }
      }
    }
  }
}
