<div class="module-container"> <!--global class for all modules-->
  <div class="dli-container">
    <div class="dli-container-left">
      <!--put in image component-->
      <div class="dli-image">
        <div class="dli-image-top-left">#1</div>
        <div class="dli-image-bottom-right"></div>
      </div>
      <!--put in image component-->
    </div>
    <div class="dli-container-right">
      <!--put in right box styles-->
      <div class="dataBox">
        <div>
          <i></i><span>Data Point1</span> <span>Value Point1</span>
        </div>
        <div>
          <span>Data Point2</span> <span>Value Point2</span>
        </div>
        <div>
          <i class="fa fa-map-marker"></i><span>Data Point3</span> <span class="dataBox-dataright">Value Point3</span>
        </div>
      </div>
      <!--cta container-->
      <div class="cta-container">
        <span>Want more information about this {profile}?</span>
        <span>
          <!--button component goes here-->
          <button>
            <span></span>
            <span>View Profile</span>
            <i class="fa fa-angle-right"></i>
          </button>
          <!--button component goes here-->
        </span>
      </div>
    </div>
  </div>
</div>
