.standings {
  &-carousel {
    height: 250px;
    background-color: #666;
  }
  
  &-btn {
    padding: 8px;
    text-align: center;
    border: 1px solid @masterBrandColor;
    background: #666;
    margin: 1em;
    color: @white;
    
    &:hover {
      cursor: pointer;
    }
  }
}