<div class="module-component standings">
  <module-header [modHeadData]="headerInfo"></module-header>
  <carousel [type]="'type1'"></carousel>
  <tabs *ngIf="tabs.length > 0">
    <tab [tabTitle]="tabs[0].title">
      <custom-table [columns]="columnData" [rows]="tabs[0].tableData"></custom-table>
    </tab>
    <tab *ngIf="tabs.length > 1" [tabTitle]="tabs[1].title">
      <custom-table [columns]="columnData" [rows]="tabs[1].tableData"></custom-table>
    </tab>
    <tab *ngIf="tabs.length > 2" [tabTitle]="tabs[2].title">
      <custom-table [columns]="columnData" [rows]="tabs[2].tableData"></custom-table>
    </tab>
  </tabs>
  <div (click)="changeSelected()" class="standings-btn">
    Test switching rows
  </div>
  <module-footer [footerData]="footerInfo"></module-footer>
</div>
