@import (reference) "./app/global/stylesheets/components.less";
@import (reference) "./app/global/stylesheets/base.less";

.doc-main {
  //margin: 0 !important;
  height: auto;
  h1 {
    text-align:center;
    width:100%;
    background-color:@masterBrandColor;
    height:70px;
  }
  nav {
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
    .globalDefaultModFont(14px, 300, @white);
    a {
      text-align:center;
      line-height:40px;
      width:100px;
      // height:40px;
      padding: 5px;
      color:white;
      background-color:black;
      cursor:pointer;
    }
  }
}

.testLinks{
  a {
    .globalDefaultModFont(14px, 300, @white);
    text-align:center;
    line-height:40px;
    width:100px;
    padding: 10px;
    color:white;
    background-color:black;
    cursor:pointer;
  }
}

.web-container{
  height: auto;
  min-height: 650px;
  width: 100%;

}

.page-loading {
  position: fixed;
  top: 50%;
  left: 50%;
}

.fixedHeader{
  width:100%;
  height:auto;
  position: fixed;
  z-index: 999;
  background-color: @highlightGrey;
}

.vertical{
  min-width: 640px;//TODO
  overflow-x: hidden;
}

team-page > .web-container{
  width: 960px;
}
deep-dive > .web-container{
  width: 640px;//320px;
  @media @tablet{
    width: 640px;
  }
  @media @desktop-l{
    width: 1024px;
  }
  @media @desktop-xl{
    width: 1440px;
  }
}
