.transactions{
  width:auto;
  height:auto;
  &-container{
    width:100%;
    padding-top:5px;
  }
  .no-data{
    height: 70px;
    margin: 5px auto;
  }
  &-title{
    margin: 12px 20px 0 20px;
  }
}
