.transactions{
  width:680px;
  height:auto;
  &-container{
    width:100%;
  }
  .tab-inset{
    margin: -10px -10px 0 -10px;
  }
  .no-data{
    height: 70px;
    margin: 5px auto;
  }

  &-title{
    margin: 12px 20px 0 20px;
  }
}
