<div class="module-container draft-history">
  <module-header [modHeadData]="modHeadData"></module-header>
  <slider-carousel *ngIf="carouselDataArray" [carouselData]="carouselDataArray"></slider-carousel>
  <tabs *ngIf="dataArray" (tabSelected)='selectedTab($event)'>
    <tab *ngFor="let data of dataArray; let i = index" [active]="i == 0" [tabTitle]="data.tabDisplay">
      <div class="draft-history-container">
        <div style="margin:-1em"> <!-- due to tab having a default value of padding 1em for tab purposes so we just reverse it with margin -->
          <detailed-list-item *ngIf="detailedDataArray" [detailedItemData] = 'detailedDataArray'></detailed-list-item>
        </div>
      </div>
      <div class="comparison-module-no-data" *ngIf="!detailedDataArray && errorData">
        <no-data-box [data]="errorData.data" [icon]="errorData.icon"></no-data-box>
      </div>
    </tab>
  </tabs>
  <module-footer [footerData] = 'footerData'></module-footer>
</div>
