.box-scores{// BOX-SCORES CONTAINER
  width:680px;
  height:auto;

  &-info{
    width:100%;
    height:auto;
    padding:10px 10px 5px 10px;
    .flexDisplay;
    .flexDirection(row);
    .flexJustify(space-between);
    .flexWrap(wrap);

    .odd{
      background-color: @backgroundGrey;
    }
    .even{
      background-color: @white;
    }
  }

  .schedule-next-circle{
    border: 2px solid @strokeGrey;
    height:66px;
    width:66px;
  }
  .schedule-next-vs{
    font-weight: 800;
  }
}//end of box-scores container
