.search-page{
  &-results{
    padding: 0px 30px;

    &-item{
      border-top: 1px solid @masterSmallImageShadow;
      line-height: 25px;
      padding: 18px 0px 15px 0px;

      &:first-child{
        border-top: none;
      }

      &-title{
        display: block;
        font-size: 20px;
      }

      &-link{
        color: @activeBlue;
        text-decoration: none;
        &:hover{
          color: @activeBlue;
          text-decoration: none;
        }
        &:focus{
          outline: none;
        }
      }

      &-description{
        line-height: normal;
      }

      &.no-results{
        line-height: 24px;
        font-size: 20px;
        border-bottom: 1px solid @masterSmallImageShadow;
      }
    }
  }
}