.sub_header{
  width: 100%;
  height: 44px;
  background-color: @textEmphasisGrey;
  display: flex;
  font-family: Lato;
  &-tab{
    background-color: @subHeaderTabGrey;
    height: 44px;
    width: 180px;
    font-size: 14px;
    font-weight: bold;
    color: @white;
    line-height: 44px;
    text-align: center;
    border-bottom: 3px @tcxBlue solid;
  }
  &-topics{
    text-align: center;
    color: @white;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    margin: auto;
    &-text{
      margin-right: 16px;
    }
    &-item{
      color: @tcxBlue;
    }
  }
  &-poweredby{
    display: flex;
    margin-left: 10px;
    height: 44px;
    width: auto;
    color: @white;
    font-size:16px;
    line-height: 44px;
    &-text{
      font-size: 10px;
    }
  }
}
.pbwrapper{
  display: flex;
  margin-left: auto;
  margin-right: 20px;
}
