.sub_header{
  width: 100%;
  height: 35px;
  background-color: @textEmphasisGrey;
  padding: 0 25px;
  .flexDisplay;
  &-tab{
    background: @subHeaderTabGrey;
    width: 180px;
    line-height: 35px;
    text-align: center;
    border-bottom: 3px @tcxBlue solid;
    .globalDefaultModFont(14px, 800, @white);
    &-logo{
      margin-bottom: 3px;
      width: 15px;
      height: 15px;
    }
  }
  &-topics{
    text-align: center;
    color: @white;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    margin: auto;
    &-text{
      margin-right: 16px;
    }
    &-item{
      color: @tcxBlue;
    }
  }
  &-poweredby{
    .flexDisplay;
    margin-left: 10px;
    width: auto;
    color: @white;
    font-size:16px;
    line-height: 35px;
    &-text{
      font-size: 10px;
    }
  }
}
.pbwrapper{
  .flexDisplay;
  margin-left: auto;
}
