<div class="carousel_scoll" (mousemove)="movingMouse($event)">
  <div class="carousel_scoll-left" (click)="left($event)" [ngClass]="{'disabled': minScroll === true }"><i class="fa fa-angle-left"></i></div>
  <div class="carousel_scoll-box" (mousedown)="scrollX($event)" (mouseup)="scrollX($event)">
    <div *ngIf="displayedItems" class="carousel_scoll-container score-transition2" [style.right]="rightText | safeStyle">
      <div class="carousel_scoll-item"  *ngFor = "let item of displayedItems; let i = index" [ngStyle]="{'background-image': 'linear-gradient(180deg, rgba(40, 40, 40, 0.5) 0%, rgba(24, 24, 24, 0.65) 100%), url(' + item.data.image_url + ')', 'right': item.right}" [ngClass]="{'clone': item.clone == 'clone'}">
        <div class="carousel-item">
          <div class="carousel-item-container" >
            <div class="carousel-item-container-key" [innerHTML]="item.data.keyword | safeHtml"></div>
            <div class="carousel-item-container-title" [innerHTML]="item.data.title | safeHtml"></div>
            <div class="carousel-item-container-title-border"></div>
            <div class="carousel-item-container-content" [innerHTML]="item.data.teaser | safeHtml">
            </div>
            <a [routerLink]="item.data.articlelink">
              <div class="carousel-item-container-fullstory">Read the Full Story</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel_scoll-overlayright" *ngIf="fade"></div>
  <div class="carousel_scoll-overlayleft" *ngIf="fade"></div>
  <div class="carousel_scoll-right" (click)="right($event)" [ngClass]="{'disabled': maxScroll === true}"><i class="fa fa-angle-right"></i></div>
</div>
