.video-stack-container {
  margin: auto auto 20px;
  width: 625px;
  padding-left: 8px;
}


@media @desktop-m {
  .video-stack-container {
    width: 670px;
    padding-left:10px;
  }
}
@media @desktop-l {
  .video-stack-container {
    width: 670px;
    padding:0;
  }
}
@media @desktop-xl {
  .video-stack-container {
    width: 1120px;
    margin:0 auto;
  }
}
