.video-stack-container {
  margin: auto auto 30px;
  width: 610px;
}

@media(@desktop-m) {
  .video-stack-container {
    width: 670px;
  }
}
@media(@desktop-l) {
  .video-stack-container {
    width: 100%;
    .flexDisplay;
    .flexDirection(row-reverse);
  }
}
@media(@desktop-xl) {
  .video-stack-container {
    width: 1087px;
  }
}
