.video-stack-container {
  margin: auto;
  width: 610px;
}
.video-stack-container:first-child {
  .video-stacktop {
    margin-bottom: 20px;
    }
}
@media(min-width: 768px) {
  .video-stack-container {
    width: 670px;
  }
}
