<div class="video-stackbot">
  <div class="video-stackbot-item">
    <div class="video-stackbot-item-image"></div>
    <div class="video-stackbot-item-text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor


    </div>
  </div>
  <div class="video-stackbot-item">
    <div class="video-stackbot-item-image"></div>
    <div class="video-stackbot-item-text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor


    </div>
  </div>
  <div class="video-stackbot-item">
    <div class="video-stackbot-item-image"></div>
    <div class="video-stackbot-item-text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor


    </div>
  </div>
  <div class="video-stackbot-item">
    <div class="video-stackbot-item-image"></div>
    <div class="video-stackbot-item-text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor


    </div>
  </div>
</div>
