.video-stackbot {
  display: flex;
  flex-wrap: wrap;
  &-item {
    display: flex;
    width: 50%;
    height: 75px;
    margin-top: 15px;
    &-image {
      width: 100px;
      height: 75px;
      background-color:@highlightGrey;
      margin-right: 10px;

    }
    &-text {
      width: 179px;
      height: auto;
    .globalDefaultModFont(10px, 800, @black);
      line-height: 1.5;
      text-align: left;
    }
  }
}
@media (min-width: 768px) {
.video-stackbot{
  width: 670px;
  &-item {
    &-text {
    font-size:11px;
    width:200px;
    height: 66px;
      }
    }
  }
}
@media (min-width:1300px) {
  .video-stackbot {
    display: block;
    width: 360px;
    &-item {
      width: 100%;
      height: 96px;
      &-image {
        width:144px;
        height: 93px;
      }
      &-text {
        width: 200px;
        height: auto;
      }
    }
  }
}
