.video-stackbot {
  .flexDisplay;
  .flexWrap(wrap);
  &-item {
    .flexDisplay;
    width: 50%;
    height: 75px;
    margin-bottom: 15px;
    &-image {
      width: 100px;
      height: 75px;
      background-color:@highlightGrey;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      margin-right: 10px;
      .greyout {
        position: relative;
        width:100%;
        height:100%;
        background-color: rgba(0,0,0,0.3);
        .playCircle {
          position:relative;
          height: 30px;
          width: 30px;
          left: ~"calc(50% - 15px)";
          top: ~"calc(50% - 15px)";
          background-color: rgba(30, 185, 227, 0.9);
          color: @white;
          padding: 8px 10px;
          border-radius:30px;
        }
      }
    }
    .overlay {
      width:100%;
      height:100%;
      background-color: @homeRunLoyalImageHover;
      position: relative;
      display: none;
      div {
        color: @white;
        position: absolute;
        border: 1px solid @white;
        font-size: 12px;
        padding:8px;
        height:30px;
        width: 60px;
        left: ~"calc(50% - 30px)";
        top: ~"calc(50% - 15px)";
        text-align: center;
      }
    }
    &-right {
      .video-title-top {
        font-size:10px;
        text-transform: uppercase;
        span {
          .globalDefaultModFont(10px, 900, @strokeGrey)
        }
        margin-bottom:5px;
      }
    }
    &-text {
      width: 179px;
      height: 57px;
      overflow:hidden;
      line-height: 1;
      text-align: left;
      .globalDefaultModFont(14px, 400, @black);
    }
  }
  &-item:hover {
    .video-stackbot-item-text {
      color: @homeRunLoyalRed;
    }
    .video-stackbot-item-image {
      .overlay {
        display: block;
      }
      .greyout {
        display:none;
      }
    }
  }
}
@media (min-width: 768px) {
.video-stackbot{
  width: 670px;
  &-item {
    &-text {
    width:200px;
      }
    }
  }
}
@media (min-width:1440px) {
  .video-stackbot {
    display: block;
    width: 360px;
    &-item {
      width: 100%;
      height: 96px;
      &-image {
        width:144px;
        height: 93px;
      }
      &-text {
        width: 200px;
        height: 69px;
        overflow:hidden;
      }
    }
  }
}
