<!-- check if data is available and/or valid -->
<section class="scc">
  <!-- slider carousel component placeholder section -->
  <section class="scc-placeholder" style="background-image: url('/app/public/homePage_hero1.png');">
    <!-- slider next/previous buttons -->
    <circle-button (scrollRight)="right()" (scrollLeft)="left()" ></circle-button>
    <!-- center section where images and descriptions details display -->
    <div class="scc-details">
        <!-- main round image -->
        <div class="scc-details-mainImg">
          <!-- image component place here -->
          <div *ngFor="#dataItem of teamRosterImg">
              <circle-image [data]="dataItem.imageData"></circle-image>
          </div>
          <!-- image component ends -->
      </div>
      <!-- round main image ends -->
      <!-- carousel description -->
      <div class="scc-details-desc">
        <p>Line 1</p>
        <p>Line 2</p>
        <p>Line 3</p>
        <p>Line 4</p>
      </div>
      <!-- desc ends -->
    </div>
    <!-- center details ends -->
  </section>
  <!-- placeholder ends -->
</section>
