<!-- check if data is available and/or valid -->
<section class="scc">
  <!-- slider carousel component placeholder section -->
  <section class="scc-placeholder" style="background-image: url('/app/public/homePage_hero1.png');">
    <!-- slider next/previous buttons -->
    <circle-button (scrollRight)="right()" (scrollLeft)="left()" ></circle-button>
    <!-- center section where images and descriptions details display -->
    <div class="scc-details">
      <!-- round main image begins -->
        <!-- main round image -->
        <div class="scc-details-mainImg">
          <!-- image component place here -->
          <div>
            <a href="/" class='image-150-hover'>
              <img src='/app/public/placeholder-location.jpg;' onerror="this.src='/app/public/placeholder-location.jpg';" />
              <div>
                <p>View</p>
                <p>Profile</p>
              </div>
            </a>
          </div>
          <!-- image component ends -->
      </div>
      <!-- round main image ends -->
      <!-- carousel description -->
      <div class="scc-details-desc">
        <span>Test Me!</span>
      </div>
      <!-- desc ends -->
    </div>
    <!-- center details ends -->
  </section>
  <!-- placeholder ends -->
</section>
