.scc{
    width: 680px;
    height: 250px;
    position: relative;
    &-placeholder{
      .flexDisplay;
      .flexDirection(column);
      .flexJustify(center);
      width: 100%;
      height: 100%;
    }//.scc-placeholder ends
    &-details{
      .flexDisplay;
      .flexDirection(row);
      width: 80%;
      height: 80%;
      margin: 7% auto;
      &-mainImg{
        width: 35%;
        text-align: center;
      }//.scc-details-mainImg ends
      &-desc{
        .flexAlignItems(flex-start);
        .globalDefaultModFont(14px, 400, @white);
      }//.scc-details-desc ends
    }//.scc-details ends
}//.scc ends
