@pagewidth: 921px;
@mainwidth: 580px;

.recommendations {
  height: 513px;
  width: @mainwidth;
  &-header {
    border-bottom: 2px solid #d7d7d7;
    &-icon {
      color: #e80f0d;
      font-size: 32px;
      font-weight: 400;
      text-align: left;
      margin-right: 15px;
    }
    &-text {
      .globalDefaultFont(32px, 400);
      text-align: left;
    }
  }
  &-articles {
    margin-top: 24px;
    &-six {
      margin: 0 6px;
      color: @black;
      &:hover {
        color: #bc2027;
      }
      &:hover .articleBoxMedium {
        .articleImageLinkWithHoverMedium(180px, 120px);
        div {
          left: 0;
        }
      }
      &-image {
        width: 180px;
        height: 120px;
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      &-text {
        .globalDefaultFont(16px, 800);
        //necessary for multiline ellipses
        display: block;
        display: -webkit-box; line-height: 1.4;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        top: 130px;
      }
      &-time {
        .globalDefaultModFont(12px, 400, @bulletGrey);
        text-align: left;
        margin-top: 5px;
      }
    }
  }
}

.article {
  float: left;
  width: 180px;
  height: 210px;
}

.deep_recs{
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  // margin-top: 40px;
  &-row{
    display: flex;
    justify-content: space-between;
  }
  &-articles{
    width: 32.045%;
    margin-bottom: 10px;
    &-item{
      &:hover .deep_recs-articles-item-image-highlight{
        .flexDisplay;
      }
      &-image{
        //this is the minimum value
        width: 100%;
        background-color: grey;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        position: relative;
        display: inline-block;
        line-height: 120px;
        &-highlight{
          position: absolute;
          top:0;
          left:0;
          z-index: 5;
          width:100%;
          height:100%;
          box-shadow: inset 0 0 0 -10000px @masterHighlightColor;
          display: none;
          text-align: center;
          background-color: rgba(188, 32, 39, 0.75);
            p{
            &:first-child{
              .globalDefaultFont(18px, 700);
              line-height: 28px;
              margin:auto;
              border-radius: 5px;
              width: 125px;
              height: 28px;
              color: @white;
              border: 1px solid @white;
              background-color: rgba(0, 0, 0, 0.25);
              position: relative;

            }
          }
        }
      }
      &-content{
        margin-top: 10px;
        overflow:hidden;
        text-overflow: ellipsis;
        height: auto;
        width: 100%;
        &-dateline{
          .globalDefaultFont(11px, 800);
          &-keyword{
            margin-right: 3px;
          }
          &-date{
            color: @bulletGrey;
          }
        }
        &-teaser{
          margin-top: 5px;
          height: auto;
          font-size: 12px;
        }
      }
    }
  }
}

//Media Queries for .deep_recs elements;
@media @mobile{
  .deep_recs{
    margin-top: 30px;
    margin-bottom: -30px;
    &-articles{
      width: 180px;
      margin-bottom: 24px;
      &-item{
        &-image{
          height: 120px;
        }
        &-content{
          .globalDefaultFont(16px, 800);
          margin-top: 0px;
          line-height: 18px;
          &-dateline{
            display: none;
            &-below{
              display: block;
              .globalDefaultFont(12px, 400);
              color: @strokeGrey;
              line-height: 24px;
            }
          }
          &-teaser{
            margin-top: 14px;
            font-weight: 800;
            font-size: 16px;
          }
        }
      }
    }
  }
}
@media @tablet{
  .deep_recs{
    padding-left: 15px;
    padding-right: 15px;
    &-articles{
      width: 180px;
      &-item{
        &-image{
          height: 120px;
        }
        &-content{
          .globalDefaultFont(16px, 800);
          line-height: 18px;
          margin-top: 0px;
          &-dateline{
            display: none;
            &-below{
              display: block;
              .globalDefaultFont(12px, 400);
              color: @strokeGrey;
              line-height: 24px;
            }
          }
          &-teaser{
            margin-top: 14px;
            font-weight: 800;
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media @desktop-m {
  .deep_recs {
    padding-left: 49px;
    padding-right: 49px;
  }
  .deep-dive-container .deep_recs{
    &-articles{
      width: 216px;
      &-item{
        &-image{
          height: 136px;
        }
      }
    }
    &-articles-item{
      &-content{
        .globalDefaultFont(12px, 800);
        margin-top: 10px;
        &-dateline{
          display: block;
          &-below{
            display: none;
          }
        }
      }
    }
  }
}
@media @desktop-l{
  .deep_recs {
    padding-left: 20px;
    padding-right: 20px;
  }
  .deep_recs {
    &-articles{
      width: 32.24%;
      &-item{
        &-image{
        }
      }
    }
  }
  .deep-dive-container .deep_recs-articles-item{
    &-content{
      .globalDefaultFont(12px, 800);
      &-dateline{
        display: block;
      }
    }
  }
}
@media @desktop-xl{
  .deep_recs {
    padding-left: 0;
    padding-right: 0;
    &-articles {
      width: 348px;
      margin-bottom: 24px;
      &-item {
        &-image {
          height: 220px;
        }
      }
    }
  }

  .deep-dive-container .deep_recs{
    &-articles{
      width: 348px;
    }
  }
  .deep-dive-container .deep_recs-articles-item{
    &-image{
      height: 220px;
    }
    &-content{
      .globalDefaultFont(12px, 800);
      &-dateline{
        display: block;
      }
    }
  }
}
