@pagewidth: 921px;
@mainwidth: 580px;

.recommendations {
  height: 513px;
  width: @mainwidth;
  &-header {
    border-bottom: 2px solid @strokeGrey;
    &-icon {
      color: @masterBrandColor;
      font-size: 32px;
      font-weight: 400;
      text-align: left;
      margin-right: 15px;
    }
    &-text {
      .globalDefaultFont(32px, 400);
      text-align: left;
    }
  }
  &-articles {
    margin-top: 24px;
    &-six {
      margin: 0 6px;
      color: @black;
      &:hover {
        color: @masterBrandColor;
      }
      &:hover .articleBoxMedium {
        .articleImageLinkWithHoverMedium(180px, 120px);
        div {
          left: 0;
        }
      }
      &-image {
        width: 180px;
        height: 120px;
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      &-text {
        .globalDefaultFont(16px, 800);
        //necessary for multiline ellipses
        display: block;
        display: -webkit-box; line-height: 1.4;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        top: 130px;
      }
      &-time {
        .globalDefaultModFont(12px, 400, @bulletGrey);
        text-align: left;
        margin-top: 5px;
      }
    }
  }
}

.article {
  float: left;
  width: 180px;
  height: 210px;
}

.deep_recs{
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: -30px;
  &-row{
    .flexDisplay;
    .flexJustify(space-between);
  }
  &-articles{
    width: 32.045%;
    margin-bottom: 30px;
    &:hover{
      color: @masterBrandColor;
      .deep_recs-articles-item-content-dateline-keyword{
         color: @black;
      }

    }
    &-item{
      &:hover .deep_recs-articles-item-image-highlight{
        .flexDisplay;
      }
      &-image{
        //this is the minimum value
        width: 100%;
        background-color: @backgroundGrey;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        position: relative;
        display: inline-block;
        line-height: 120px;
        &-highlight{
          position: absolute;
          top:0;
          left:0;
          z-index: 5;
          width:100%;
          height:100%;
          box-shadow: inset 0 0 0 -10000px @masterHighlightColor;
          display: none;
          text-align: center;
          background-color: rgba(188, 32, 39, 0.75);
            p{
            &:first-child{
              .globalDefaultFont(14px, 800);
              line-height: 40px;
              margin:auto;
              width: 130px;
              height: 40px;
              color: @white;
              border: 1px solid @white;
              position: relative;
            }
          }
        }
      }
      &-content{
        margin-top: 10px;
        overflow:hidden;
        text-overflow: ellipsis;
        height: auto;
        width: 100%;
        &-dateline{
          .globalDefaultFont(11px, 800);
          &-keyword{
            margin-right: 3px;
          }
          &-date{
            text-transform: uppercase;
            color: @bulletGrey;
          }
          &-below{
            display: block;
            .globalDefaultFont(12px, 400);
            color: @strokeGrey;
            line-height: 20px;
            margin-top:5px;
          }
        }
        &-teaser{
          margin-top: 0;
          height: auto;
          line-height: 1.2em;
        }
      }
    }
  }
}

//Media Queries for .deep_recs elements;
@media @mobile{
  .deep_recs{
    margin: 0;
    padding: 0 0 0 10px;
    &-row{
      .flexDirection(column);
      width: 50%;
      float: left;
    }
    &-articles{
      width: 100%;
      margin-bottom: 15px;
      &-item{
        &-image{
          height: 25.31vw;
          width: 43.94vw;
        }
        &-content{
          .globalDefaultFont(12px, 400);
          margin-top: 9px;
          line-height: 18px;
          &-dateline{
            font-size: 10px;
            &-date{
              display: none;
            }
            &-below{
              display: none;
            }
          }
        }
      }
    }
  }
}
@media @tablet{
  .deep_recs{
    padding-left: 15px;
    padding-right: 8px;
    &-articles{
      width: 196px;
      &-item{
        &-image{
          height: 136px;
        }
        &-content{
          .globalDefaultFont(16px, 400);
          line-height: 18px;
          margin-top: 14px;
          &-dateline{
            display: block;
            &-below{
              display: none;
            }
          }
          &-teaser{
          }
        }
      }
    }
  }
}

@media @desktop-m {
  .deep_recs {
    padding-left: 0;
    padding-right: 0;
  }
  .deep-dive-container .deep_recs{
    &-articles{
      width: 216px;
      &-item{
        &-image{
          height: 136px;
        }
      }
    }
    &-articles-item{
      &-content{
        .globalDefaultFont(12px, 400);
        margin-top: 10px;
        &-dateline{
          display: block;
          &-below{
            display: none;
          }
        }
      }
    }
  }
}
@media @desktop-l{
  .deep_recs {
    padding-left: 0;
    padding-right: 0;
  }
  .deep_recs {
    &-articles{
  //    width: 32.24%;
      &-item{
        &-content{
          margin-top: 10px;
        }
      }
    }
  }
  .deep-dive-container .deep_recs-articles-item{
    &-content{
      margin-top: 10px;
      .globalDefaultFont(12px, 400);
      &-dateline{
        display: block;
      }
    }
  }
}
@media @desktop-xl{
  .deep_recs {
    padding-left: 0;
    padding-right: 0;
    &-articles {
      width: 348px;
      &-item {
        &-image {
          height: 220px;
        }
        &-content{
          &-dateline{
          }
        }
      }
    }
  }

  .deep-dive-container .deep_recs{
    &-articles{
      width: 348px;
    }
  }
  .deep-dive-container .deep_recs-articles-item{
    &-image{
      height: 220px;
    }
    &-content{
      .globalDefaultFont(12px, 400);
      &-dateline{
        display: block;
      }
    }
  }
}
