@pagewidth: 921px;
@mainwidth: 580px;

.recommendations {
  height: 513px;
  width: @mainwidth;
  &-header {
    border-bottom: 2px solid #d7d7d7;
    &-icon {
      color: #e80f0d;
      font-size: 32px;
      font-weight: 400;
      text-align: left;
      margin-right: 15px;
    }
    &-text {
      .globalDefaultFont(32px, 400);
      text-align: left;
    }
  }
  &-articles {
    margin-top: 24px;
    &-six {
      margin: 0 6px;
      color: #000;
      &:hover {
        color: #bc2027;
      }
      &:hover .articleBoxMedium {
        .articleImageLinkWithHoverMedium(180px, 120px);
        div {
          left: 0;
        }
      }
      &-image {
        width: 180px;
        height: 120px;
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      &-text {
        .globalDefaultFont(16px, 800);
        //necessary for multiline ellipses
        display: block;
        display: -webkit-box;
        line-height: 1.4;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        top: 130px;
      }
      &-time {
        .globalDefaultModFont(12px, 400, @bulletGrey);
        text-align: left;
        margin-top: 5px;
      }
    }
  }
}

.article {
  float: left;
  width: 180px;
  height: 210px;
}

.deep_recs{
  width: 100%;
  margin-left: 25px;
  margin-top: 15px;
  &-articles{
    margin-bottom: 15px;
    &-item{
      margin-right:15px;
      &-image{
        //this is the minimum value
        width: 180px;
        height: 120px;
        background-color: grey;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
      }
      &-content{
        margin-top: 10px;
        overflow:hidden;
        text-overflow: ellipsis;
        width:160px;
        height: 52px;
        &-dateline{
          &-keyword{
            margin-right: 3px;
          }
        }
        &-teaser{
          margin-top: 5px;
          height: 45px;
          font-size: 16px;
          font-weight:900;
        }
      }
    }
  }
}

//Media Queries for .deep_recs elements;
@media (max-width: 730px){
  .deep_recs-articles-item{
    &-image{
      width: 180px;
      height: 120px;
    }
    &-content{
      width: 157px;
      height: 52px;
      font-size: 16px;
      font-weight: 900;
      margin-top: 0px;
      &-dateline{
        display: none;
      }
    }
  }
}
@media (min-width: 731px) and (max-width:786px){
  .deep_recs{
    margin-left: 85px;
    &-articles-item{
      &-image{
        width: 215px;
        height: 136px;
      }
      &-content{
        width: 200px;
        height: 62px;
        font-size: 11px;
        font-weight: 900;
        margin-top: 10px;
        &-dateline{
          display: block;
        }
      }
    }
  }
}
@media @desktop-l{
  .deep_recs-articles-item{
    &-image{
      width: 215px;
      height: 136px;
    }
    &-content{
      width: 200px;
      height: 62px;
      font-size: 11px;
      font-weight: 900;
      &-dateline{
        display: block;
      }
    }
  }
}
@media @desktop-xl{
  .deep_recs-articles-item{
    &-image{
      width: 348px;
      height: 220px;
    }
    &-content{
      width: 316px;
      height: 56px;
      font-size: 11px;
      font-weight: 900;
      &-dateline{
        display: block;
      }
    }
  }
}
