<div class="recommendations">
    <div class="recommendations-header">
        <i class="fa fa-heartbeat recommendations-header-icon"></i><span class="recommendations-header-text">Other Articles You Will Love</span>
    </div>
    <div class="recommendations-articles">
        <span *ngFor="let data of randomHeadlines; let i=index;">
            <a *ngIf="i<6" class="recommendations-articles-six article"
               [routerLink]="['Article-pages', {eventType: data.eventType, eventID: data.eventID}]"
               title="{{data.title}}">
                <span class="articleBoxMedium">
                    <img class="recommendations-articles-six-image" src="{{data.images}}"
                         onerror="this.src='/app/public/no-image.png'"/>
                    <div>
                        <p>View Article</p>
                    </div>
                </span>
                <div class="recommendations-articles-six-text">{{data.title}}</div>
            </a>
        </span>
    </div>
</div>