<div class="recommendations" *ngIf="!isDeepDive">
    <div class="recommendations-header">
        <i class="fa fa-heartbeat"></i><span class="recommendations-header-text">Other Articles You Will Love</span>
    </div>
    <div class="recommendations-articles" (window:resize)="onResize($event)">
        <span *ngFor="let data of randomHeadlines; let i=index;">
            <span *ngIf="!isSmall">
                <a *ngIf="i < 6" class="recommendations-articles-six article"
                   [routerLink]="['Article-pages', {eventType: data.eventType, eventID: data.eventID}]"
                   title="{{data.title}}">
                    <span class="articleBoxMedium">
                        <img class="recommendations-articles-six-image" src="{{data.images}}"
                             onerror="this.src='/app/public/no-image.png'" alt='Article Recommendations Image' />
                        <div>
                            <p>View Article</p>
                        </div>
                    </span>
                    <div class="recommendations-articles-six-text">{{data.title}}</div>
                </a>
            </span>
            <span *ngIf="isSmall">
                <a *ngIf="i < 3" class="deep_recs-ai-articles"
                   [routerLink]="['Article-pages', {eventType: data.eventType, eventID: data.eventID}]"
                   title="{{data.title}}">
                    <div class="deep_recs-ai-articles-item">
                        <div class="deep_recs-ai-articles-item-article-images"
                             [style.background-image]="'url(' + data.images + ')'">
                            <div class="deep_recs-ai-articles-item-article-images-highlight">
                                <p> View Article </p>
                            </div>
                        </div>
                        <div class="deep_recs-ai-articles-item-content">
                            <div class="deep_recs-ai-articles-item-content-dateline">
                                <span class="deep_recs-ai-articles-item-content-dateline-keyword">{{data.keyword}}</span>
                                <span class="deep_recs-ai-articles-item-content-dateline-date">{{data.date}}</span>
                            </div>
                            <div class="deep_recs-ai-articles-item-content-headline">{{data.title}}</div>
                        </div>
                    </div>
                </a>
            </span>
        </span>
    </div>
</div>

<div class="deep_recs" *ngIf="isDeepDive">
  <div class="row">
      <a class="deep_recs-articles" *ngFor="let item of randomHeadlines; let i = even;" [class.clearfix]="i"
          [routerLink]="['Article-pages', {eventType: item.type, eventID: item.event_id}]"
          title="{{item.displayHeadline}}">
        <div class="deep_recs-articles-item">
          <div class="deep_recs-articles-item-image" [style.background-image]="item.bg_image_var">
            <div class="deep_recs-articles-item-image-highlight">
              <p> View Article </p>
            </div>
          </div>
          <div class="deep_recs-articles-item-content">
            <div class="deep_recs-articles-item-content-dateline">
                <span class="deep_recs-articles-item-content-dateline-keyword" [innerHTML]="item.keyword | safeHtml"></span>
                <span class="deep_recs-articles-item-content-dateline-date" [innerHTML]="item.publication_date | safeHtml"></span>
            </div>
            <div class="deep_recs-articles-item-content-dateline-below">
              <span class="deep_recs-articles-item-content-dateline-below-date" [innerHTML]="item.publication_date"></span>
            </div>
            <div class="deep_recs-articles-item-content-teaser" [innerHTML]="item.displayHeadline | safeHtml"></div>
          </div>
        </div>
      </a>
  </div>
</div>
