<section class="module-container">
    <loading-component *ngIf="!headlineData && !error"></loading-component>
    <div *ngIf="headlineData">
        <module-header [modHeadData]="headerInfo"></module-header>
        <article-schedule-component [league]="league" [homeData]="homeData" [awayData]="awayData"></article-schedule-component>
        <article-main-component [mainTitle]="mainTitle" [eventType]="eventType" [mainEventID]="mainEventID" [titleFontSize]="titleFontSize" [mainContent]="mainContent" [mainImage]="mainImage" [league]="league"></article-main-component>
        <article-sub-component [randomLeftColumn]="randomLeftColumn" [teamID]="teamID" [league]="league"></article-sub-component>
        <article-head-to-head-component [arrLength]="arrLength" [randomHeadToHead]="randomHeadToHead" [teamID]="teamID" [league]="league"></article-head-to-head-component>
    </div>
    <!--Empty div to hide module in the event of an error.-->
    <div *ngIf="error"></div>
</section>
