.article-stack-container {
  width: 610px;
  margin: 0 auto;
  .flexDisplay;
  .flexDirection(column);
  &-main{
    max-width: 750px;
  }
}
@media @desktop-m {
  .article-stack-container {
    width:670px;
  }
}//desktop-m ends

@media @desktop-xl {
  .article-stack-container {
    width: 1087px;
    .flexDirection(row);
    &-subs{
      margin-left: 20px;
      margin-top: -15px;
      width: 313px;
    }
  }
}//desktop-xl ends
