.article-stack-container {
  width:610px;
  margin: auto;
}
@media(min-width: 768px) {
  .article-stack-container {
    width:670px;
  }

}
@media(min-width:1300px) { //Places stack-rows to the right of article-stacktop
  .article-stack-container {
    display: flex;
    width: auto;

  }

}
@media(min-width:1400px) {
  .article-stack-container {
    width: 1087px;
  }

}
