.article-stack-container {
  width:610px;
  margin: auto auto 30px;
  .flexDisplay;
  .flexDirection(column);
}
@media @desktop-m {
  .article-stack-container {
    width:670px;
  }

}
@media @desktop-l { //Places stack-rows to the right of article-stacktop
  .article-stack-container {
    width: auto;
  }

}
@media @desktop-xl {
  .article-stack-container {
    width: 1087px;
  }

}
