.widget {
    width: 300px;
    height: 600px;
    background: @white;
    overflow: hidden;
    z-index: 100;
    box-shadow: @modBoxShadow;
    top: 20px;

    &-fixed {
      position: fixed;      
      top: 20px;
    }

    &-bottom {
      position: absolute;   
    }
}