#hl-container{
  height: 60px;
  line-height: 60px;
  padding: 0px 20px 0px 25px;
  font-size: 24px;
  font-weight: 300;
  color: @fontIconGrey;
  position: relative;
  border-left: 5px solid @masterBrandColor;
}

.hl-icon{
  color: @strokeGrey;
  font-size: 30px;
  float: right;
  line-height: 60px;
}
