<section class="media-images">
    <div class="plcholder">
        <circle-button (scrollLeft)="left()" (scrollRight)="right()"></circle-button>
        <a class='feature-btn expand' (click)="modalExpand()">
            {{expandText}}
            <i class='fa {{expandIcon}}'></i>
        </a>
        <div class='feature-btn images'>
            <span>
                <i class='fa fa-file-image-o'></i>
            </span>
            <span>
                {{imagesTitle}} ({{displayCounter}}/{{totalImageCount}})
            </span>
            <i></i>
        </div>
        <span [ngStyle]="{'background-image': 'url(' + largeImage + ')'}" onerror="this.src={{image-url}}"
              class="plcholder-img"></span>
        <div class="grey-bar">
        </div>
    </div>
    <div class="sm-images">
        <div class="sm-images-img">
            <a *ngFor="#smImages of smallImage">
                <span *ngIf="smImages.id == imageCounter" class="carouselImageBoxSmall">
                    <img id="smImg-{{smImages.id}}" [ngClass]="{'square-image-active': smImages.id == imageCounter}"
                         class="square-image" src="{{smImages.image}}" onerror="this.src={{image-url}}"
                         alt="small square images" (click)="changeClick(smImages.id)"/>
                    <div>
                        <p>Now Viewing</p>
                    </div>
                </span>
                <span id="smImg-{{smImages.id}}"
                      class="square-image" [ngStyle]="{'background-image': 'url(' + smImages.image + ')'}"
                      onerror="this.src={{image-url}}"
                      alt="small square images" (click)="changeClick(smImages.id)">
                </span>
            </a>
        </div>
    </div>
</section>
