<!--competitors box-->
<div class="competition">
  <div class="competition-container competition-left">
    <div class="competition-image"></div>
    <div class="competition-details">
      <span>[Home <b>Team</b>]</span>
      <span>Record: [##]-[##]</span>
    </div>
  </div>
  <div class="competition-versus">VS.</div>
  <div class="competition-container competition-right">
    <div class="competition-image"></div>
    <div class="competition-details">
      <span>[Home <b>Team</b>]</span>
      <span>Record: [##]-[##]</span>
    </div>
  </div>
</div>
<!--competitors box END-->
