.competition{//showing two competitors and their main info
  width:100%;
  height:100px;
  background: -webkit-linear-gradient(0deg, @gradientBlue 0%, @gradientRed 100%);
  background: -moz-linear-gradient(0deg, @gradientBlue 0%, @gradientRed 100%);
  background: -o-linear-gradient(0deg, @gradientBlue 0%, @gradientRed 100%);
  background: -ms-linear-gradient(0deg, @gradientBlue 0%, @gradientRed 100%);
  background: linear-gradient(90deg, @gradientBlue 0%, @gradientRed 100%);
  position:relative;

  &-fa {
    font-size:30px;
  }

  &-versus{
    color:@white;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    position: absolute;
    top:40%;
    left:48%;
  }
  &-container{
    width:50%;
    height:100%;
    padding:15px 25px;
  }
  &-left{
    text-align: right;
    float:left;
    & > div{
      float:right;
    }
  }
  &-right{
    text-align: left;
    float:right;
    & > div{
      float:left;
    }
  }

  &-image{
    width:70px;
    height:70px;
    border-radius: 50%;
    background-color: @white;
  }
  &-details{
    margin:auto 15px;
    color:@white;
    position: relative;
    top:25%;
    font-size: 16px;
    & > span{
      display:block;
    }
  }
}//end of competition
