<loading-component *ngIf="!profileHeaderData && !isError"></loading-component>
<error-component *ngIf="isError"></error-component>
<section class='page-container transactions-page'>
  <backtab-component></backtab-component>
  <title-component *ngIf="profileHeaderData" [titleData]="profileHeaderData"></title-component>
  <div *ngIf="profileHeaderData" class="module-container list-page">
    <slider-carousel *ngIf="carouselDataArray" [carouselData]="carouselDataArray" [footerStyle]="footerStyle"></slider-carousel>
    <tabs *ngIf="dataArray" (tabSelected)='selectedTab($event)'>
      <tab *ngFor="#data of dataArray; #i = index" [active]="i == 0" [tabTitle]="data.tabDisplay">
        <div class="tab-inset"> <!-- due to tab having a default value of padding 1em for tab purposes so we just reverse it with margin -->
          <div *ngIf="transactionsDataArray" class="transactions-page-title">
            <p class="transactions-page-dropdown">
              Sorted By: <dropdown [list]="data.sortOptions" [selectedKey]="data.selectedSort" (selectionChanged)="dropdownChanged($event)"></dropdown>
            </p>
            <h4><b>{{pageName}}</b> Report</h4>
          </div>
          <transactions-list-item *ngIf="transactionsDataArray" [transactionsItemData] = 'transactionsDataArray'></transactions-list-item>
          <!--<detailed-list-item *ngIf="transactionsDataArray" [detailedItemData] = 'transactionsDataArray'></detailed-list-item>-->
        </div>
        <no-data-box *ngIf="!transactionsDataArray" [data]="errorData.data" [icon]="errorData.icon"></no-data-box>
      </tab>
    </tabs>
  </div>
</section>
