.transactions-page{
  width:680px;
  height:auto;
  &-title{
    margin: 12px 20px;
  }
  &-dropdown{
    margin: 0px;
    float: right;
    display: flex;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
    .dropdown{
      margin-left: 10px;
    }
  }
  &-container{
    width:100%;
  }
  .tab-inset{
    margin: -10px -10px 0 -10px;
  }
  .no-data{
    height: 70px;
    margin: 5px auto;
  }
}
