<loading-component *ngIf="!dataArray && !isError"></loading-component>
<error-component *ngIf="isError"></error-component>
<section *ngIf="dataArray" class='page-container'>
  <div>{{ listData | json}}</div>
  <backtab-component></backtab-component>
  <title-component [titleData]="profileHeaderData"></title-component>
  <div class="module-container list-page">
    <slider-carousel *ngIf="carouselDataArray" [carouselData]="carouselDataArray" [footerStyle]="footerStyle"></slider-carousel>
    <div *ngIf="detailedDataArray">
      <list-of-list-item *ngFor="#itemData of detailedDataArray" [item] = 'itemData'></list-of-list-item>
    </div>
    <no-data-box *ngIf="!detailedDataArray" [data]="errorData"></no-data-box>
  </div>
</section>