<loading-component *ngIf="!dataArray && !isError"></loading-component>
<error-component *ngIf="isError"></error-component>
<section *ngIf="dataArray" class='page-container'>
  <div>{{ listData | json}}</div>
  <backtab-component></backtab-component>
  <title-component [titleData]="titleData"></title-component>
  <div class="module-container list-page">
    <slider-carousel *ngIf="carouselDataArray" [carouselData]="carouselDataArray" [footerStyle]="footerStyle"></slider-carousel>
    <div *ngIf="displayData">
      <list-of-lists-item *ngFor="#itemData of displayData" [item] = 'itemData'></list-of-lists-item>
      <pagination-footer *ngIf="paginationParameters" [paginationParameters]="paginationParameters" (newIndex)="newIndex($event)"></pagination-footer>
    </div>
    <no-data-box *ngIf="!displayData" [data]="errorData"></no-data-box>
  </div>
</section>