<div class="dropdown" (click)="displayDropdown()" 
  [class.dropdown-active]="isDropdownVisible"
  [class.dropdown-disabled]="!isDropdownEnabled">
  <div class="dropdown-hdr">
    <span class="dropdown-hdr-value">
      {{selectedItem.value}}
    </span>
    <span class="dropdown-hdr-button">
      <i class="fa {{isDropdownVisible ? dropdownVisibleIcon : dropdownHiddenIcon}}"></i>
    </span>
  </div>
  
  <div *ngIf="isDropdownVisible" class="dropdown-wrapper">        
    <div class="dropdown-caret-top" [class.dropdown-caret-top-hover]="highlightCaret"></div>
    <scrollable-content class="dropdown-list dropdown-list-scroll"
      [class.dropdown-list-scroll]="list.length > 5">
      <div *ngFor="#item of list; #i=index" 
        class="dropdown-list-option"
        (mouseenter)="onMouseEnter(i)"
        (mouseleave)="onMouseLeave(i)"
        (click)="setSelected(item)">
        <span [innerHtml]="item.value"></span>
      </div>
    </scrollable-content>
  </div>
</div>
