<div *ngIf="teamProfileHeaderData" class="page page-container">
    <profile-header [profileHeaderData]="teamProfileHeaderData"></profile-header>
      
    <comparison-module [modelData]="comparisonModuleData" [profileName]="teamProfileHeaderData.profileName"></comparison-module>
    
    <player-stats-module *ngIf="playerStatsData" [data]="playerStatsData" (tabSelected)="playerStatsTabSelected($event)"></player-stats-module>
    
    <!--<div class="component-compmodule-container">
    <season-stats-module></season-stats-module>
  </div>
<dyk-module></dyk-module>
  <faq-module></faq-module>
  <div class="component-compbar-container">
      <schedules></schedules>
    </div>

    <div class="component-compbar-container">
      <schedules-component></schedules-component>
    </div>

     <div class="component-compbar-container">
      <team-roster-module></team-roster-module>
    </div>

    <div class="component-compbar-container">
      <standings-module [data]="standingsData" (tabSelected)="standingsTabSelected($event)"></standings-module>
    </div>

    <div class="component-compbar-container">
      <draft-history></draft-history>
    </div>

    <div class="component-compbar-container">
      <profile-header [profileHeaderData]="playerProfileHeaderData"></profile-header>
    </div>

    <div class="component-compbar-container">
      <profile-header [profileHeaderData]="teamProfileHeaderData"></profile-header>
    </div>

     <div class="component-compbar-container">
      <news-module></news-module>
    </div> -->

    <!-- <div class="component-compbar-container">
      <schedules></schedules>
    </div>

    <div class="component-compbar-container">
      <box-scores></box-scores>
    </div>

    <div class="component-compbar-container">
      <profile-header [profileHeaderData]="teamProfileHeaderData"></profile-header>
    </div>

    <div class="component-compbar-container">
      <list-of-lists></list-of-lists>
    </div>

    <div class="component-compbar-container">
      <schedules></schedules>
    </div>

    <div class="component-compbar-container">
      <share-button-component></share-button-component>
    </div>

    <div class="component-compmodule-container">
        <comparison-module></comparison-module>
    </div>

    <div class="component-compbar-container">
      <about-us></about-us>
    </div> -->
</div>
