<div class="page-container">
    <div class="component-compbar-container">
      <box-scores></box-scores>
    </div>

    <search></search>

    <div class="component-compbar-container">
      <share-button-component></share-button-component>
    </div>

    <div class="component-compbar-container">
      <team-roster-module></team-roster-module>
    </div>

    <div class="component-compmodule-container">
        <comparison-module></comparison-module>
    </div>

    <div class="component-compmodule-container">
        <season-stats-module></season-stats-module>
    </div>

    <div class="component-compbar-container">
      <draft-history></draft-history>
    </div>

    <div class="component-compbar-container">
      <schedules></schedules>
    </div>

    <div class="component-compbar-container">
      <about-us></about-us>
    </div>
</div>
