<div>component page</div>
<div class="page-container">
    <div class="component-compmodule-container">
        <comparison-module></comparison-module>
    </div>
    <div class="component-compbar-container">
        <comparison-bar></comparison-bar>
    </div>
    <div class="component-comptile-container">
        <comparison-tile></comparison-tile>
    </div>
    <div class="component-compbar-container">
      <slider-carousel></slider-carousel>
    </div>
    <div class="component-compbar-container">
      <draft-history></draft-history>
    </div>
    <div class="component-compbar-container">
      <draft-history></draft-history>
    </div>
    <div class="component-compbar-container">
      <schedules></schedules>
    </div>
</div>
