<div class="search-large">
    <input class="search-input" (keydown)="searchKeydown($event)" [ngFormControl]="term" placeholder="Enter your favorite team or player"/>
    <button class="search-button">
        <i class="fa fa-search"></i>
    </button>
    <ul *ngIf="showDropdown" class="search-dropdown">
        <div class="search-dropdown-caret"></div>
        <li *ngFor="#item of dropdownList" class="search-dropdown-item">
            {{item.text1}}<span class="text-bold">{{item.text2}}</span>
            <i class="fa fa-angle-right"></i>
        </li>
    </ul>
</div>
