<div *ngIf="searchInput" class="search-large">
    <form (ngSubmit)="onSubmit()">
        <div class="search-input-container">
            <input class="search-input autocomplete" disabled [value]="autoCompleteText" />
            <input class="search-input main" [class.search-empty]="!hasInputText" (keydown)="searchKeydown($event)" [ngFormControl]="term" autocomplete="off" placeholder="{{searchInput.placeholderText}}"/><hr/>
        </div>
        <button type="submit" class="search-button">
            <i class="fa fa-search"></i>
        </button>
    </form>
    <div *ngIf="searchInput.hasSuggestions && dropdownIsFocused && hasInputText" class="search-dropdown">
        <div class="search-dropdown-caret"></div>
        <div *ngIf="dropdownList.length === 0" class="search-no-results">
            No Results Found
        </div>
        <ul *ngIf="dropdownList.length > 0" (click)="unFocus()" (mouseout)="resetSelected()">
          <li class="search-dropdown-items" *ngFor="let item of dropdownList; let i = index;" (mouseover)="itemHovered(i)">
            <a [routerLink]="item.routerLink" class="search-dropdown-item" [ngClass]="{active: (i === selectedIndex)}">
              <span class="search-dropdown-item-img"><circle-image [data]="item.imageUrl"></circle-image></span>
              <span class="search-dropdown-item-title" [innerHtml]="item.title"></span>
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
        </ul>
    </div>
  </div>
