<div *ngIf="searchInput" class="search-large">
    <div class="search-input-container">
        <input class="search-input autocomplete" disabled [value]="autoCompleteText" />
        <input #mainInput class="search-input main" (keydown)="searchKeydown($event)" [ngFormControl]="term" placeholder="{{searchInput.placeholderText}}"/>
    </div>
    <button class="search-button">
        <i class="fa fa-search"></i>
    </button>
    <ul *ngIf="searchInput.hasSuggestions && showDropdown && dropdownList.length > 0" (mouseout)="resetSelected()" class="search-dropdown">
        <div class="search-dropdown-caret"></div>
        <li *ngFor="#item of dropdownList; #i = index" (mouseover)="itemHovered(i)" class="search-dropdown-item" [innerHtml]="item.title" [ngClass]="{active: (i + 1 === selectedIndex)}" >
            <i class="fa fa-angle-right"></i>
        </li>
    </ul>
</div>
