<div class="tr-details" *ngFor="#dataItem of tableRowImg">
    <div class="tr-details-field" style="width: 285px;">
      <span><circle-image [data]="dataItem.imageData"></circle-image></span>
      <span>[Last, First1]</span>
    </div>
    <div class="tr-details-field1" style="width: 60px;">
      [XX]
    </div>
    <div class="tr-details-field1" style="width: 75px;">
      [#'#"]
    </div>
    <div class="tr-details-field1" style="width: 75px;">
      [###] lbs.
    </div>
    <div class="tr-details-field1" style="width: 50px;">
      [##]
    </div>
    <div class="tr-details-field1" style="width: 90px;">
      $[###,###]
    </div>
</div>
