.profile {
  &-carousel {
    width: 100%;
    height: 50%;
    position: relative;
  }
}

.article {
  &-carousel {
    width: 100%;
    height: 100%;
    position: relative;
  }
}

.plcholder {
  height: 73%;
  width: 100%;
  position: relative;
  &-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  &-details {
    .inlineFlexDisplay;
    .flexDirection(row);
    .flexAlignItems(center);
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 21%;
    position: absolute;
    bottom: 0;
  }
}

.grey-bar {
  width: 100%;
  height: 26px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  color: #379afc;
  font-size: 80%;
  font-weight: 800;
  &-credit {
    color: @white;
    font-weight: 400;
  }
}

.expand {
  cursor: pointer;
  top: 10px;
  left: 20px;
}

.virtual {
  top: 10px;
  right: 210px;
}

.images {
  @colorImages: @masterBrandColor !important;
  background-color: @colorImages;
  border-color: @colorImages;
  right: 25px;
  top: 10px;
  span:first-child {
    padding-right: 5px;
  }
}

.sm-images {
  background-color: @backgroundGrey;
  height: 18%;
  width: 100%;
  border-bottom: 1px solid @strokeGrey;
  overflow: hidden;
  position: relative;
  &-container {
    width: 19%;
    height: 85%;
    margin: 1% .5%;
    float: left;
  }
  &-square-image {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    &:hover:after {
      border: 2px solid #ba1a2a;
      background: rgba(188, 22, 36, 0.5);
      cursor: pointer;
      content: "";
      width: 19%;
      height: 85%;
      position: absolute;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      padding-top: 18px;
      padding-bottom: 18px;
    }
    &-active {
      width: 100%;
      height: 100%;
      border: 2px solid #ba1a2a;
      pointer-events: none;
    }
  }
}

.carouselImageBoxSmall {
  .carouselImageLinkSmall(19%, 85%);
}

