<section *ngIf="isProfilePage" class="module-container images-media-module">
    <div class="article-carousel">
        <module-header [modHeadData]="modHeadData"></module-header>
        <loading-component *ngIf="!imageData"></loading-component>
        <div *ngIf="imageData" class="plcholder">
            <a class='feature-btn expand' (click)="modalExpand()">
                {{expandText}}
                <i class='fa {{expandIcon}}'></i>
            </a>
            <div class='feature-btn images'>
                <span>
                    <i class='fa fa-file-image-o'></i>
                </span>
                <span>
                    {{imagesTitle}} ({{displayCounter}}/{{totalImageCount}})
                </span>
            </div>
            <span [ngStyle]="{'background-image': 'url(' + largeImage + ')'}"
                  class="plcholder-img">
                <circle-button class="plcholder-img-navigation" (scrollLeft)="left()"
                               (scrollRight)="right()"></circle-button>
            </span>
            <div class="grey-bar">Photo by<span class="grey-bar-credit">{{imageCredit}}</span></div>
        </div>
        <div *ngIf="imageData" class="sm-images">
            <span *ngFor="#smImages of smallImage; #i=index;">
                <div class="sm-images-container">
                    <div *ngIf="smImages.id == imageCounter" class="carouselImageBoxSmall">
                        <span id="smImg-{{i}}" [ngStyle]="{'background-image': 'url(' + smImages.image + ')'}"
                              [ngClass]="{'sm-images-square-image-active': i == smallObjCounter}">
                        </span>
                        <div>
                            <p>Now Viewing</p>
                        </div>
                    </div>
                    <div id="smImg-{{i}}"
                         class="sm-images-square-image" [ngStyle]="{'background-image': 'url(' + smImages.image + ')'}"
                         alt="small square images" (click)="changeClick(i)">
                    </div>
                </div>
            </span>
        </div>
    </div>
</section>

<section *ngIf="!isProfilePage" class="article-carousel">
    <loading-component *ngIf="!imageData"></loading-component>
    <div *ngIf="imageData" class="plcholder">
        <a class='feature-btn expand' (click)="modalExpand()">
            {{expandText}}
            <i class='fa {{expandIcon}}'></i>
        </a>
        <div class='feature-btn images'>
                <span>
                    <i class='fa fa-file-image-o'></i>
                </span>
                <span>
                    {{imagesTitle}} ({{displayCounter}}/{{totalImageCount}})
                </span>
        </div>
            <span [ngStyle]="{'background-image': 'url(' + largeImage + ')'}"
                  class="plcholder-img">
                <circle-button class="plcholder-img-navigation" (scrollLeft)="left()"
                               (scrollRight)="right()"></circle-button>
            </span>
        <div class="grey-bar">Photo by<span class="grey-bar-credit">{{imageCredit}}</span></div>
    </div>
    <div *ngIf="imageData" class="sm-images">
            <span *ngFor="#smImages of smallImage; #i=index;">
                <div class="sm-images-container">
                    <div *ngIf="smImages.id == imageCounter" class="carouselImageBoxSmall">
                        <span id="smImg-{{i}}" [ngStyle]="{'background-image': 'url(' + smImages.image + ')'}"
                              [ngClass]="{'sm-images-square-image-active': i == smallObjCounter}">
                        </span>
                        <div>
                            <p>Now Viewing</p>
                        </div>
                    </div>
                    <div id="smImg-{{i}}"
                         class="sm-images-square-image" [ngStyle]="{'background-image': 'url(' + smImages.image + ')'}"
                         alt="small square images" (click)="changeClick(i)">
                    </div>
                </div>
            </span>
    </div>
</section>
<div class="modal" (keyup)="close($event)" [ngClass]="{'modal-open': expand == true}">
    <div class="modal-exit" (click)="modalExpand()">X</div>
    <section *ngIf="isProfilePage">
        <div class="modal-plcholder">
            <span [ngStyle]="{'background-image': 'url(' + largeImage + ')'}"
                  class="modal-plcholder-img">
                <circle-button class="modal-plcholder-img-navigation" (scrollLeft)="left()"
                               (scrollRight)="right()"></circle-button>
            </span>
            <div class="modal-grey-bar">Photo by<span class="modal-grey-bar-credit">{{imageCredit}}</span></div>
        </div>
    </section>

    <section *ngIf="!isProfilePage">
        <div class="modal-plcholder">
            <span [ngStyle]="{'background-image': 'url(' + largeImage + ')'}"
                  class="modal-plcholder-img">
                <circle-button class="modal-plcholder-img-navigation" (scrollLeft)="left()"
                               (scrollRight)="right()"></circle-button>
            </span>
            <div class="modal-grey-bar">Photo by<span class="modal-grey-bar-credit">{{imageCredit}}</span></div>
        </div>
    </section>
</div>