.au{
  width: 680px;
  height: auto;
  min-height: 900px;
  border: none;
  &-heading{
    .globalDefaultFont(18px, 400);
    position: relative;
    border-top: 1px solid @strokeGrey;
    line-height: 28px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 3px;
    width: 680px;
  }
  &-desc{
    .globalDefaultFont(14px, 400);
    margin: 15px auto;
    text-align: left;
    width: 650px;
    line-height: 20px;
    &-headline{
      .globalDefaultFont(18px, 700);
      padding-bottom: 10px;
      border-bottom: 1px solid @strokeGrey;
    }
  }
}

.au-hr {
  border: none;
  height: 1px;
  width: 650px;
  color: @strokeGrey;
  background-color: @strokeGrey;
}
