<div class="articles-page-content">
    <shareLinks-component [url]="url"></shareLinks-component>
    <div class="articles-page-title">{{title}}</div>
    <ai-carousel [imageData]="imageData"></ai-carousel>
    <div class="arpt">
        <!--<div class="arpt-author">-->
            <!--<div class="arpt-author-image"></div>-->
            <!--<div class="arpt-author-text">-->
                <!--By <span class="arpt-author-text-name">Hoopsloyal Columnist</span>-->
            <!--</div>-->
        <!--</div>-->
        <div class="arpt-date">{{date}}</div>
    </div>
    <article-content-component [articleType]="articleType" [articleSubType]="articleSubType" [articleData]="articleData"></article-content-component>
    <disqus-component [comment]="comment"></disqus-component>
    <recommendations-component [randomHeadlines]="randomHeadlines" [images]="images"></recommendations-component>
    <trending-component></trending-component>
    <!--<div class="four-col">-->
    <!--&lt;!&ndash;<widget-module></widget-module>&ndash;&gt;-->
    <!--</div>-->
</div>