<div class="syndicated-trending" (window:scroll)="onScroll($event)">
    <div class="syndicated-trending-hr"></div>
    <div class="syndicated-trending-main-title">TRENDING ARTICLES</div>
    <div class="syndicated-trending-hr"></div>
    <div class="syndicated-trending-container"  *ngFor="let item of articleData; let rowIndex = index">
      <div *ngIf="item.id != currentArticleId">
        <span class="featured-tag" *ngIf="rowIndex == 0">FEATURED</span>
        <shareLinks-component></shareLinks-component>
        <div class="featured-tag-large" *ngIf="rowIndex == 0"><div class="vr"></div><i class="fa fa-newspaper-o"></i>FEATURED ARTICLE</div>
        <a [routerLink] ="item.newsRoute">
          <div class="syndicated-trending-article-title">{{item.title}}</div>
        <div class="arpt">
          <div class="arpt-author">By {{item.author}} - Reporter {{item.publisher}}</div>
          <div class="arpt-date">Posted On: {{item.date}}</div>
        </div>
        <div class="trending-article-image">
          <img [src]="item.image" onerror="this.src='/app/public/no-image.png'" alt="Trending Article Image"/>
        </div>
        <div class="syndicated-trending-article-content" [innerHTML]="item.teaser | safeHtml">
        </div>
            <div class="syndicated-trending-read-more">Read the article <i class="fa fa-arrow-right"></i></div>
        </a>
        <div class="syndicated-trending-hr"></div>
        <div class="syndicated-trending-hr-responsive"></div>
        <responsive-widget [embedPlace]="widgetPlace" *ngIf="rowIndex == 0 || (!((rowIndex + 1) % 2) && rowIndex != 1) "></responsive-widget>
      </div>
    </div>
    <div class="more">
      <a>
        <div id="loadingArticles" class="syndicated-trending-load-more"><i class="fa fa-newspaper-o"></i> Load More</div>
      </a>
    </div>
</div>
