<div class="syndicated-trending">
    <div class="syndicated-trending-hr"></div>
    <div class="syndicated-trending-main-title">TRENDING ARTICLES</div>
    <div class="syndicated-trending-hr"></div>
    <div class="syndicated-trending-container">
        <span class="featured-tag">FEATURED</span>
        <shareLinks>Share Links</shareLinks>
        <div class="featured-tag-large"><div class="vr"></div><i class="fa fa-newspaper-o"></i>FEATURED ARTICLE</div>
        <div class="syndicated-trending-article-title">Lorem ipsum dolor sit amet</div>
        <div class="arpt">
          <div class="arpt-author">By <b>name</b> - Reporter <b>publisherName</b></div>
          <div class="arpt-date">Posted: on month day year, at 12:12 PM CST</div>
        </div>
        <div class="syndicated-trending-article-content">
          Lorem ipsum dolor sit amet, decore commodo aliquando ne has, cu pri munere aliquid, unum sale quo id. Duo ei elit vocent platonem, no cum debet alienum, per aliquid laboramus ne. At sonet errem solet eam, paulo iriure integre cu pri. Mei an quot apeirian scriptorem, mel no primis consulatu, ut corpora placerat nominati duo. Ea reque eleifend est.<br><br>
          No offendit intellegat duo. An vim nisl graeco sadipscing, vix ex interesset complectitur. Diam insolens assentior usu ne, alterum antiopam corrumpit eu nec, paulo virtute voluptaria ne duo. Ea cibo docendi mediocritatem est, vix an quaeque eloquentiam philosophia.
        </div>
        <a>
            <div class="syndicated-trending-read-more">Read the Full Article <i class="fa fa-arrow-right"></i></div>
        </a>
        <div class="syndicated-trending-hr"></div>
        <div class="syndicated-trending-hr-responsive"></div>
        <responsive-widget [embedPlace]="widgetPlace"></responsive-widget>
    </div>
    <div class="syndicated-trending-hr"></div>
    <div class="more">
      <a>
        <div class="syndicated-trending-load-more"><i class="fa fa-newspaper-o"></i> Load More</div>
      </a>
    </div>
</div>
